@import "mixins";
@import "variables";

:host {
  background-color: #eee;
  height: 100%;
}

.loading {
  padding: 1rem;
}

.list-files {
  padding: .5rem;

  h3 {
    @include font-size(16);
    font-weight: 400;
  }

  .btn-group-vertical {
    width: 100%;
  }

  .btn-file {
    color: $input-color;
    font-weight: 400;
    text-align: left;
    word-break: break-all;

    &.active {
      background-color: #fff;
    }
  }
}
