<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="collection">
  <div class="form-group">
    <label for="educationalLevels">
      {{ 'forms.collection.educational.educationalLevels.label' | translate }}
    </label>

    <ng-select
      [items]="educationalLevels"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="value"
      groupBy="children"
      labelForId="educationalLevels"
      formControlName="educationalLevels"
    >
      <ng-template ng-optgroup-tmp let-item="item">
        {{ item.value }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{ item.value }}
      </ng-template>
    </ng-select>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previous()"
      >{{ 'forms.common.previous' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="emitAbort()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
