<div class="card-collection" *ngIf="collection">
  <a [routerLink]="['/kokoelma', collection.id]" class="header">
    <div class="row no-gutters">
      <div class="col-sm-4 col-md-12 col-lg-5 text-center text-sm-left text-md-center text-lg-left mb-3 mb-lg-0">
        <img
          [src]="collection.thumbnail"
          class="img-fluid"
          [alt]="'demo.educationalMaterial.cover.alt' | translate"
        >
      </div>

      <div class="col-sm-8 col-md-12 col-lg-7 px-sm-3">
        <h3>
          {{ collection.name }}
        </h3>

        <p *ngIf="collection.description">{{ collection.description | truncate:[75] }}</p><!--description-->

        <ul class="list-unstyled authors">
          <li *ngFor="let author of collection.authors">{{ author }}</li>
        </ul><!--authors-->
      </div>
    </div>
  </a>

  <div class="tags" *ngIf="collection.educationalLevels.length > 0">
    <button type="button" class="btn btn-light disabled" disabled *ngFor="let level of educationalLevels">
      {{ level.value }}
    </button>

    <button type="button" class="btn btn-light disabled" disabled *ngIf="collection.educationalLevels.length > educationalLevels.length">
      +{{ collection.educationalLevels.length - educationalLevels.length }}
    </button>
  </div><!--educationalLevels-->

  <div class="tags">
    <button type="button" class="btn btn-light disabled" disabled *ngFor="let keyword of keywords">
      {{ keyword.value }}
    </button>

    <button type="button" class="btn btn-light disabled" disabled *ngIf="collection.keywords.length > keywords.length">
      +{{ collection.keywords.length - keywords.length }}
    </button>
  </div><!--keywords-->

  <div class="tags" *ngIf="allLanguages">
    <button type="button" class="btn btn-light disabled" disabled *ngFor="let lang of collection.languages">
      {{ getLanguage(lang) }}
    </button>
  </div><!--languages-->
</div>
