@import "mixins";

.block-header {
  background-color: #f9f9f9;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
}

#filters {
  h3 {
    @include font-size(18);
    margin-bottom: 0;
  }

  .badge {
    @include font-size(16);
    font-weight: 400;
  }
}

.filter {
  border-bottom: 2px solid #eee;
  padding: 1.5rem 1rem;

  .header {
    h4 {
      @include font-size(18);
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  .content {
    padding-left: 1rem;
    padding-top: .5rem;

    .custom-control-label {
      @include font-size(12);
      padding-top: .125rem;
    }

    h5 {
      @include font-size(14);
    }

    .children {
      margin-bottom: .5rem;
    }
  }
}

.results-count {
  @include font-size(14);
  font-weight: 500;
}
