<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <ng-container [ngSwitch]="lang">
          <ng-container *ngSwitchDefault>
            <p>Olet kirjautunut onnistuneesti ulos aoe.fi-sivustolta. <a [routerLink]="['/etusivu']">Palaa etusivulle</a></p>
          </ng-container>

          <ng-container *ngSwitchCase="'en'">
            <p>You have logged out of aoe.fi. <a [routerLink]="['/etusivu']">Return to the front page</a></p>
          </ng-container>

          <ng-container *ngSwitchCase="'sv'">
            <p>Du har loggat ut från aoe.fi. <a [routerLink]="['/etusivu']">Återvänd till huvudsidan</a></p>
          </ng-container>
        </ng-container>
      </div>
    </div><!--/.row-->
  </div>
</div>
