{
    "root": true,
    "overrides": [
        {
            "files": [
                "*.ts"
            ],
            "parserOptions": {
                "project": [
                    "tsconfig.json"
                ],
                "createDefaultProgram": true
            },
            "extends": [
                "plugin:@angular-eslint/recommended",
                "plugin:@angular-eslint/template/process-inline-templates",
                "plugin:@typescript-eslint/recommended",
                "plugin:prettier/recommended",
                "prettier"
            ],
            "plugins": [
                "prettier"
            ],
            "rules": {
                "@angular-eslint/component-selector": [
                    "off",
                    {
                        "prefix": "app",
                        "style": "kebab-case",
                        "type": "element"
                    }
                ],
                "@angular-eslint/directive-selector": [
                    "error",
                    {
                        "prefix": "app",
                        "style": "camelCase",
                        "type": "attribute"
                    }
                ],
                "@typescript-eslint/no-inferrable-types": "off",
                "@typescript-eslint/no-empty-function": "off",
                "@typescript-eslint/no-explicit-any": "off",
                "@typescript-eslint/no-unused-vars": "off",
                "arrow-body-style": [
                    "error",
                    "as-needed"
                ],
                "arrow-parens": [
                    "off",
                    "always"
                ],
                "brace-style": [
                    "off",
                    "off"
                ],
                "linebreak-style": "off",
                "max-len": "off",
                "new-parens": "off",
                "newline-per-chained-call": "off",
                "no-extra-semi": "off",
                "no-irregular-whitespace": "off",
                "no-trailing-spaces": "off",
                "no-lone-blocks": "off",
                "space-in-parens": [
                    "off",
                    "never"
                ],
                "prettier/prettier": [
                    "error",
                    {
                        "endOfLine": "auto"
                    }
                ]
            }
        },
        {
            "files": [
                "*.html"
            ],
            "extends": [
                "plugin:@angular-eslint/template/recommended",
                "plugin:prettier/recommended",
                // Enables eslint-plugin-prettier and eslint-config-prettier
                "prettier"
            ],
            "rules": {}
        }
    ]
}
