include:
  - ./docker-compose.yml

name: aoe-ci
services:

  aoe-web-frontend:
    networks:
      - default
    environment:
      - ENV=ci

  test-runner:
    build:
      context: .
      dockerfile: Dockerfile.playwright-test-runner 
    networks:
      - default
    volumes:
      - ./screenshots:/screenshots
      - ./playwright-results:/playwright-results
    environment:
      - CI=true
      - GITHUB_SHA
      - GITHUB_SERVER_URL
      - GITHUB_REPOSITORY
      - GITHUB_RUN_ID
    depends_on:
      nginx:
        condition: service_started

  aoe-streaming-app:
    environment:
      - NODE_ENV=development
    env_file:
      - path: ./aoe-streaming-app/.env.ci

  aoe-data-services:
    env_file:
      - path: ./aoe-data-services/.env.ci

  aoe-semantic-apis:
    env_file:
      - path: ./aoe-semantic-apis/.env.ci
        required: true

  aoe-data-analytics:
    env_file:
      - path: ./aoe-data-analytics/.env.ci

  aoe-web-backend:
    volumes:
      - ./aoe-web-backend/src:/app/src:rw
    environment:
      - NODE_ENV=development
    env_file:
      - ./aoe-web-backend/.env.ci

  postgres:
    volumes:
      - ./docker/init-scripts/aoe-init.sql:/docker-entrypoint-initdb.d/1-init.sql
      - ./docker/init-scripts/aoe-user.sql:/docker-entrypoint-initdb.d/2-init.sql
      - ./docker/dev/postgres_data:/var/lib/postgresql/data

  opensearch:
    environment:
      - DISABLE_SECURITY_PLUGIN=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Asfsadfsad!@2

  aoe-oidc-server:
    networks:
      - default
    expose:
      - 80
      - 443


  nginx:
    networks:
      default:
        aliases:
          - demo.aoe.fi
