include:
  - ./docker-compose.yml

name: aoe-local
services:

  aoe-web-frontend:
    environment:
      - ENV=demo

  aoe-streaming-app:
    environment:
      - NODE_ENV=development
    env_file:
      - path: ./aoe-streaming-app/.env

  aoe-data-services:
    env_file:
      - path: ./aoe-data-services/.env

  aoe-semantic-apis:
    env_file:
      - path: ./aoe-semantic-apis/.env
        required: true

  aoe-data-analytics:
    env_file:
      - path: ./aoe-data-analytics/.env

  aoe-web-backend:
    build:
      dockerfile: ./docker/Dockerfile.local
    volumes:
      - ./aoe-web-backend/src:/app/src:rw
    environment:
      - NODE_ENV=development
    env_file:
      - ./aoe-web-backend/.env

  postgres:
    volumes:
      - ./docker/init-scripts/aoe-init.sql:/docker-entrypoint-initdb.d/1-init.sql
      - ./docker/init-scripts/aoe-user.sql:/docker-entrypoint-initdb.d/2-init.sql

  opensearch:
    environment:
      - DISABLE_SECURITY_PLUGIN=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Asfsadfsad!@2

networks:
  default:
    name: aoe_local-dev

volumes:
  postgres_data:

secrets:
  trust_store_password:
    environment: TRUST_STORE_PASSWORD
