<div class="content-wrapper" id="home-search-block">
  <div class="container">
    <div class="row">
      <div class="col justify-content-center">
        <h1 class="text-center">{{ 'home.search.title' | translate }}</h1>

        <app-search></app-search>
      </div>
    </div><!--/.row-->
  </div>
</div>

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <ng-container [ngSwitch]="lang">
          <ng-container *ngSwitchDefault>
            <p>Avointen oppimateriaalien palvelussa voit hakea, löytää, koota ja tallentaa omia avoimia oppimateriaaleja kaikilta koulutusasteilta. Vaiheittain vuonna 2019 ja 2020 käyttöön tulevaa palvelua ja sieltä löytyviä oppimateriaaleja voivat käyttää niin opettajat, oppijat kuin aivan kaikki kansalaiset. Aoe.fi-sivustolta saat tietoa palvelun kehittämisestä ja sen etenemisestä. Palvelua kehittävät Opetus- ja kulttuuriministeriö ja Opetushallitus ja sen kehitystä koordinoi CSC – Tieteen tietotekniikan keskus.</p>

            <h3>Osallistu jakamiseen</h3>
            <p>Avointen oppimateriaalien palveluun voi nyt tallentaa omia avoimia oppimateriaaleja aoe.fi-sivulta. Materiaalit ovat heti käytössäsi ja tulevat muille käyttäjille haettaviksi maaliskuussa 2020. Aloita jakaminen klikkaamalla kirjaudu sisään! Lue lisää <a [routerLink]="['/lisatietoa']">Lisätietoa</a>-sivulta.</p>

            <h3>Miten palvelun kehitys etenee?</h3>
            <p>Avointen oppimateriaalien palvelu on vielä kehityksessä ja vuonna 2019 ja 2020 pilotoimme palvelun eri toiminnallisuuksia. Voit nyt tallentaa oppimateriaalejasi ja maaliskuussa 2020 materiaaleja voi kätevämmin löytää palvelusta. Voit odottaa palvelua seuraavan aikataulun mukaisesti:</p>
            <img src="assets/img/aoe_polku.png" class="img-fluid">
          </ng-container>

          <ng-container *ngSwitchCase="'en'">
            <p>In the Open Educational Resources (OER) Service, you can search for, find, compile and save your own open educational resources from all levels of education. Gradually introduced from 2019 to 2020, the service and its OER are available for use by teachers, learners and everyone else in the country. Visit aoe.fi to find out more about the development of the service and keep up to date with its progress. The service is being developed by the Ministry of Education and Culture and the Finnish National Agency for Education, and its development is coordinated by CSC – IT Center for Science.</p>

            <h3>Start sharing</h3>
            <p>You can now save your own OER from the aoe.fi website in the Open Educational Resources Service. Other users will be able to search for the materials in March 2020, but they are immediately available to you. Start sharing by logging in! Visit the <a [routerLink]="['/lisatietoa']">Further information</a> page for more info.</p>

            <h3>What can I expect in the future?</h3>
            <p>The Open Educational Resources Service is still under development, and we are piloting different aspects of the service in 2019 and 2020. You can now save your own open educational resources, and in March 2020, material in the service will be more easily accessible. You can expect new services in accordance with the following schedule:</p>
            <img src="assets/img/aoe_path.png" class="img-fluid">
          </ng-container>

          <ng-container *ngSwitchCase="'sv'">
            <p>I tjänsten för öppna lärresurser kan du söka, hitta, sammanställa och spara egna öppna lärresurser från alla utbildningsstadier. Tjänsten tas i bruk stegvis under 2019 och 2020 och materialet är tillgängligt för alla lärare, lärande och andra intresserade. På webbplatsen aoe.fi kan du läsa hur utvecklingen av tjänsten framskrider. Tjänsten utvecklas av Undervisnings- och kulturministeriet och Utbildningsstyrelsen och utvecklingen koordineras av CSC – Tieteen tietotekniikan keskus.</p>

            <h3>Delta i delandet</h3>
            <p>Nu kan man spara egna öppna lärresurser i tjänsten via webbplatsen aoe.fi. Du kan använda materialet direkt och det blir sökbart för andra användare i mars 2020. Börja dela material genom att klicka på logga in! Läs mer på sidan <a [routerLink]="['/lisatietoa']">Vanliga frågor</a>.</p>

            <h3>Hur framskrider utvecklingen av tjänsten?</h3>
            <p>Tjänsten för öppna lärresurser är ännu under utveckling och dess funktioner kommer att testas under 2019 och 2020. Du kan ladda upp dina lärresurser nu, och från och med mars 2020 går det lättare att hitta material i tjänsten. Du kan invänta tjänsten enligt följande tidtabell:</p>
            <img src="assets/img/aoe_vag.png" class="img-fluid">
          </ng-container>
        </ng-container>
      </div>
    </div><!--/.row-->
  </div>
</div>

<div class="content-wrapper bg-light" *ngIf="recentMaterials?.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">{{ 'home.recentMaterials.title' | translate }}</h2>
      </div>

      <div class="col-md-4" *ngFor="let material of recentMaterials">
        <app-educational-material-card [educationalMaterial]="material"></app-educational-material-card>
      </div>
    </div><!-- .row -->
  </div>
</div>
