<div class="content-wrapper" id="home-search-block">
  <div class="container">
    <div class="row">
      <div class="col justify-content-center">
        <div class="text-center">
          <h1>{{ 'home.search.title' | translate }}</h1>
        </div>

        <!--<form class="search-form">
          <fieldset>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="searchQuery" class="sr-only">{{ 'home.search.form.searchQuery' | translate }}</label>
                <input type="search" class="form-control" id="searchQuery" placeholder="{{ 'home.search.form.searchQuery' | translate }}">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md">
                <label for="educationalLevel" class="sr-only">{{ 'home.search.form.educationalLevel' | translate }}</label>
                <select class="form-control" id="educationalLevel">
                  <option hidden>{{ 'home.search.form.educationalLevel' | translate }}</option>
                  <option>lukiokoulutus</option>
                  <option>ammatillinen koulutus</option>
                  <option>korkeakoulutus</option>
                </select>
              </div>

              <div class="form-group col-md">
                <label for="teaches" class="sr-only">{{ 'home.search.form.teaches' | translate }}</label>
                <select class="form-control" id="teaches">
                  <option hidden>{{ 'home.search.form.teaches' | translate }}</option>
                  <option>POPS2012</option>
                  <option>POPS2013</option>
                  <option>POPS2014</option>
                </select>
              </div>

              <div class="form-group col-md">
                <label for="learningResourceType" class="sr-only">{{ 'home.search.form.learningResourceType' | translate }}</label>
                <select class="form-control" id="learningResourceType">
                  <option hidden>{{ 'home.search.form.learningResourceType' | translate }}</option>
                  <option>teksti</option>
                  <option>harjoitus</option>
                  <option>simulaatio</option>
                  <option>projekti</option>
                </select>
              </div>

              <div class="form-group col-md-1">
                <button type="submit" class="btn btn-blue btn-block">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <span class="sr-only">{{ 'home.search.form.submit' | translate }}</span>
                </button>
              </div>
            </div>

            <div class="form-row justify-content-end">
              <div class="form-group col-md-auto">
                <div class="form-check form-check-inline">
                  <input type="checkbox" class="form-check-input" value="1" id="includeCollections">
                  <label for="includeCollections" class="form-check-label">{{ 'home.search.form.includeCollections' | translate }}</label>
                </div>

                <a href="#" class="btn btn-dark btn-sm">{{ 'home.search.form.advancedSearch' | translate }}</a>
              </div>
            </div>
          </fieldset>
        </form>-->
      </div>
    </div><!--/.row-->
  </div>
</div>

<!--<div class="content-wrapper bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <span class="text-blue">{{ 'home.cta.addMaterial' | translate }}</span>
        <i class="fa fa-chevron-right text-blue mx-4" aria-hidden="true"></i>
        <a href="#" class="text-blue">{{ 'home.cta.loginOrRegister' | translate }}</a>
      </div>
    </div>
  </div>
</div>-->

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 [innerHTML]="'home.title' | translate"></h2>
        <p>{{ 'home.description' | translate }}</p>
      </div>
    </div><!--/.row-->
  </div>
</div>

<app-educational-materials-list></app-educational-materials-list>
