<form [formGroup]="educationalDetailsForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="educationalLevels">Koulutusasteet*</label>

    <ng-select
      [items]="educationalLevels$ | async"
      bindLabel="value"
      groupBy="children"
      placeholder="Koulutusasteet"
      id="educationalLevels"
      formControlName="educationalLevels"
      [multiple]="true"
      [closeOnSelect]="false"
      [selectableGroup]="true"
      (change)="educationalLevelsChange($event)"
    >
      <ng-template ng-optgroup-tmp let-item="item">
        {{ item.value }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{ item.value }}
      </ng-template>
    </ng-select>
  </div>

  <div class="form-group" *ngIf="hasBasicStudies">
    <div class="form-row">
      <div class="col-3" formArrayName="basicStudySubjects" *ngFor="let subject of educationalDetailsForm.controls['basicStudySubjects'].controls; let i = index">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [formControlName]="i" id="{{ 'basicStudySubjects' + i }}">
          <label class="custom-control-label" for="{{ 'basicStudySubjects' + i }}">{{ basicStudySubjects$[i].value }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >Edellinen</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="educationalDetailsForm?.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
