<form [formGroup]="educationalDetailsForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="educationalLevels">Koulutusasteet*</label>

    <ng-select
      [items]="educationalLevels$ | async"
      [multiple]="true"
      bindLabel="value"
      id="educationalLevels"
      placeholder="Koulutusasteet"
      formControlName="educationalLevels"
    ></ng-select>
  </div>

  <!-- work in progress, maybe there's a better way to do this? -->
  <ng-container *ngFor="let eduLevel of educationalLevels.value">
    <div class="form-group" *ngIf="eduLevel.children.length > 0">
      <ng-select
        [items]="eduLevel.children"
        [multiple]="true"
        bindLabel="value"
        placeholder="{{ eduLevel.value }}"
      ></ng-select>
    </div>
  </ng-container>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >Edellinen</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="educationalDetailsForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
