<form [formGroup]="educationalDetailsForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="educationalLevels">Koulutusasteet*</label>

    <button
      type="button"
      class="btn btn-link"
      tooltip="Valitse tästä mille koulutusasteelle ja tasolle oppimateriaalisi on pääasiallisesti tarkoitettu. Mikäli materiaali on kohdennettu usealle asteelle, esimerkiksi sekä ammatilliseen koulutukseen että lukio-opetukseen, voit valita useamman koulutusasteen ja tason."
    ><img src="assets/img/icons/ic_help.svg" alt=""></button>

    <ng-select
      [items]="educationalLevels$"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="value"
      groupBy="children"
      id="educationalLevels"
      formControlName="educationalLevels"
      (change)="educationalLevelsChange($event)"
    >
      <ng-template ng-optgroup-tmp let-item="item">
        {{ item.value }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{ item.value }}
      </ng-template>
    </ng-select>
  </div>

  <div class="form-group" *ngIf="hasEarlyChildhoodEducation">
    <label for="earlyChildhoodEducationSubjects">Varhaiskasvatuksen oppiaineet</label>

    <ng-select
      [items]="[]"
      [addTag]="true"
      [multiple]="true"
      id="earlyChildhoodEducationSubjects"
      formControlName="earlyChildhoodEducationSubjects"
    ></ng-select>
  </div>

  <div class="form-group" *ngIf="hasPrePrimaryEducation">
    <label for="prePrimaryEducationSubjects">Esiopetuksen oppiaineet</label>

    <ng-select
      [items]="[]"
      [addTag]="true"
      [multiple]="true"
      id="prePrimaryEducationSubjects"
      formControlName="prePrimaryEducationSubjects"
    ></ng-select>
  </div>

  <div class="form-group" *ngIf="hasBasicStudies">
    <label for="basicStudySubjects">Perusopetuksen oppiaineet</label>

    <ng-select
      [items]="basicStudySubjects$"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="value"
      id="basicStudySubjects"
      formControlName="basicStudySubjects"
    ></ng-select>
  </div>

  <div class="form-group" *ngIf="hasUpperSecondarySchool">
    <label for="upperSecondarySchoolSubjects">Lukionkurssit</label>

    <ng-select
      [items]="upperSecondarySchoolSubjects$"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="value"
      id="upperSecondarySchoolSubjects"
      formControlName="upperSecondarySchoolSubjects"
    ></ng-select>
  </div>

  <div class="form-group" *ngIf="hasVocationalDegree">
    <label for="vocationalDegrees">Ammatillisen koulutuksen tutkinnot</label>

    <ng-select
      [items]="vocationalDegrees$"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="value"
      id="vocationalDegrees"
      formControlName="vocationalDegrees"
    ></ng-select>
  </div>

  <div class="form-group" *ngIf="hasSelfMotivatedEducation">
    <label for="selfMotivatedEducationSubjects">Omaehtoisen osaamisen kehittämisen oppiaineet</label>

    <ng-select
      [items]="[]"
      [addTag]="true"
      [multiple]="true"
      id="selfMotivatedEducationSubjects"
      formControlName="selfMotivatedEducationSubjects"
    ></ng-select>
  </div>

  <div class="form-group" *ngIf="hasHigherEducation">
    <label for="branchesOfScience">Korkeakoulutuksen tieteenalat</label>

    <ng-select
      [items]="branchesOfScience$"
      [multiple]="true"
      [closeOnSelect]="false"
      [selectableGroup]="true"
      groupBy="children"
      bindLabel="value"
      id="branchesOfScience"
      formControlName="branchesOfScience"
    >
      <ng-template ng-optgroup-tmp let-item="item">
        {{ item.value }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{ item.value }}
      </ng-template>
    </ng-select>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >Edellinen</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="resetForm()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="educationalDetailsForm?.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
