<div class="py-4 px-0">
  <div class="container">
    <form>
      <div class="form-group">
        <label for="languages">Kieli</label>
        <select multiple class="form-control" id="languages">
          <option *ngFor="let lang of languages$" value="{{ lang['key'] }}">{{ lang['value'] }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="organisations">Organisaatio</label>
        <select class="form-control" id="organisations">
          <option *ngFor="let org of organisations$" value="{{ org['key'] }}">{{ org['value'] }}</option>
        </select>
      </div>
    </form>
  </div>
</div>
