<div class="embed-responsive embed-responsive-16by9">
  <video class="embed-responsive-item" controls #videoElement>
    <source src="https://demo.aoe.fi/api/download/{{ material.filekey }}" type="{{ material.mimetype }}">
    <!--<track *ngFor="let subtitle of material.subtitles"
           label="{{ subtitle.label }}"
           kind="subtitles"
           srclang="{{ subtitle.lang }}"
           src="{{ subtitle.filePath }}"
           [default]="subtitle.default"
    >-->
    {{ 'demo.educationalMaterial.preview.noVideoSupport' | translate }}
  </video>
</div>
