<div class="embed-responsive embed-responsive-16by9">
  <video class="embed-responsive-item" controls #videoElement>
    <source [src]="materialUrl" [type]="material.mimetype">
    <track *ngFor="let subtitle of material.subtitles"
           [label]="subtitle.label"
           [kind]="subtitle.kind"
           [srclang]="subtitle.srclang"
           [src]="subtitle.filepath"
           [default]="subtitle.default"
    >
    {{ 'demo.educationalMaterial.preview.noVideoSupport' | translate }}
  </video>
</div>
