@use 'mixins';

$border-color: #e0e0e0;

h2 {
  color: #373737;
  @include mixins.resize(20);
}

.number-rating {
  h3 {
    font-weight: 400;
    @include mixins.resize(16);
  }

  .value {
    color: #1d891f;
    font-weight: 500;
    @include mixins.resize(30);

    &.count {
      color: #373737;
    }
  }
}

.averages {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.rating {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.5rem;

  .date {
    color: #000000;
    font-weight: 700;
    @include mixins.resize(16);
  }

  .author {
    color: #000000;
    font-weight: 400;
    @include mixins.resize(16);
  }

  h3 {
    color: #000000;
    font-weight: 400;
    @include mixins.resize(16);
  }

  p {
    color: #373737;
  }
}
