<form [formGroup]="basedOnDetailsForm" (ngSubmit)="onSubmit()">
  <!--<h3>Aoe.fi:stä löytyvät materiaalit</h3>

  <div formArrayName="internals" *ngFor="let internal of internals.controls; let i = index;">
    <div class="form-row" [formGroupName]="i">
      <div class="form-group col-md">
        <label for="{{ 'authorInt-' + i }}">Tekijän nimi</label>

        <input
          type="text"
          id="{{ 'authorInt-' + i }}"
          class="form-control"
          placeholder="Sukunimi, Etunimi"
          formControlName="author"
          >
      </div>

      <div class="form-group col-md">
        <label for="{{ 'materialId-' + i }}">Materiaali</label>

        <input
          type="text"
          id="{{ 'materialId-' + i }}"
          class="form-control"
          formControlName="materialId"
        >
      </div>

      <div class="form-group col-auto align-self-end">
        <button type="button" class="btn btn-danger" (click)="removeInternal(i)">Poista</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button
      type="button"
      class="btn btn-gray"
      (click)="addInternal()"
    >Lisää uusi materiaali</button>

    <button
      type="button"
      class="btn btn-link"
      tooltip="Voit tähän lisätä materiaaleja, jonka pohjalta olet lähtenyt rakentamaan oppimateriaaliasi, joita käytät materiaalissasi tai jotka toimivat oppimateriaalisi pohjana."
    ><img src="assets/img/icons/ic_help.svg" alt=""></button>
  </div>-->

  <h3>{{ 'forms.educationalResource.basedOnDetails.externals.title' | translate }}</h3>

  <ng-container [ngSwitch]="lang">
    <ng-container *ngSwitchDefault>
      <p>{{ 'forms.educationalResource.basedOnDetails.addNew.tooltip' | translate }}</p>
    </ng-container>
  </ng-container>

  <div formArrayName="externals" *ngFor="let external of externals.controls; let i = index;">
    <div class="form-row" [formGroupName]="i">
      <div class="form-group col-md">
        <label for="{{ 'authorExt-' + i }}">{{ 'forms.educationalResource.basedOnDetails.externals.inputs.author.label' | translate }}</label>

        <ng-select
          [items]="[]"
          [multiple]="true"
          [addTag]="true"
          id="{{ 'authorExt-' + i }}"
          formControlName="author"
          [placeholder]="'forms.educationalResource.basedOnDetails.externals.inputs.author.placeholder' | translate"
        ></ng-select>

        <ng-container *ngIf="submitted && external.get('author').errors">
          <div *ngIf="external.get('author').errors.required">
            <small class="text-danger">{{ 'forms.common.required' | translate }}</small>
          </div>
        </ng-container>
      </div>

      <div class="form-group col-md">
        <label for="{{ 'url-' + i }}">{{ 'forms.educationalResource.basedOnDetails.externals.inputs.link.label' | translate }}</label>

        <input
          type="url"
          id="{{ 'url-' + i }}"
          class="form-control"
          formControlName="url"
          [ngClass]="{ 'is-invalid': submitted && external.get('url').errors }"
        >

        <div *ngIf="submitted && external.get('url').errors" class="invalid-feedback">
          <div *ngIf="external.get('url').errors.required">{{ 'forms.common.required' | translate }}</div>
          <div *ngIf="external.get('url').errors.pattern">{{ 'forms.common.pattern.url' | translate }}</div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="{{ 'name-' + i }}">{{ 'forms.educationalResource.basedOnDetails.externals.inputs.name.label' | translate }}</label>

        <input
          type="text"
          id="{{ 'name-' + i }}"
          class="form-control"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && external.get('name').errors }"
        >

        <div *ngIf="submitted && external.get('name').errors" class="invalid-feedback">
          <div *ngIf="external.get('name').errors.required">{{ 'forms.common.required' | translate }}</div>
        </div>
      </div>

      <div class="form-group col-auto align-self-end">
        <button type="button" class="btn btn-danger" (click)="removeExternal(i)">{{ 'forms.common.delete' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button
      type="button"
      class="btn btn-gray"
      (click)="addExternal()"
    >{{ 'forms.educationalResource.basedOnDetails.addNew.button' | translate }}</button>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >{{ 'forms.common.previous' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="resetForm()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
