<h1>{{ 'forms.educationalResource.title' | translate }}</h1>

<ul class="nav nav-multistep-form align-items-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/lisaa-oppimateriaali/tiedostot" routerLinkActive="active">{{ 'forms.educationalResource.nav.files' | translate }}</a>
  </li>

  <li class="nav-separator">&rsaquo;</li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/lisaa-oppimateriaali/perustiedot" routerLinkActive="active">{{ 'forms.educationalResource.nav.basicDetails' | translate }}</a>
  </li>

  <li class="nav-separator">&rsaquo;</li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/lisaa-oppimateriaali/koulutustiedot" routerLinkActive="active">{{ 'forms.educationalResource.nav.educationalDetails' | translate }}</a>
  </li>

  <li class="nav-separator">&rsaquo;</li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/lisaa-oppimateriaali/tarkemmat-tiedot" routerLinkActive="active">{{ 'forms.educationalResource.nav.extendedDetails' | translate }}</a>
  </li>

  <li class="nav-separator">&rsaquo;</li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/lisaa-oppimateriaali/lisenssitiedot" routerLinkActive="active">{{ 'forms.educationalResource.nav.licenseDetails' | translate }}</a>
  </li>

  <li class="nav-separator">&rsaquo;</li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/lisaa-oppimateriaali/hyodynnetyt-materiaalit" routerLinkActive="active">{{ 'forms.educationalResource.nav.basedOnDetails' | translate }}</a>
  </li>
</ul>
