<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="main-navigation">
  <div class="container">
    <a class="navbar-brand font-weight-bold font-4xl" [routerLink]="['/']">aoe.fi</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" [attr.aria-label]="'navigation.toggler.aria.label' | translate">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/etusivu']" [routerLinkActive]="['active']">{{ 'navigation.home' | translate }}</a>
        </li>
        <li class="nav-item" *ngIf="authSvc.isLogged()">
          <a class="nav-link" [routerLink]="['/omat-oppimateriaalit']" [routerLinkActive]="['active']">{{ 'navigation.myMaterials' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lisatietoa']" [routerLinkActive]="['active']">{{ 'navigation.info' | translate }}</a>
        </li>
      </ul>

      <ul class="nav ml-auto nav-languages">
        <li class="nav-item" *ngFor="let lang of translate.getLangs()">
          <button class="btn btn-link nav-link" (click)="changeLanguage(lang)" [ngClass]="translate.currentLang === lang ? 'active' : ''">{{ lang | uppercase }}</button>
        </li>
      </ul>

      <app-nav-login></app-nav-login>
    </div>
  </div>
</nav>

<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="app-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto text-center">
        <h2>aoe.fi</h2>

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/kayttoehdot']">{{ 'navigation.termsOfUse' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tietosuojaseloste']">{{ 'navigation.privacyPolicy' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="logos">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <img [src]="logos.okm[translate.currentLang].src" [alt]="logos.okm[translate.currentLang].alt" class="img-fluid">
      </div>

      <div class="col-auto text-center">
        <img src="assets/img/logos/csc.png" alt="CSC" class="img-fluid">
        <span>{{ 'footer.developer' | translate }}</span>
      </div>

      <div class="col-auto">
        <img [src]="logos.oph[translate.currentLang].src" [alt]="logos.oph[translate.currentLang].alt" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<app-cookie-notice></app-cookie-notice>
