<nav class="navbar navbar-expand navbar-dark bg-primary" id="main-navigation">
  <div class="container">
    <a class="navbar-brand font-weight-bold font-4xl" [routerLink]="['/']">aoe.fi</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" [attr.aria-label]="'navigation.toggler.aria.label' | translate">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-flex">
          <a class="nav-link" [routerLink]="['/etusivu']" [routerLinkActive]="['active']">{{ 'navigation.home' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lisaa-oppimateriaali']" [routerLinkActive]="['active']">Omat materiaalit ja kokoelmat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lisatietoa']" [routerLinkActive]="['active']">{{ 'navigation.info' | translate }}</a>
        </li>
      </ul>

      <ul class="nav ml-auto nav-languages">
        <li class="nav-item" *ngFor="let lang of translate.getLangs()">
          <button class="btn btn-link nav-link" (click)="changeLanguage(lang)" [ngClass]="translate.currentLang === lang ? 'active' : ''">{{ lang | uppercase }}</button>
        </li>
      </ul>

      <!--<ul class="nav navbar-nav">
        <li class="nav-item d-md-down-none">
          <a class="nav-link disabled" [routerLink]="['/kirjaudu']">{{ 'navigation.login' | translate }}</a>
        </li>
      </ul>-->
    </div>
  </div>
</nav>

<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="app-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto text-center">
        <h2>aoe.fi</h2>
        <!--<p>Yhteystiedot</p>-->

        <!--<div class="footer-logos">
          <img src="https://via.placeholder.com/90x60?text=logo" alt="logo" class="img-fluid">
          <img src="https://via.placeholder.com/90x60?text=logo" alt="logo" class="img-fluid">
          <img src="https://via.placeholder.com/90x60?text=logo" alt="logo" class="img-fluid">
        </div>-->

        <!--<ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/kayttoehdot']">{{ 'footer.termsOfUse' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/rekisteriseloste']">{{ 'footer.privacyPolicy' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/saavutettavuusseloste']">{{ 'footer.accessibilityPolicy' | translate }}</a>
          </li>
        </ul>-->
      </div>
    </div>
  </div>
</footer>

<div class="logos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <img src="assets/img/logos/okm-fi.jpg" alt="Opetus- ja kulttuuriministeriö" class="img-fluid">
      </div>

      <div class="col-auto text-center">
        <img src="assets/img/logos/csc.png" alt="CSC" class="img-fluid">
        <span>Palvelun tuottaja</span>
      </div>

      <div class="col-auto">
        <img src="assets/img/logos/oph.jpg" alt="Opetushallitus" class="img-fluid">
      </div>
    </div>
  </div>
</div>
