<div class="card-educational-material">
  <a [routerLink]="[ '/materiaali', educationalMaterial.id ]" class="header">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-12 col-lg-5 text-center text-sm-left text-md-center text-lg-left">
        <img [attr.src]="educationalMaterial.thumbnail ? educationalMaterial.thumbnail : 'assets/img/material.png'" class="img-fluid">
      </div>

      <div class="col-12 col-sm-8 col-md-12 col-lg-7">
        <h5>{{ educationalMaterial.name }}</h5>

        <p>{{ educationalMaterial.description | truncate:[75] }}</p>

        <ul class="list-unstyled authors">
          <li *ngFor="let author of educationalMaterial.authors">{{ author.authorname }}</li>
        </ul>
      </div>
    </div>
  </a>

  <div class="tags">
    <button *ngFor="let keyword of educationalMaterial.keywords" type="button" class="btn btn-light disabled">
      {{ keyword.value }}
    </button>
  </div>

  <div class="tags">
    <button *ngFor="let educationalLevel of educationalMaterial.educationalLevels" type="button" class="btn btn-light disabled">
      {{ educationalLevel.value }}
    </button>
  </div>

  <div class="details d-flex flex-row">
    <div class="license text-dark">
      {{ educationalMaterial.license }}
    </div>
    <div class="type ml-auto">
      <img src="assets/img/icons/learning-resource-types/{{ educationalMaterial.learningResourceTypes[0].learningresourcetypekey }}.svg"> {{ educationalMaterial.learningResourceTypes[0].value }}
    </div>
  </div>
</div>
