<div class="card-educational-material">
  <a [routerLink]="['/demo/materiaali', educationalMaterial.id, educationalMaterial.slug]" class="educational-material-view-link">
    <div class="media">
      <img [attr.src]="educationalMaterial.img ? educationalMaterial.img : 'assets/img/material.png'" class="mr-3" alt="...">
      <div class="media-body">
        <h5> {{ educationalMaterial.name }}</h5>
        {{ educationalMaterial.description | truncate:[75] }}
      </div>
    </div>
  </a>

  <div class="tags">
    <a *ngFor="let keyword of keywords" href="#" class="btn btn-light">
      {{ keyword.value }}
    </a>
  </div>

  <div class="tags">
    <a href="#" class="btn btn-light"
       *ngFor="let educationalLevel of educationalLevels">
      {{ educationalLevel.value }}
    </a>
  </div>

  <div class="details d-flex flex-row">
    <div class="comments">0</div>
    <div class="rating">
      <img src="assets/img/icons/ic_star.svg" alt="...">
      <img src="assets/img/icons/ic_star.svg" alt="...">
      <img src="assets/img/icons/ic_star.svg" alt="...">
      <img src="assets/img/icons/ic_star.svg" alt="...">
      <img src="assets/img/icons/ic_star.svg" alt="...">
    </div>
    <div class="license">
      <a [attr.href]="educationalMaterial.licenseInformation.licenseUrl" class="text-dark" target="_blank" rel="noopener">{{ educationalMaterial.licenseInformation.licenseType }}</a>
    </div>
    <div class="type ml-auto">
      <img src="assets/img/icons/learning-resource-types/{{ lrtSvc.getLearningResourceTypeIcon(educationalMaterial.learningResourceType[0]) }}" alt="" class="learning-resource-type-icon">
      {{ lrtSvc.getLearningResourceTypeValue(educationalMaterial.learningResourceType[0]) }}
    </div>
  </div>
</div>
