<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-steps-nav></app-steps-nav>
      </div>
    </div>

    <form [formGroup]="basicDetailsForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-2">
          <div class="material-image-upload d-flex flex-column justify-content-center">
            <img src="assets/img/icons/ic_camera.svg" alt="Kamera ikoni">
            <a href="#">{{ 'forms.educationalResource.basicDetails.uploadImage' | translate }}</a>
          </div>
        </div>

        <div class="col-md-10">
          <div class="form-row">
            <div class="col-sm">
              <label for="file">{{ 'forms.educationalResource.basicDetails.attachment' | translate }}</label>

              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="file"
                  formControlName="file"
                >
                <label class="custom-file-label" for="file">{{ 'forms.educationalResource.basicDetails.noSelectedFile' | translate }}</label>
              </div>
            </div>

            <div class="form-group col-auto align-self-center">
              <span class="form-text">{{ 'forms.educationalResource.basicDetails.or' | translate }}</span>
            </div>

            <div class="form-group col-sm">
              <label for="link">{{ 'forms.educationalResource.basicDetails.link' | translate }}</label>

              <input
                type="url"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && form.link.errors}"
                id="link"
                placeholder="https://"
                formControlName="link"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="name">{{ 'forms.educationalResource.basicDetails.materialName' | translate }}*</label>

            <div class="form-row">
              <div class="col-sm">
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{'is-invalid': submitted && form.name.errors}"
                  id="name"
                  placeholder="Oppimateriaalin nimi"
                  required
                  formControlName="name"
                >

                <div class="invalid-feedback">{{ 'forms.common.required' | translate }}</div>
              </div>

              <div class="col-auto">
                <button type="button" class="btn btn-gray" (click)="openModal(kieliversiot)">{{ 'forms.educationalResource.basicDetails.langVersions' | translate }}</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="keywords">{{ 'forms.educationalResource.basicDetails.subject' | translate }}*</label>

            <ng-select
              [items]="keywordsBuffer"
              [virtualScroll]="true"
              [loading]="loading"
              [multiple]="true"
              bindLabel="value"
              id="keywords"
              placeholder="Oppimateriaalin aihe"
              [typeahead]="input$"
              (scrollToEnd)="fetchMore(keywords.filterValue)"
              formControlName="keywords"
              #keywords
            ></ng-select>
          </div>

          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="author">{{ 'forms.educationalResource.basicDetails.author' | translate }}*</label>

              <input
                type="text"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && form.author.errors}"
                id="author"
                placeholder="Tekijän nimi"
                required
                formControlName="author"
              >

              <div class="invalid-feedback">{{ 'forms.common.required' | translate }}</div>
            </div>

            <div class="form-group col-md-5">
              <label for="organisation">{{ 'forms.educationalResource.basicDetails.organisation' | translate }}</label>

              <ng-select
                [items]="organisations$ | async"
                bindLabel="value"
                id="organisation"
                placeholder="Lisää halutessasi affiliaatiosi"
                formControlName="organisation"
              ></ng-select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="learningResourceType">{{ 'forms.educationalResource.basicDetails.materialType' | translate }}*</label>

              <ng-select
                [items]="learningResourceTypes$ | async"
                [multiple]="true"
                [closeOnSelect]="false"
                bindLabel="value"
                id="learningResourceType"
                placeholder="Valitse tyyppi"
                formControlName="learningResourceType"
              ></ng-select>
            </div>

            <div class="form-group col-md-3">
              <label for="timeRequired">{{ 'forms.educationalResource.basicDetails.timeRequired' | translate }}</label>

              <input
                type="text"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && form.timeRequired.errors}"
                id="timeRequired"
                placeholder="Opiskeluaika"
                formControlName="timeRequired"
              >
            </div>

            <div class="form-group col-md-4">
              <label for="publisher">{{ 'forms.educationalResource.basicDetails.publisher' | translate }}</label>

              <input
                type="text"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && form.publisher.errors}"
                id="publisher"
                placeholder="Kirjoita julkaisijan nimi"
                formControlName="publisher"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="description">{{ 'forms.educationalResource.basicDetails.description' | translate }}</label>

            <div class="form-row">
              <div class="col-sm">
                <textarea
                  class="form-control"
                  [ngClass]="{'is-invalid': submitted && form.description.errors}"
                  id="description"
                  rows="10"
                  placeholder="Kirjoita kuvausteksti"
                  formControlName="description"
                ></textarea>
              </div>

              <div class="col-auto">
                <button type="button" class="btn btn-gray" (click)="openModal(kieliversiot)">{{ 'forms.educationalResource.basicDetails.langVersions' | translate }}</button>
              </div>
            </div>
          </div>

          <hr>

          <button
            type="reset"
            class="btn btn-link btn-sm"
            (click)="resetForm()"
          >{{ 'forms.common.abort' | translate }}</button>

          <button
            type="submit"
            class="btn btn-blue btn-sm"
          >{{ 'forms.common.next' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #kieliversiot>
  <div class="modal-header">
    <h5 class="modal-title">Kieliversiot</h5>

    <button type="button" class="close" aria-label="Sulje" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <h4>Kieliversioiden lisääminen</h4>

    <form>
      <div class="form-group">
        <label for="kieli-kieli">Valitse kieli*</label>

        <select
          class="form-control"
          id="kieli-kieli"
          required
        >
          <option>englanti</option>
          <option>ruotsi</option>
        </select>
      </div>

      <div class="form-group">
        <label for="kieli-nimi">Oppimateriaalin nimi*</label>

        <input
          type="text"
          class="form-control"
          id="kieli-nimi"
          placeholder="Oppimateriaalin nimi"
          required
        >
      </div>

      <div class="form-group">
        <label for="kieli-kuvaus">Kuvaus</label>

        <textarea
          class="form-control"
          id="kieli-kuvaus"
          rows="10"
          placeholder="Kirjoita kuvausteksti"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-gray" aria-label="Peruuta" (click)="modalRef.hide()">Peruuta</button>
    <button type="button" class="btn btn-blue">Tallenna muutokset</button>
  </div>
</ng-template>
