<alert type="info" dismissible="true">
  {{ 'forms.educationalResource.files.alert' | translate }}
</alert>

<form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-row align-items-end">
      <div class="col" formGroupName="name">
        <label for="name-fi">{{ 'forms.educationalResource.files.materialName.label' | translate }}*</label>

        <button
          type="button"
          class="btn btn-link"
          [tooltip]="'forms.educationalResource.files.materialName.tooltip' | translate"
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>

        <input
          type="text"
          class="form-control"
          id="name-fi"
          formControlName="fi"
        >
      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-gray" (click)="openModal(nameI18n)">{{ 'forms.common.translations.label' | translate }}</button>

        <button
          type="button"
          class="btn btn-link"
          [tooltip]="'forms.common.translations.tooltip' | translate"
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>
      </div>

      <ng-template #nameI18n>
        <div class="modal-header">
          <h5 class="modal-title">{{ 'forms.educationalResource.files.materialName.modal.title' | translate }}</h5>

          <button type="button" class="close" [attr.aria-label]="'forms.common.close' | translate" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" formGroupName="name">
          <h4>{{ 'forms.educationalResource.files.materialName.modal.subtitle' | translate }}</h4>

          <div class="form-group">
            <label for="name-en">{{ 'forms.educationalResource.files.materialName.modal.en' | translate }}*</label>

            <input
              type="text"
              class="form-control"
              id="name-en"
              formControlName="en"
            >
          </div>

          <div class="form-group">
            <label for="name-sv">{{ 'forms.educationalResource.files.materialName.modal.sv' | translate }}*</label>

            <input
              type="text"
              class="form-control"
              id="name-sv"
              formControlName="sv"
            >
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-gray" [attr.aria-label]="'forms.common.cancel' | translate" (click)="modalRef.hide()">{{ 'forms.common.cancel' | translate }}</button>
          <button type="button" class="btn btn-blue" (click)="modalRef.hide()">{{ 'forms.common.saveChanges' | translate }}</button>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-container *ngFor="let file of files.controls; let i = index;">
    <div class="form-group" formArrayName="files">
      <ng-container [formGroupName]="i">
        <h4>{{ i + 1 }}{{ 'forms.educationalResource.files.file.title' | translate }}
          <button
            type="button"
            class="btn btn-link"
            [tooltip]="'forms.educationalResource.files.file.tooltip' | translate"
          ><img src="assets/img/icons/ic_help.svg" alt=""></button>
        </h4>

        <div class="form-row align-items-end mb-2">
          <div class="col">
            <label for="{{ 'file' + i }}">{{ 'forms.educationalResource.files.file.inputs.file.label' | translate }}*</label>

            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="{{ 'file' + i }}"
                formControlName="file"
                [lang]="lang"
                (change)="onFileChange($event)"
              >
              <span class="custom-file-label">{{ files.controls[i].controls.file.value }}</span>
            </div>
          </div>

          <div class="col-auto">tai</div>

          <div class="col">
            <label for="{{ 'link' + i }}">{{ 'forms.educationalResource.files.file.inputs.link.label' | translate }}*</label>

            <input
              type="text"
              class="form-control"
              id="{{ 'link' + i }}"
              formControlName="link"
            >
          </div>

          <div class="col-2">
            <label for="{{ 'language' + i }}">{{ 'forms.educationalResource.files.file.inputs.language.label' | translate }}*</label>

            <button
              type="button"
              class="btn btn-link"
              [tooltip]="'forms.educationalResource.files.file.inputs.language.tooltip' | translate"
            ><img src="assets/img/icons/ic_help.svg" alt=""></button>

            <ng-select
              [items]="languages$"
              bindLabel="value"
              id="{{ 'language' + i }}"
              formControlName="language"
            ></ng-select>
          </div>
        </div>

        <div class="form-row align-items-end" formGroupName="displayName">
          <div class="col">
            <label for="{{ 'displayNameFi' + i }}">{{ 'forms.educationalResource.files.file.inputs.displayName.label' | translate }}*</label>

            <button
              type="button"
              class="btn btn-link"
              [tooltip]="'forms.educationalResource.files.file.inputs.displayName.tooltip' | translate"
            ><img src="assets/img/icons/ic_help.svg" alt=""></button>

            <input
              type="text"
              class="form-control"
              id="{{ 'displayNameFi' + i }}"
              formControlName="fi"
            >
          </div>

          <div class="col-auto">
            <button type="button" class="btn btn-gray" (click)="openModal(displayName)">{{ 'forms.common.translations.label' | translate }}</button>

            <button
              type="button"
              class="btn btn-link"
              [tooltip]="'forms.common.translations.tooltip' | translate"
            ><img src="assets/img/icons/ic_help.svg" alt=""></button>
          </div>

          <ng-template #displayName>
            <div class="modal-header">
              <h5 class="modal-title">{{ 'forms.educationalResource.files.file.inputs.displayName.modal.title' | translate }}</h5>

              <button type="button" class="close" [attr.aria-label]="'forms.common.close' | translate" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <h4>{{ 'forms.educationalResource.files.file.inputs.displayName.modal.subtitle' | translate }}</h4>

              <div class="form-group">
                <label for="{{ 'displayNameEn' + i }}">{{ 'forms.educationalResource.files.file.inputs.displayName.modal.en' | translate }}*</label>

                <input
                  type="text"
                  class="form-control"
                  id="{{ 'displayNameEn' + i }}"
                  formControlName="en"
                >
              </div>

              <div class="form-group">
                <label for="{{ 'displayNameSv' + i }}">{{ 'forms.educationalResource.files.file.inputs.displayName.modal.sv' | translate }}*</label>

                <input
                  type="text"
                  class="form-control"
                  id="{{ 'displayNameSv' + i }}"
                  formControlName="sv"
                >
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-gray" [attr.aria-label]="'forms.common.cancel' | translate" (click)="modalRef.hide()">{{ 'forms.common.cancel' | translate }}</button>
              <button type="button" class="btn btn-blue" (click)="modalRef.hide()">{{ 'forms.common.saveChanges' | translate }}</button>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div class="form-group">
    <button type="button" class="btn btn-gray" (click)="addFile()">{{ 'forms.educationalResource.files.file.addFile' | translate }}</button>
  </div>

  <div class="form-group" *ngIf="uploadError">{{ uploadError.message }}</div>

  <div class="form-group" *ngIf="uploadResponse.status === 'error'">{{ uploadResponse.message }}</div>

  <div class="form-group" *ngIf="uploadResponse.status === 'progress'">
    <progressbar
      max="100"
      [value]="uploadResponse.message"
    >{{ uploadResponse.message }}%</progressbar>
  </div>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="resetForm()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="fileUploadForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
