<alert type="info" dismissible="true">
  Voit tallentaa oman oppimateriaalisi tai linkittää sen avointen oppimateriaalien palveluun tämän lomakkeen avulla. Oppimateriaalin tallentamista varten sinun tulee lisätä muutama tieto oppimateriaalista sekä valita sille sopiva lisenssi. Nämä tiedot helpottavat muita käyttäjiä löytämään oppimateriaalisi sekä kertovat miten oppimateriaaliasi voi käyttää. Jokaisen kentän kohdalla on pieni kysymysmerkki josta saat tarvittaessa lisätietoa. Lataa ensiksi oppimateriaalisi tiedosto(t) tai linkitä oppimateriaalisi ja jatka sitten täydentämään materiaalisi perustiedot. Kieliversiot-painikkeesta voit halutessasi lisätä nimille ja kuvaukselle suomen, ruotsin tai englanninkielisen käännöksen, jotta näillä kielillä palvelua käyttävät saavat kokonaisen kuvan millainen materiaalisi on.
</alert>

<form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-row align-items-end">
      <div class="col" formGroupName="name">
        <label for="name-fi">{{ 'forms.educationalResource.basicDetails.materialName' | translate }}*</label>

        <button
          type="button"
          class="btn btn-link"
          tooltip="Oppimateriaalin nimi."
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>

        <input
          type="text"
          class="form-control"
          id="name-fi"
          placeholder="Oppimateriaalin nimi"
          formControlName="fi"
        >
      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-gray" (click)="openModal(nameI18n)">Kieliversiot</button>

        <button
          type="button"
          class="btn btn-link"
          tooltip="Kieliversiot-painikkeesta voit halutessasi lisätä nimille ja kuvaukselle suomen, ruotsin tai englanninkielisen käännöksen, jotta näillä kielillä palvelua käyttävät saavat kokonaisen kuvan millainen materiaalisi on."
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>
      </div>

      <ng-template #nameI18n>
        <div class="modal-header">
          <h5 class="modal-title">Kieliversiot: Oppimateriaalin nimi</h5>

          <button type="button" class="close" aria-label="Sulje" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" formGroupName="name">
          <h4>Kieliversioiden lisääminen</h4>

          <div class="form-group">
            <label for="name-en">Oppimateriaalin nimi englanniksi*</label>

            <input
              type="text"
              class="form-control"
              id="name-en"
              placeholder="Oppimateriaalin nimi"
              formControlName="en"
            >
          </div>

          <div class="form-group">
            <label for="name-sv">Oppimateriaalin nimi ruotsiksi*</label>

            <input
              type="text"
              class="form-control"
              id="name-sv"
              placeholder="Oppimateriaalin nimi"
              formControlName="sv"
            >
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-gray" aria-label="Peruuta" (click)="modalRef.hide()">Peruuta</button>
          <button type="button" class="btn btn-blue" (click)="modalRef.hide()">Tallenna muutokset</button>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-container *ngFor="let file of files.controls; let i = index;">
    <div class="form-group" formArrayName="files">
      <ng-container [formGroupName]="i">
        <h4>{{ i + 1 }}. tiedosto
          <button
            type="button"
            class="btn btn-link"
            tooltip="Lataa tässä ne tiedostot joista oppimateriaalisi koostuu. Voit myös linkittää oppimateriaalisi, jos se sijaitsee jossain avoimesti ja pitkäikäisesti kenen tahansa saatavilla. Ensimmäinen tiedosto on myös esikatselussa ensimmäisenä auki."
          ><img src="assets/img/icons/ic_help.svg" alt=""></button>
        </h4>

        <div class="form-row align-items-end mb-2">
          <div class="col">
            <label for="{{ 'file' + i }}">{{ 'forms.educationalResource.basicDetails.file' | translate }}*</label>

            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="{{ 'file' + i }}"
                formControlName="file"
              >
              <span class="custom-file-label">{{ files.controls[i].controls.file.value || 'Valitse tiedosto' }}</span>
            </div>
          </div>

          <div class="col-auto">tai</div>

          <div class="col">
            <label for="{{ 'link' + i }}">{{ 'forms.educationalResource.basicDetails.link' | translate }}*</label>

            <input
              type="text"
              class="form-control"
              id="{{ 'link' + i }}"
              placeholder="https://"
              formControlName="link"
            >
          </div>

          <div class="col-2">
            <label for="{{ 'language' + i }}">{{ 'forms.educationalResource.basicDetails.language' | translate }}*</label>

            <button
              type="button"
              class="btn btn-link"
              tooltip="Valitse millä kielellä oppimateriaalisi tai tämä osa oppimateriaaliasi on tarkoitettu opiskeltavaksi. Mikäli olet tehnyt oppimateriaalistasi käännöksen toiselle kielelle, voit lisätä tiedostot tässä samassa kohtaa ja merkata niiden opiskelukielen tähän."
            ><img src="assets/img/icons/ic_help.svg" alt=""></button>

            <ng-select
              [items]="languages$ | async"
              bindLabel="value"
              id="{{ 'language' + i }}"
              placeholder="Valitse kieli"
              formControlName="language"
            ></ng-select>
          </div>
        </div>

        <div class="form-row align-items-end" formGroupName="displayName">
          <div class="col">
            <label for="{{ 'displayNameFi' + i }}">{{ 'forms.educationalResource.basicDetails.displayName' | translate }}*</label>

            <button
              type="button"
              class="btn btn-link"
              tooltip="Nimi jonka haluat muiden näkevän tästä tiedostosta. Esimerkiksi Luontoetiikan luentotallenne tai Luontoetiikan diat. Mikäli oppimateriaalisi koostuu useasta tiedostosta, tiedosto valitaan käytettäväksi klikkammalla tiedoston nimeä. Nimen onkin hyvä olla ytimekäs ja selkeä."
            ><img src="assets/img/icons/ic_help.svg" alt=""></button>

            <input
              type="text"
              class="form-control"
              id="{{ 'displayNameFi' + i }}"
              formControlName="fi"
            >
          </div>

          <div class="col-auto">
            <button type="button" class="btn btn-gray" (click)="openModal(displayName)">Kieliversiot</button>

            <button
              type="button"
              class="btn btn-link"
              tooltip="Kieliversiot-painikkeesta voit halutessasi lisätä nimille ja kuvaukselle suomen, ruotsin tai englanninkielisen käännöksen, jotta näillä kielillä palvelua käyttävät saavat kokonaisen kuvan millainen materiaalisi on."
            ><img src="assets/img/icons/ic_help.svg" alt=""></button>
          </div>

          <ng-template #displayName>
            <div class="modal-header">
              <h5 class="modal-title">Kieliversiot: {{ 'forms.educationalResource.basicDetails.displayName' | translate }}</h5>

              <button type="button" class="close" aria-label="Sulje" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <h4>Kieliversioiden lisääminen</h4>

              <div class="form-group">
                <label for="{{ 'displayNameEn' + i }}">Tiedoston esitysnimi englanniksi*</label>

                <input
                  type="text"
                  class="form-control"
                  id="{{ 'displayNameEn' + i }}"
                  formControlName="en"
                >
              </div>

              <div class="form-group">
                <label for="{{ 'displayNameSv' + i }}">Tiedoston esitysnimi ruotsiksi*</label>

                <input
                  type="text"
                  class="form-control"
                  id="{{ 'displayNameSv' + i }}"
                  formControlName="sv"
                >
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-gray" aria-label="Peruuta" (click)="modalRef.hide()">Peruuta</button>
              <button type="button" class="btn btn-blue" (click)="modalRef.hide()">Tallenna muutokset</button>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div class="form-group">
    <button type="button" class="btn btn-gray" (click)="addFile()">Lisää tiedosto</button>
  </div>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="resetForm()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="fileUploadForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
