<alert type="info" dismissible="true">
  Tervetuloa lisäämään materiaalia palveluun. Anna halutessasi materiaalille myös englannin ja ruotsin kielinen nimi. Mikäli sinulla on samasta materiaalista eri kieliversioita niin voit lisätä ne erikseen palveluun. Samassa materiaalissa voi olla useita tiedostoja, jotka voit lisätä materiaaliin tässä näkymässä 'Lisää tiedosto' -painikkeella.
</alert>

<form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-row align-items-end">
      <div class="col">
        <label for="name">{{ 'forms.educationalResource.basicDetails.materialName' | translate }}*</label>

        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Oppimateriaalin nimi"
          formControlName="name"
          required
        >
      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-gray">Kieliversiot</button>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let file of files.controls; let i = index;">
    <div class="form-group" formArrayName="files">
      <ng-container [formGroupName]="i">
        <h4>{{ i + 1 }}. tiedosto</h4>

        <div class="form-row align-items-end mb-2">
          <div class="col">
            <label for="file">{{ 'forms.educationalResource.basicDetails.file' | translate }}*</label>

            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="file"
                formControlName="file"
                required
              >
              <span class="custom-file-label">{{ files.controls[i].controls.file.value || 'Valitse tiedosto' }}</span>
            </div>
          </div>

          <div class="col-auto">tai</div>

          <div class="col">
            <label for="name">{{ 'forms.educationalResource.basicDetails.link' | translate }}*</label>

            <input
              type="text"
              class="form-control"
              id="link"
              placeholder="https://"
              formControlName="link"
              required
            >
          </div>

          <div class="col-auto">
            <label for="language">{{ 'forms.educationalResource.basicDetails.language' | translate }}*</label>

            <select
              class="form-control"
              id="language"
              formControlName="language"
            >
              <option value="fi">suomi</option>
              <option value="sv">ruotsi</option>
              <option value="en">englanti</option>
            </select>
          </div>
        </div>

        <div class="form-row align-items-end">
          <div class="col">
            <label for="displayName">{{ 'forms.educationalResource.basicDetails.displayName' | translate }}*</label>

            <input
              type="text"
              class="form-control"
              id="displayName"
              placeholder="Ei valittua tiedostoa"
              formControlName="displayName"
              required
            >
          </div>

          <div class="col-auto">
            <button type="button" class="btn btn-gray">Kieliversiot</button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div class="form-group">
    <button type="button" class="btn btn-gray" (click)="addFile()">Lisää tiedosto</button>
  </div>

  <div class="d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-secondary"
      disabled
    >Edellinen</button>

    <button
      type="reset"
      class="btn btn-light"
      [disabled]="fileUploadForm.pristine"
    >{{ 'forms.common.abort' | translate }}</button>

    <button
      type="submit"
      class="btn btn-blue"
      [disabled]="fileUploadForm.invalid"
    >{{ 'forms.common.next' | translate }}</button>
  </div>
</form>
