<div class="material-info">
  <ng-container *ngFor="let material of materials" >
    <div *ngIf="material === previewMaterial">
      <h1 class="materials-title">{{ materialName }}</h1>
    </div>
  </ng-container>
  <ul class="list-unstyled authors materials-authors">
    <li *ngFor="let author of educationalMaterial.authors">
      <ng-container *ngIf="author.authorname !== ''">
        {{ author.authorname }}
        <ng-container *ngIf="author.organization">({{ author.organization }})</ng-container>
      </ng-container>
      <ng-container *ngIf="author.authorname === ''">{{ author.organization }}</ng-container>
    </li>
  </ul>
  <a
    [href]="getLicense(educationalMaterial.license?.key)?.link"
    target="_blank"
    rel="noopener noreferrer"
  >
    {{ getLicense(educationalMaterial.license?.key)?.value }}
  </a>
</div>

<div class="file-list" *ngIf="materials?.length > 0; else notFound">
  <div class="row no-gutters">
    <div class="col-3">
      <div class="btn-group-vertical" role="group">
        <ng-container *ngFor="let material of materials">
          <button
            type="button"
            class="btn btn-file text-dark"
            [ngClass]="material === previewMaterial ? 'active' : ''"
            (click)="setPreviewMaterial(material)"
          >
            {{ material.displayName[lang] }}
          </button>
        </ng-container>
      </div>
    </div>

    <div class="col-9">
      <div class="file-content">
        <app-educational-material-preview
          [material]="previewMaterial"
          *ngIf="!previewMaterial.link"
        ></app-educational-material-preview>

        <a
          *ngIf="previewMaterial.link"
          [href]="previewMaterial.link"
          class="btn btn-secondary"
          target="_blank"
          rel="noopener"
        >
          {{ 'demo.educationalMaterial.preview.openInNewTab' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #notFound>
  <alert type="warning">
    <strong>404</strong>
  </alert>
</ng-template>
