<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="collection">
  <h2 class="sr-only">
    {{ 'forms.collection.material.title' | translate }}
  </h2>

  <div *ngFor="let materialOrHeading of materialsAndHeadingsArray.controls; let i = index" class="border-bottom py-4">
    <fieldset formArrayName="materialsAndHeadings">
      <ng-container *ngIf="materialOrHeading.get('id'); else heading">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h3>
              <span class="mr-2">{{ i + 1 }}</span>
              {{ materials.get(materialOrHeading.get('id').value).name[lang] }}
            </h3>
          </div>

          <div class="col-auto">
            <button
              type="button"
              class="btn btn-sm btn-link"
              (click)="addHeading(i)"
            >Lisää yläpuolelle väliotsikko (ja ohjeistava tai kuvaava teksti)</button><!--@todo: replace with translation string-->
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img
              [src]="materials.get(materialOrHeading.get('id').value).thumbnail"
              class="img-fluid mb-3"
              [alt]="'demo.educationalMaterial.cover.alt' | translate"
            >
          </div><!--thumbnail-->

          <div class="col-9 col-md-6">
            <p *ngIf="materials.get(materialOrHeading.get('id').value).description[lang]">
              {{ materials.get(materialOrHeading.get('id').value).description[lang] }}
            </p>

            <ul class="list-unstyled">
              <li *ngFor="let author of materials.get(materialOrHeading.get('id').value).authors">
                <ng-container *ngIf="author.author !== ''">
                  {{ author.author }}
                  <ng-container *ngIf="author.organization.value !== ''">({{ author.organization.value }})</ng-container>
                </ng-container>
                <ng-container *ngIf="author.author === ''">{{ author.organization.value }}</ng-container>
              </li>
            </ul>
          </div>

          <div class="col-12 col-md-4 text-md-right">
            <div class="tags">
              <button type="button" class="btn btn-light disabled">
                meta
              </button>
            </div><!--@todo: replace with actual data-->
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-auto">
            <span class="mr-4">
              <img
                src="assets/img/icons/learning-resource-types/{{ materials.get(materialOrHeading.get('id').value).learningResourceTypes[0].key }}.svg"
                class="img-icon"
                aria-hidden="true"
              > {{ materials.get(materialOrHeading.get('id').value).learningResourceTypes[0].value }}
            </span><!--@todo: replace with actual data-->

            <strong>
              {{ materials.get(materialOrHeading.get('id').value).license.value }}
            </strong>
          </div>

          <div class="col-auto">
            <time [attr.datetime]="materials.get(materialOrHeading.get('id').value).publishedAt | date:'yyyy-MM-dd'">
              {{ materials.get(materialOrHeading.get('id').value).publishedAt | date:'d.M.yyyy' }}
            </time>
          </div><!--@todo: replace with actual data-->
        </div>
      </ng-container><!--material-->

      <ng-template #heading>
        <ng-container *ngIf="materialOrHeading.get('heading').value; else newHeading">
          <h3>
            <span class="mr-2">{{ i + 1 }}</span>
            {{ materialOrHeading.get('heading').value }}
          </h3>

          <p *ngIf="materialOrHeading.get('description').value">{{ materialOrHeading.get('description').value }}</p>
        </ng-container><!--existing heading-->

        <ng-template #newHeading>
          <ng-container [formGroupName]="i">
            <div class="form-group">
              <label for="{{ 'heading-' + i }}">Väliotsikko</label><!--@todo: replace with translation string-->

              <input
                type="text"
                class="form-control"
                id="{{ 'heading-' + i }}"
                formControlName="heading"
              >
            </div><!--heading-->

            <div class="form-group">
              <label for="{{ 'description-' + i }}">Ohjeistava tai kuvaava teksti</label><!--@todo: replace with translation string-->

              <textarea
                class="form-control"
                id="{{ 'description-' + i }}"
                formControlName="description"
                rows="10"
              ></textarea>
            </div><!--description-->
          </ng-container>
        </ng-template><!--new heading-->
      </ng-template><!--heading-->
    </fieldset>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previous()"
      >{{ 'forms.common.previous' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="emitAbort()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
