<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ 'demo.help.title' | translate }}</h1>
      </div>
    </div><!--/.row-->

    <div class="row">
      <div class="col">
        <h2>{{ 'demo.help.subtitle' | translate }}</h2>

        <p>{{ 'demo.help.description' | translate }}</p>
      </div>
    </div><!--/.row-->

    <div class="row">
      <div class="col">
        <h2>{{ 'demo.help.faq.title' | translate }}</h2>

        <accordion>
          <accordion-group *ngFor="let item of faq" #group>
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <div class="float-left pull-left">
                {{ item.question }}
              </div>
              <i class="fa float-right pull-right" aria-hidden="true" [ngClass]="group?.isOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            </button>

            <p>{{ item.answer }}</p>
          </accordion-group>
        </accordion>
      </div>
    </div><!--/.row-->
  </div>
</div>
