<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Usein kysytyt kysymykset</h1>
      </div>
    </div><!--/.row-->

    <!--<div class="row">
      <div class="col">
        <h2>{{ 'demo.help.subtitle' | translate }}</h2>

        <p>{{ 'demo.help.description' | translate }}</p>
      </div>
    </div>&lt;!&ndash;/.row&ndash;&gt;-->

    <div class="row">
      <div class="col">
        <h2>Yleisiä kysymyksiä</h2>

        <accordion>
          <accordion-group *ngFor="let item of faqGeneral" #group1>
            <div accordion-heading class="row">
              <div class="col">{{ item.question }}</div>
              <div class="col-auto"><i class="fa" aria-hidden="true" [ngClass]="group1.isOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
            </div>

            <p *ngFor="let paragraph of item.answer">{{ paragraph }}</p>
          </accordion-group>
        </accordion>

        <h2>Oppimateriaalien tekijöille</h2>

        <accordion>
          <accordion-group *ngFor="let item of faqMaterial" #group2>
            <div accordion-heading class="row">
              <div class="col">{{ item.question }}</div>
              <div class="col-auto"><i class="fa" aria-hidden="true" [ngClass]="group2.isOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
            </div>

            <p *ngFor="let paragraph of item.answer">{{ paragraph }}</p>
          </accordion-group>
        </accordion>

        <h2>Organisaatioille</h2>

        <accordion>
          <accordion-group *ngFor="let item of faqOrganisation" #group3>
            <div accordion-heading class="row">
              <div class="col">{{ item.question }}</div>
              <div class="col-auto"><i class="fa" aria-hidden="true" [ngClass]="group3.isOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
            </div>

            <p *ngFor="let paragraph of item.answer">{{ paragraph }}</p>
          </accordion-group>
        </accordion>

        <h2>Lisenssit</h2>

        <p>Jotta oppimateriaalin voi tallentaa avointen oppimateriaalien palveluun, on sen oltava lisensoitu jollain Creative Commons -lisenssillä. Creative Commons -lisenssit kertovat millaisia käyttöoikeuksia annat muille ihmisille: Voivatko he tehdä oman oppimateriaalin sinun materiaalisi pohjalta? Saavatko he käyttää oppimateriaalisi osaa omassa materiaalissaan? Saako materiaaliasi päivittää tai kääntää eri kielelle tai muuttaa pistekirjoitukseksi? Saako oppimateriaaliasi käyttää kaupallisessa koulutuksessa?</p>

        <h3>Avointen oppimateriaalien palvelu suosittelee avointa lisensointia</h3>

        <p>Avointen oppimateriaalien palvelu suosittelee valitsemaan Creative Commons Nimeä tai Creative Commons Nimeä-JaaSamoin -lisenssin. Kummatkin näistä takaavat, että sinut mainitaan oppimateriaalin tekijänä ja että muut käyttäjät saavat vapaasti käyttää oppimateriaaliasi osana oppimis-, opetus- ja koulutustarpeitaan. Ne mahdollistavat myös sen, että muut ihmiset voivat luoda omia muokkauksia oppimateriaalisi pohjalta, taaten näin sen, että oppimateriaalisi voi jatkaa päivittymistä ja eloaan senkin jälkeen, kun et itse enää ole kiinnostunut pitämään sitä ajan tasalla. Creative Commons Nimeä-JaaSamoin takaa myös sen, että kaikki muokkaukset ja uudelleentyöstöt, jotka materiaalisi pohjalta tehdään, jaetaan samalla avoimella lisenssillä.</p>

        <h3>Hyvä ottaa huomioon lisenssiä valitessa</h3>

        <p>Kaupallisen käytön kieltäminen voi olla houkuttelevaa erityisesti, jos oppimateriaalien avoin jakaminen on uusi asia. Kaupallisen käytön määrittely on kuitenkin erittäin haastavaa. Creative Commons EiKaupallinen esimerkiksi estää oppimateriaalin tai sen osan jakamisen mainosrahoitteisella verkkosivulla tai vaikkapa blogissa. Oppimateriaalin käyttäminen yrityksille, yksityishenkilöille tai yhteisöille suunnatussa maksullisessa koulutuksessa tai muussa vastaavassa tilaisuudessa on myös tässä lisenssissä kiellettyä. Valitse siis EiKaupallinen vain harkinnan jälkeen. Hyvänä vaihtoehtona kaupallisen käytön kieltämiselle on Creative Commons Nimeä-JaaSamoin, joka edellyttää, että materiaalistasi tehdyt johdannaismateriaalit on jaettava samoin avoimen käytön mahdollistavalla lisenssillä.</p>

        <p>Creative Commons EiMuutoksia -lisenssiehtoa ei suositella käytettäväksi avoimissa oppimateriaaleissa. Lisenssi estää oppimateriaalin kaikenlaisen päivittämisen ja johdannaismateriaalien tekemisen. Oppimateriaalia ei voi myöskään esimerkiksi kääntää tai muuttaa pistekirjoitukseksi. Creative Commons EiMuutoksia soveltuukin parhaiten taideteosten ja vastaavien töiden lisensointiin.</p>

        <h3>Varmista, että sinulla on käyttöoikeus hyödyntämääsi materiaaliin</h3>

        <p>Valitsemalla avoimen lisenssin ja tallentamalla oppimateriaalin avointen oppimateriaalin palveluun vakuutat, että sinulla on oikeus julkaista materiaali avoimesti. Varmistathan, että jaat avoimesti vain materiaalia, johon sinulla on käyttöoikeus: eli materiaalia jonka olet tehnyt täysin itse tai jonka avoimeen julkaisuun ja lisensointiin olet saanut luvan muilta tekijöiltä. Huomioi myös, että sinulla on käyttöoikeus esimerkiksi oppimateriaalissasi oleviin kuviin.</p>

        <p>Kun lisäät oppimateriaalia avointen oppimateriaalien palveluun varmista, että</p>

        <ul>
          <li>olet tehnyt materiaalin täysin itse, tai</li>
          <li>sinulla on käyttöoikeus hyödyntämääsi materiaaliin</li>
          <li>sinulla on käyttöoikeus oppimateriaalissasi oleviin kuviin tai videoihin</li>
        </ul>

        <p>Voit lukea lisää Creative Commons –lisensseistä Creative Commonsin kotisivuilta https://creativecommons.fi/lisenssit/</p>
      </div>
    </div><!--/.row-->
  </div>
</div>
