<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ 'demo.faq.title' | translate }}</h1>
      </div>
    </div><!--/.row-->

    <div class="row">
      <div class="col">
        <h2>{{ 'demo.faq.general' | translate }}</h2>

        <accordion>
          <accordion-group *ngFor="let item of faqGeneral" #group1>
            <div accordion-heading class="row">
              <div class="col">{{ item.question }}</div>
              <div class="col-auto"><i class="fa" aria-hidden="true" [ngClass]="group1.isOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
            </div>

            <p *ngFor="let paragraph of item.answer" [innerHTML]="paragraph"></p>
          </accordion-group>
        </accordion>

        <h2>{{ 'demo.faq.material' | translate }}</h2>

        <accordion>
          <accordion-group *ngFor="let item of faqMaterial" #group2>
            <div accordion-heading class="row">
              <div class="col">{{ item.question }}</div>
              <div class="col-auto"><i class="fa" aria-hidden="true" [ngClass]="group2.isOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
            </div>

            <p *ngFor="let paragraph of item.answer" [innerHTML]="paragraph"></p>
          </accordion-group>
        </accordion>

        <h2>{{ 'demo.faq.organization' | translate }}</h2>

        <accordion>
          <accordion-group *ngFor="let item of faqOrganisation" #group3>
            <div accordion-heading class="row">
              <div class="col">{{ item.question }}</div>
              <div class="col-auto"><i class="fa" aria-hidden="true" [ngClass]="group3.isOpen ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
            </div>

            <p *ngFor="let paragraph of item.answer" [innerHTML]="paragraph"></p>
          </accordion-group>
        </accordion>
      </div>
    </div><!--/.row-->
  </div>
</div>
