<div class="py-4 px-0">
  <div class="container">
    <h1>Palvelun käyttöehdot ja tietosuojaseloste</h1>

    <h2>Käyttöehdot</h2>

    <app-terms-of-use></app-terms-of-use>

    <h2>Tietosuojaseloste</h2>

    <app-privacy-policy></app-privacy-policy>

    <form [formGroup]="acceptanceForm" (ngSubmit)="onSubmit()">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="acceptance" formControlName="acceptance">
        <label class="form-check-label" for="acceptance">Olen lukenut tietosuojaselosteen ja hyväksyn palvelun käyttöehdot</label>
      </div>

      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="acceptanceForm.invalid"
      >Tallenna</button>
    </form>
  </div>
</div>
