<form [formGroup]="licenseForm" (ngSubmit)="onSubmit()">
  <h3>{{ 'forms.educationalResource.license.title' | translate }}</h3>

  <ng-container [ngSwitch]="lang">
    <ng-container *ngSwitchDefault>
      <p>Jotta oppimateriaalin voi tallentaa avointen oppimateriaalien palveluun, on sen oltava lisensoitu jollain Creative Commons -lisenssillä. Creative Commons -lisenssit kertovat millaisia käyttöoikeuksia annat muille ihmisille: voivatko he tehdä oman oppimateriaalin sinun materiaalisi pohjalta? Saavatko he käyttää oppimateriaalisi osaa omassa materiaalissaan? Saako materiaaliasi päivittää tai kääntää eri kielelle tai muuttaa pistekirjoitukseksi? Saako oppimateriaaliasi käyttää kaupallisessa koulutuksessa?</p>
      <p>Avointen oppimateriaalien palvelu suosittelee valitsemaan Creative Commons Nimeä tai Creative Commons Nimeä-JaaSamoin -lisenssin. Kummatkin näistä takaavat, että sinut mainitaan oppimateriaalin tekijänä ja että muut käyttäjät saavat vapaasti käyttää oppimateriaaliasi osana oppimis-, opetus- ja koulutustarpeitaan.</p>
      <p>Löydät tarkat ohjeet lisensseihin Lisätietoa-osiosta.</p>
    </ng-container>
  </ng-container>

  <h3>{{ 'forms.educationalResource.license.subtitle' | translate }}</h3>

  <div class="form-group" *ngFor="let license of licenses$; let i = index">
    <div class="custom-control custom-radio">
      <input type="radio" [id]="license.key" formControlName="license" [value]="license.key" class="custom-control-input">
      <label class="custom-control-label" [for]="license.key">{{ license.value }}</label>

      <button
        type="button"
        class="btn btn-sm btn-gray ml-2"
        (click)="license.isCollapsed = !license.isCollapsed"
        [attr.aria-expanded]="!license.isCollapsed"
        [attr.aria-controls]="'collapseBasic' + i"
      >{{ 'forms.educationalResource.license.showDetails' | translate }}</button>
    </div>

    <div [id]="'collapseBasic' + i"  [collapse]="license.isCollapsed" [isAnimated]="true">
      <p>{{ license.description }}</p>

      <a [href]="license.link" target="_blank" rel="noopener">{{ 'forms.educationalResource.license.readMore' | translate }}</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >{{ 'forms.common.previous' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="licenseForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
