<form [formGroup]="licenseForm" (ngSubmit)="onSubmit()">
  <h3>Lisenssi</h3>

  <p>Jotta oppimateriaalin voi tallentaa avointen oppimateriaalien palveluun, on sen oltava lisensoitu jollain Creative Commons -lisenssillä. Creative Commons -lisenssit kertovat millaisia käyttöoikeuksia annat muille ihmisille: Voivatko he tehdä oman oppimateriaalin sinun materiaalisi pohjalta? Saavatko he käyttää oppimateriaalisi osaa omassa materiaalissaan? Saako materiaaliasi päivittää tai kääntää eri kielelle tai muuttaa pistekirjoitukseksi? Saako oppimateriaaliasi käyttää kaupallisessa koulutuksessa?</p>

  <p>Avointen oppimateriaalien palvelu suosittelee valitsemaan Creative Commons Nimeä 4.0 (valitse kyllä ja kyllä) tai Creative Commons Nimeä-JaaSamoin (valitse kyllä, vain samalla lisenssillä ja kyllä)-lisenssit. Kummatkin näistä takaavat että sinut mainitaan oppimateriaalin tekijänä ja että muut käyttäjät saavat vapaasti käyttää oppimateriaaliasi osana oppimis-, opetus- ja koulutustarpeitaan. Ne mahdollistavat myös sen että muut ihmiset voivat luoda omia muokkauksia oppimateriaalisi pohjalta, taaten näin sen että oppimateriaalisi voi jatkaa päivittymistä ja eloaan senkin jälkeen kun et itse enää ole kiinnostunut pitämään sitä ajan tasalla. Creative Commons Nimeä-JaaSamoin takaa myös sen että kaikki muokkaukset ja uudelleentyöstöt, jotka materiaalisi pohjalta tehdään, jaetaan samalla avoimella lisenssillä.</p>

  <p>Kaupallisen käytön kieltäminen voi olla houkuttelevaa erityisesti jos oppimateriaalien avoin jakaminen on uusia asia. Kaupallisen käytön määrittely on kuitenkin erittäin haastavaa. Creative Commons EiKaupallinen esimerkiksi estää oppimateriaalin tai sen osan jakamisen mainosrahoitteisella verkkosivulla tai vaikkapa blogissa. Oppimateriaalin käyttäminen yrityksille, yksityishenkilöille tai yhteisöille suunnatussa maksullisessa koulutuksessa tai muussa vastaavassa tilaisuudessa on myös tässä lisenssissä kiellettyä. Valitse siis ei kaupalliseen vain harkinnan jälkeen. Hyvänä vaihtoehtona kaupallisen käytön kieltämiselle on kyllä, jaa samoin. Tämä Creative Commons Nimeä-JaaSamoin edellyttää, että materiaalistasi tehdyt johdannaismateriaalit on jaettava samoin avoimen käytön mahdollistavalla lisenssillä.</p>

  <p>Creative Commons EiMuutoksia -lisenssiehtoa ei suositella käytettäväksi avoimissa oppimateriaaleissa. Lisenssi estää oppimateriaalin kaikenlaisen päivittämisen ja johdannaismateriaalien tekemisen. Oppimateriaalia ei voi myöskään esimerkiksi kääntää tai muuttaa pistekirjoitukseksi. Creative Commons EiMuutoksia soveltuukin parhaiten taideteosten ja vastaavien töiden lisensointiin.</p>

  <p>Valitsemalla avoimen lisenssin ja tallentamalla oppimateriaalin avointen oppimateriaalin palveluun vakuutat, että sinulla on oikeus julkaista materiaali avoimesti. Varmistathan, että jaat avoimesti vain materiaalia johon sinulla on oikeus: eli materiaalia jonka olet tehnyt täysin itse tai jonka avoimeen julkaisuun ja lisensointiin olet saanut luvan muilta tekijöiltä.</p>

  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <small class="form-text" id="commercialUseText">Salli teoksen kaupallinen käyttö?</small>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="allowCommercial"
          class="custom-control-input"
          aria-describedby="commercialUseText"
          value="yes"
          formControlName="licenseCommercialUse"
        >

        <label class="custom-control-label" for="allowCommercial">Kyllä</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="noCommercial"
          class="custom-control-input"
          aria-describedby="commercialUseText"
          value="no"
          formControlName="licenseCommercialUse"
        >

        <label class="custom-control-label" for="noCommercial">Ei</label>
      </div>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <small class="form-text" id="sharingText">Salli teoksen muunnelmien jakaminen?</small>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="allowSharing"
          class="custom-control-input"
          aria-describedby="sharingText"
          value="yes"
          formControlName="licenseSharing"
        >

        <label class="custom-control-label" for="allowSharing">Kyllä</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="disallowSharing"
          class="custom-control-input"
          aria-describedby="sharingText"
          value="no"
          formControlName="licenseSharing"
        >

        <label class="custom-control-label" for="disallowSharing">Ei</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="shareAlike"
          class="custom-control-input"
          aria-describedby="sharingText"
          value="shareAlike"
          formControlName="licenseSharing"
        >

        <label class="custom-control-label" for="shareAlike">Kyllä, vain samalla lisenssillä</label>
      </div>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <small class="form-text">Valittu lisenssi</small>

      <span class="form-text">{{ selectedLicense?.value }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >Edellinen</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="licenseForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
