<h1 class="custom-h1">Analytiikka</h1>
<section>
  <div>
    Analytiikkanäkymässä voit tarkastella yleisiä palvelunhallinnassa tarvittavia tilastotietoja AOE-palvelun käyttöön
    ja tietovarantoon liittyen. Voit valita kaavioihin rinnakkain useita tarkastelukohteita tulosten ja vaikutusten
    tulkintaa varten. Määritä lomakkeella vähintään tähdellä merkityt tietokentät tarkasteltavien tietojen rajaamiseksi.
    Järjestelmä näyttää vertailukelpoiset tulokset lähtökohtaisesti täysien vuorokausien osalta. Tarkastelujakson
    päättymispäivä on oletuksena kuluva päivä, joten tulokset näytetään aina valittua päättymispäivää edeltävän päivän
    loppuun asti. Muiden erityisten tietotarpeiden ja selvitysten osalta voit olla yhteydessä AOE-palvelun tekniseen
    asiantuntijatiimiin.
  </div>
  @if (isAdditionalInstructionVisible) {
    <div>
      <br />
      Oppimateriaalien käyttömääriä voidaan rajata tarkemmin luokituksilla: organisaatiot, opetusasteet ja oppiaineet.
      Yhden luokituksen arvot ovat keskenään ehdollisia, eli oppimateriaali valitaan mukaan tarkasteluun, jos yksikin
      valituista arvoista löytyy oppimateriaalin metatiedoista. Eri luokitukset ovat keskenään ehdottomia, eli
      oppimateriaalin metatiedoissa on oltava vähintään yksi arvo jokaisesta luokituksesta, jos niitä on annettu
      hakuehdoiksi.
    </div>
  }
  <small>
    <a href="#" (click)="toggleAdditionalInstruction($event)">
      {{ isAdditionalInstructionVisible ? 'Sulje lisäohje' : 'Avaa lisäohje' }}
    </a>
    @if (!isAdditionalInstructionVisible) {
      <i class="fa fa-caret-down custom-caret" aria-hidden="true"></i>
    }
    @if (isAdditionalInstructionVisible) {
      <i class="fa fa-caret-up custom-caret" aria-hidden="true"></i>
    }
  </small>
</section>
<br />
<section>
  <h2>Oppimateriaalien käyttömäärät</h2>
  <form [formGroup]="formGroupUsage" (ngSubmit)="submitFormUsage(activitySubmit)">
    <div class="form-row">
      <div class="form-group col-sm-4">
        <!-- Activity Type Select -->
        <label for="form-usage-select-activity">Käyttötapa *</label>
        <ng-select
          [items]="selectOptionActivity"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="label.fi"
          bindValue="value"
          data-testid="käyttötapa"
          id="form-usage-select-activity"
          labelForId="form-usage-select-activity"
        formControlName="activity"></ng-select>
        @if (formUsageActivityCtrl?.invalid && (formUsageActivityCtrl.dirty || formUsageActivityCtrl.touched)) {
          @if (formUsageActivityCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse tarkasteltava käyttötapa</small>
            </div>
          }
        }
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-4">
        <!-- Interval Type Select -->
        <label for="form-usage-select-interval">Aikajanan tarkkuus *</label>
        <ng-select
          [items]="selectOptionInterval"
          bindLabel="label.fi"
          bindValue="value"
          id="form-usage-select-interval"
          data-testid="aikajana"
          labelForId="form-usage-select-interval"
        formControlName="interval"></ng-select>
        @if (formUsageIntervalCtrl?.invalid && (formUsageIntervalCtrl.dirty || formUsageIntervalCtrl.touched)) {
          @if (formUsageIntervalCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse aikajanan tarkkuus</small>
            </div>
          }
        }
      </div>
      <div class="form-group col-sm-4">
        <!-- Date Since Picker -->
        <label for="form-usage-select-date-since">Tarkastelu alkaa *</label>
        <input
          type="text"
          class="form-control custom-readonly"
          id="form-usage-select-date-since"
          formControlName="dateSince"
          bsDatepicker
          readonly
          [maxDate]="formUsageDateUntilCtrl.value"
          [bsConfig]="{ dateInputFormat: 'D.M.YYYY', selectFromOtherMonth: true }" />
        @if (formUsageDateSinceCtrl?.invalid && (formUsageDateSinceCtrl.dirty || formUsageDateSinceCtrl.touched)) {
          @if (formUsageDateSinceCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse tarkastelun alkamispäivä</small>
            </div>
          }
        }
      </div>
      <div class="form-group col-sm-4">
        <!-- Date Until Picker -->
        <label for="form-usage-select-date-until">Tarkastelu päättyy *</label>
        <input
          type="text"
          class="form-control custom-readonly"
          id="form-usage-select-date-until"
          formControlName="dateUntil"
          bsDatepicker
          readonly
          [minDate]="formUsageDateSinceCtrl.value"
          [maxDate]="today"
          [bsConfig]="{ dateInputFormat: 'D.M.YYYY', selectFromOtherMonth: true }" />
        @if (formUsageDateUntilCtrl?.invalid && (formUsageDateUntilCtrl.dirty || formUsageDateUntilCtrl.touched)) {
          @if (formUsageDateUntilCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse tarkastelun päättymispäivä</small>
            </div>
          }
        }
      </div>
    </div>
    <div class="form-row">
      @if (organizations$ | async; as organizations) {
        <div class="form-group col-sm-4">
          <!-- Organizations Select -->
          <label for="form-usage-select-organizations">Organisaatiot</label>
          <ng-select
            [items]="organizations"
            [multiple]="true"
            [closeOnSelect]="false"
            [virtualScroll]="true"
            bindLabel="value"
            groupBy="children"
            id="form-usage-select-organizations"
            labelForId="form-usage-select-organizations"
            formControlName="organizations">
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value">
                <span class="ng-value-label">{{ items.length }} valintaa</span>
              </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{ item.value }}
              @if (item.parent) {
                <small>
                  <br />
                  {{ item.parent }}
                </small>
              }
            </ng-template>
          </ng-select>
        </div>
      }
      @if (educationalLevels$ | async; as educationalLevels) {
        <div class="form-group col-sm-4">
          <!-- Educational Levels Select -->
          <label for="form-usage-select-educational-levels">Opetusasteet</label>
          <ng-select
            [items]="educationalLevels"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="value"
            groupBy="children"
            id="form-usage-select-educational-levels"
            labelForId="form-usage-select-educational-levels"
            formControlName="educationalLevels">
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value">
                <span class="ng-value-label">{{ items.length }} valintaa</span>
              </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
            <ng-template ng-option-tmp let-item="item">{{ item.value }}</ng-template>
          </ng-select>
        </div>
      }
      @if (educationalSubjects$ | async; as educationalSubjects) {
        <div class="form-group col-sm-4">
          <!-- Educational Subjects Select -->
          <label for="form-usage-select-educational-subjects">Oppiaineet</label>
          <ng-select
            [items]="educationalSubjects"
            [multiple]="true"
            [closeOnSelect]="false"
            [selectableGroup]="true"
            [selectableGroupAsModel]="false"
            bindLabel="value"
            groupBy="children"
            id="form-usage-select-educational-subjects"
            labelForId="form-usage-select-educational-subjects"
            formControlName="educationalSubjects">
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value">
                <span class="ng-value-label">{{ items.length }} valintaa</span>
              </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{ item.value }}
              @if (item.parent) {
                <small>
                  <br />
                  {{ item.parent }}
                </small>
              }
            </ng-template>
          </ng-select>
        </div>
      }
    </div>
    <button
      type="submit"
      [disabled]="formGroupUsage.invalid"
      class="btn btn-blue"
      data-testid="käyttömäärä-button"
      #activitySubmit>
      Hae tiedot
    </button>
    &nbsp;&nbsp;
    <button (click)="resetFormActivity($event)" class="btn btn-cancel">Tyhjennä</button>
  </form>
  <br />
  <app-line-chart data-testid="käyttömäärä-chart" [options]="eChartsOptionActivity"></app-line-chart>
  <br />
</section>
<br />
<section>
  <h2>Oppimateriaalien julkaisumäärät</h2>
  <form [formGroup]="formGroupPublished" (ngSubmit)="submitFormPublished(publishedSubmit)">
    <div class="form-row">
      <div class="form-group col-sm-4">
        <!-- Date Since Picker -->
        <label for="form-published-select-date-since">Tarkastelu alkaa *</label>
        <input
          type="text"
          class="form-control custom-readonly"
          id="form-published-select-date-since"
          formControlName="dateSince"
          bsDatepicker
          readonly
          [maxDate]="formPublishedDateUntilCtrl.value"
          [bsConfig]="{ dateInputFormat: 'D.M.YYYY', selectFromOtherMonth: true }" />
        @if (formPublishedDateSinceCtrl?.invalid && (formPublishedDateSinceCtrl.dirty || formPublishedDateSinceCtrl.touched)) {
          @if (formPublishedDateSinceCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse tarkastelun alkamispäivä</small>
            </div>
          }
        }
      </div>
      <div class="form-group col-sm-4">
        <!-- Date Until Picker -->
        <label for="form-published-select-date-until">Tarkastelu päättyy *</label>
        <input
          type="text"
          class="form-control custom-readonly"
          id="form-published-select-date-until"
          formControlName="dateUntil"
          bsDatepicker
          readonly
          [minDate]="formPublishedDateSinceCtrl.value"
          [maxDate]="today"
          [bsConfig]="{ dateInputFormat: 'D.M.YYYY', selectFromOtherMonth: true }" />
        @if (formPublishedDateUntilCtrl?.invalid && (formPublishedDateUntilCtrl.dirty || formPublishedDateUntilCtrl.touched)) {
          @if (formPublishedDateUntilCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse tarkastelun päättymispäivä</small>
            </div>
          }
        }
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-4">
        <!-- Category Select -->
        <label for="form-published-select-category">Valitse luokitus *</label>
        <ng-select
          [items]="selectOptionCategory"
          bindLabel="label.fi"
          bindValue="value"
          labelForId="form-published-select-category"
          id="form-published-select-category"
        formControlName="category"></ng-select>
        @if (formPublishedCategoryCtrl?.invalid && (formPublishedCategoryCtrl.dirty || formPublishedCategoryCtrl.touched)) {
          @if (formPublishedCategoryCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse julkaisujen luokitus</small>
            </div>
          }
        }
      </div>
      @if (!formPublishedCategoryCtrl.value) {
        <div class="form-group col-sm-4">
          <label class="custom-dimmer" for="form-published-select-disabled">[ Lisävalinta ]</label>
          <ng-select
            class="custom-disabled"
            id="form-published-select-disabled"
            labelForId="form-published-select-disabled"
            readonly
          disabled></ng-select>
        </div>
      }
      @if (formPublishedCategoryCtrl.value === 'educationalLevels' && educationalLevels$ | async; as educationalLevels) {
        <div
          class="form-group col-sm-4">
          <!-- Educational Levels Select -->
          <label for="form-published-select-educational-levels">Opetusasteet *</label>
          <ng-select
            [items]="educationalLevels"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="value"
            groupBy="children"
            id="form-published-select-educational-levels"
            labelForId="form-published-select-educational-levels"
            formControlName="educationalLevels">
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value">
                <span class="ng-value-label">{{ items.length }} valintaa</span>
              </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
            <ng-template ng-option-tmp let-item="item">{{ item.value }}</ng-template>
          </ng-select>
          @if (formPublishedEducationalLevelsCtrl?.invalid && (formPublishedEducationalLevelsCtrl.dirty || formPublishedEducationalLevelsCtrl.touched)) {
            @if (formPublishedEducationalLevelsCtrl.errors?.required) {
              <div>
                <small class="text-danger">Valitse yksi tai useampi opetusaste</small>
              </div>
            }
          }
        </div>
      }
      @if (formPublishedCategoryCtrl.value === 'educationalSubjects' && educationalSubjects$ | async; as educationalSubjects) {
        <div
          class="form-group col-sm-4">
          <!-- Educational Levels Select -->
          <label for="form-published-select-educational-subjects">Oppiaineet *</label>
          <ng-select
            [items]="educationalSubjects"
            [multiple]="true"
            [closeOnSelect]="false"
            [selectableGroup]="true"
            [selectableGroupAsModel]="false"
            bindLabel="value"
            groupBy="children"
            id="form-published-select-educational-subjects"
            labelForId="form-published-select-educational-subjects"
            formControlName="educationalSubjects">
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value">
                <span class="ng-value-label">{{ items.length }} valintaa</span>
              </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{ item.value }}
              @if (item.parent) {
                <small>
                  <br />
                  {{ item.parent }}
                </small>
              }
            </ng-template>
          </ng-select>
          @if (formPublishedEducationalSubjectsCtrl?.invalid && (formPublishedEducationalSubjectsCtrl.dirty || formPublishedEducationalSubjectsCtrl.touched)) {
            @if (formPublishedEducationalSubjectsCtrl.errors?.required) {
              <div>
                <small class="text-danger">Valitse yksi tai useampi oppiaine</small>
              </div>
            }
          }
        </div>
      }
      @if (formPublishedCategoryCtrl.value === 'organizations' && organizations$ | async; as organizations) {
        <div
          class="form-group col-sm-4">
          <label for="form-published-select-organizations">Organisaatiot *</label>
          <ng-select
            [items]="organizations"
            [multiple]="true"
            [closeOnSelect]="false"
            [virtualScroll]="true"
            bindLabel="value"
            groupBy="children"
            id="form-published-select-organizations"
            labelForId="form-published-select-organizations"
            formControlName="organizations">
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value">
                <span class="ng-value-label">{{ items.length }} valintaa</span>
              </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{ item.value }}
              @if (item.parent) {
                <small>
                  <br />
                  {{ item.parent }}
                </small>
              }
            </ng-template>
          </ng-select>
          @if (formPublishedOrganizationsCtrl?.invalid && (formPublishedOrganizationsCtrl.dirty || formPublishedOrganizationsCtrl.touched)) {
            @if (formPublishedOrganizationsCtrl.errors?.required) {
              <div>
                <small class="text-danger">Valitse yksi tai useampi organisaatio</small>
              </div>
            }
          }
        </div>
      }
    </div>
    <button type="submit" [disabled]="formGroupPublished.invalid" class="btn btn-blue" #publishedSubmit>
      Hae tiedot
    </button>
    &nbsp;&nbsp;
    <button (click)="resetFormPublished($event)" class="btn btn-cancel">Tyhjennä</button>
  </form>
  <br />
  <app-line-chart [options]="eChartsOptionPublished"></app-line-chart>
  <br />
</section>
<br />
<section>
  <h2>Vanhentuneiden oppimateriaalien määrät</h2>
  <form [id]="formGroupExpired" [formGroup]="formGroupExpired" (ngSubmit)="submitFormExpired(expiredSubmit)">
    <div class="form-row">
      @if (educationalLevels$ | async; as educationalLevels) {
        <div class="form-group col-sm-6 col-md-4">
          <!-- Educational Levels Select -->
          <label for="form-expired-select-ducational-levels">Opetusasteet *</label>
          <ng-select
            [items]="educationalLevels"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="value"
            groupBy="children"
            id="form-expired-select-ducational-levels"
            labelForId="form-expired-select-ducational-levels"
            formControlName="educationalLevels">
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value">
                <span class="ng-value-label">{{ items.length }} valintaa</span>
              </div>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
            <ng-template ng-option-tmp let-item="item">{{ item.value }}</ng-template>
          </ng-select>
          @if (formExpiredEducationalLevelsCtrl?.invalid && (formExpiredEducationalLevelsCtrl.dirty || formExpiredEducationalLevelsCtrl.touched)) {
            @if (formExpiredEducationalLevelsCtrl.errors?.required) {
              <div>
                <small class="text-danger">Valitse yksi tai useampi opetusaste</small>
              </div>
            }
          }
        </div>
      }
      <div class="form-group col-sm-6 col-md-4">
        <!-- Date Expired Before Picker -->
        <label for="form-expired-select-date-expired-before">Vanhenee ennen *</label>
        <input
          type="text"
          class="form-control custom-readonly"
          id="form-expired-select-date-expired-before"
          formControlName="expiredBefore"
          bsDatepicker
          readonly
          [bsConfig]="{ dateInputFormat: 'D.M.YYYY', selectFromOtherMonth: true }" />
        @if (formExpiredBeforeCtrl?.invalid && (formExpiredBeforeCtrl.dirty || formExpiredBeforeCtrl.touched)) {
          @if (formExpiredBeforeCtrl.errors?.required) {
            <div>
              <small class="text-danger">Valitse tarkasteltava vanhenemispäivä</small>
            </div>
          }
        }
      </div>
    </div>
    <button type="submit" [disabled]="formGroupExpired.invalid" class="btn btn-blue" #expiredSubmit>Hae tiedot</button>
    &nbsp;&nbsp;
    <button (click)="resetFormExpired($event)" class="btn btn-cancel">Tyhjennä</button>
  </form>
  <br />
  <app-line-chart [options]="eChartsOptionExpired"></app-line-chart>
  <br />
</section>
<br />
