@use 'sass:color';
@use 'variables';

.custom-caret {
  color: variables.$blue;
}

.custom-dimmer {
  color: color.adjust(#464646, $lightness: 60%) !important;
}

.custom-disabled {
  pointer-events: none;
  opacity: 0.7;
}

.custom-h1 {
  margin-bottom: 1rem;
}

.custom-readonly {
  background-color: white !important;
  color: inherit;
  cursor: pointer;
}
