<article>
  <ng-container [ngSwitch]="lang">
    <ng-container *ngSwitchDefault>
      <h1>Tietosuojailmoitus</h1>

      <p>Julkaistu 28.11.2019</p>
      <p>Opetus- ja kulttuuriministeriön tietosuojailmoitus rekisteröidylle</p>
      <p>Avointen oppimateriaalien palvelussa käsiteltävät henkilötiedot</p>

      <h2>1. Yleistä</h2>
      <p>Tämä tietosuojailmoitus sisältää EU:n tietosuoja-asetuksen (EU) 679/2016 13 ja 14 artiklan mukaiset tiedot rekisteröidylle (luonnolliselle henkilölle). Tämä ilmoitus annetaan rekisteröidylle henkilötietoja kerättäessä.</p>

      <h2>2. Rekisterinpitäjä ja rekisterinpitäjän yhteystiedot</h2>
      <p>Opetus- ja kulttuuriministeriö<br>
        Kirjaamon käyntiosoite: Ritarikatu 2 b, Helsinki<br>
        Postiosoite: PL 29, 00023 VALTIONEUVOSTO<br>
        Sähköpostiosoite: kirjaamo@minedu.fi<br>
        Puh. 0295 16001 (keskus)</p>

      <h2>3. Tietosuojavastaavan yhteystiedot</h2>
      <p>Opetus- ja kulttuuriministeriön tietosuojavastaava<br>
        Sähköpostiosoite: okmtietosuojavastaava@minedu.fi<br>
        Postiosoite: Opetus- ja kulttuuriministeriö, PL 29, 00023 VALTIONEUVOSTO</p>

      <h2>4. Henkilötietojen käsittelyn tarkoitukset, henkilötietoryhmät ja oikeusperusteet</h2>
      <h3>Henkilötietojen käyttötarkoitukset ovat:</h3>
      <ul>
        <li>Oppimateriaalien tietojen julkaiseminen ja  oppimateriaalien hakeminen</li>
        <li>Rekisteröityjen käyttäjien tietojen sekä kirjautumis- ja käyttölokitietojen hallinta, käyttäjätilastointi ja palvelun käytössä tarvittavien evästeiden hallinta</li>
        <li>Palvelun käyttöön ja kehittämiseen liittyvä tilastointi, analytiikka ja hallinta</li>
        <li>Palvelun rekisteröitymättömien käyttäjien käyttölokitietojen hallinta, käyttäjätilastointi sekä palvelun käytössä tarvittavien evästeiden hallinta.</li>
      </ul>
      <h3>Käsiteltävät henkilötietoryhmät:</h3>
      <ul>
        <li>Rekisteröityjen käyttäjien tiedot kuten nimi, titteli, sähköpostiosoite, syntymäaika, asiakasnumero, osto- ja/tai palvelujen käyttöhistoria ja -tiedot.</li>
        <li>Oppimateriaaleissa mainitut laatijan henkilötiedot sekä oppimateriaaleihin niiden laatijoiden toimesta sisällytetyt muut henkilötiedot.</li>
        <li>IT-hallintatiedot kuten laitteistojen tiedot liittyen tarjottuihin palveluihin, mukaan lukien tekniset tunnisteet, käyttäjänimet, sijainti, yhteystiedot, viestintätiedot ja metatieto ja tekniset tapahtumat jotka liittyvät tarjottuihin palveluihin mukaan lukien järjestelmä- ja sovelluslokitiedot.</li>
      </ul>
      <h3>Henkilötietojen käsittelyn oikeusperusteet:</h3>
      <ul>
        <li>Laki valtioneuvostosta (175/2003)</li>
        <li>Valtioneuvoston ohjesääntö (262/2003)</li>
        <li>Valtioneuvoston asetus opetus- ja kulttuuriministeriöstä (310/2010)</li>
      </ul>
      <p>Oppimateriaaleihin liittyvien henkilötietojen käsittelyyn ja  niiden julkaisemiseen aoe.fi-sivustolla sovelletaan lainmukaisuuden arvioinnissa yleistä etua ja käyttäjien kanssa tehtävien sopimusten täytäntöönpanoa.</p>

      <h2>5. Henkilötietojen käsittelijät</h2>
      <p>Henkilötietojen käsittelijöitä ovat</p>
      <ul>
        <li>CSC-Tieteen tietotekniikan keskus Oy ja sen alihankkijat (sopimukseen perustuen: palvelun kehitys, ylläpito ja säilytys).</li>
        <li>Kansalliskirjasto (oppimateriaalien metatietojen esittäminen).</li>
      </ul>
      <p>Lisäksi oppimateriaalien metatietoja (ml. tekijätiedot ja muut niihin tallennetut henkilötiedot) voidaan luovuttaa yksittäistapauksissa voimassaolevan lainsäädännön mukaisesti toisille oppimateriaalien tietoja esitteleville palveluille kuten oppimisalustoille tai tietovarannoille.</p>

      <h2>6. Henkilötietojen siirtäminen kolmansiin maihin tai kansainvälisille järjestöille</h2>
      <p>Avoimia oppimateriaaleja siirrettäessä siirretään niiden metatiedot (ml. tekijätiedot) ja aineiston tiedot esimerkiksi kansainvälisille järjestöille tai alan toimijoille niin EU/ETA-alueella kuin niiden ulkopuolella. Muita henkilötietoja ei luovuteta EU/ETA-alueen ulkopuolelle.</p>

      <h2>7. Henkilötietojen säilyttämisajat</h2>
      <p>Avointen oppimateriaalien palveluun sisältyvät materiaalit, kommentit ja muu sisältö ja näiden käsittelyyn liittyvät henkilötiedot säilytetään ja poistetaan palvelun käyttöehtojen mukaisesti, ellei arkistointia koskevasta lainsäädännöstä tai muista säädöksistä muuta johdu.</p>

      <h2>8. Rekisteröidyn oikeudet</h2>
      <p>Rekisteröidyllä on oikeus saada rekisterinpitäjältä tieto siitä, käsitelläänkö hänenhenkilötietojaan.</p>
      <p>Rekisteröidyllä on myös oikeus pyytää:</p>
      <ul>
        <li>itseään koskevat henkilötiedot</li>
        <li>rekisterinpitäjää oikaisemaan tai poistamaan virheelliset tai vanhentuneet tiedot</li>
        <li>henkilötietojen käsittelyn rajoittamista</li>
      </ul>
      <p>Mikäli rekisteröity katsoo, ettei hänen henkilötietojensa käsittely ole lainmukaista, rekisteröidyllä on oikeus tehdä asiasta valitus tietosuojavaltuutetulle.</p>

      <h2>9. Henkilötietojen lähde/lähteet</h2>
      <p>Palvelun keräämät tiedot, tietopankit sekä aineiston tallentajien tallentamat metatiedot (ml. tekijäryhmätiedot).</p>

      <h2>10. Henkilötietojen käsittelyn suojaaminen</h2>
      <p>Opetus- ja kulttuuriministeriö rekisterinpitäjänä on toteuttanut tarvittavat tekniset ja organisatoriset toimet sekä vaatii sitä myös henkilötietojen käsittelijöiltä.</p>
    </ng-container>

    <ng-container *ngSwitchCase="'en'">
      <h1>Privacy Policy</h1>

      <p>December 2, 2019</p>
      <p>Privacy notice of the Ministry of Education and Culture for data subjects</p>
      <p>Personal data processed in the Open Educational Resources Service</p>

      <h2>1 General information</h2>
      <p>This privacy notice includes information for the data subject (natural person) under Articles 13 and 14 of the EU’s General Data Protection Regulation (EU) 2016/679. This notice is provided to the data subject during the collection of personal data.</p>

      <h2>2 Controller and the controller’s contact information</h2>
      <p>Ministry of Education and Culture<br>
        Street address of the Registry of the Ministry: Ritarikatu 2B, Helsinki<br>
        Postal address: P.O. Box 29, FI - 00023 GOVERNMENT, FINLAND<br>
        E-mail address: kirjaamo@minedu.fi<br>
        Telephone +358 (0)295 16001 (Switchboard)</p>

      <h2>3 Data Protection Officer’s contact information</h2>
      <p>Data Protection Officer of the Ministry of Education and Culture<br>
        E-mail address: okmtietosuojavastaava@minedu.fi<br>
        Postal address: Ministry of Education and Culture, P.O. Box 29, FI - 00023 GOVERNMENT, FINLAND</p>

      <h2>4 Purposes of, categories of and legal bases for the processing of personal data</h2>
      <h3>The purposes of personal data are:</h3>
      <ul>
        <li>Publishing and finding information about educational resources.</li>
        <li>Management of information on registered users, logins and login details, user statistics, and management of cookies required in use of the service.</li>
        <li>Statistics, analytics and management related to the use and development of the service.</li>
        <li>Management of login details of users who are not registered in the service, user statistics, and management of cookies required in use of the service.</li>
      </ul>
      <h3>Categories of personal data processed:</h3>
      <ul>
        <li>Information on registered users, such as name, title, e-mail address, date of birth, customer number, usage history and details of purchases and/or services.</li>
        <li>Personal data of authors mentioned in educational resources, and other personal data included in educational by authors.</li>
        <li>IT management details, such as equipment details related to services provided, including technical identifiers, usernames, location, contact details, communication details and metadata, and technical events related to services provided, including system and application log data.</li>
      </ul>
      <h3>Legal bases for the processing of personal data:</h3>
      <ul>
        <li>Government Act (175/2003)</li>
        <li>Government Rules of Procedure (262/2003)</li>
        <li>Government Decree on the Ministry of Education and Culture (310/2010)</li>
      </ul>
      <p>In evaluating the lawfulness of processing of personal data related to educational resources and their publication on the aoe.fi website, the public interest and enforcement of agreements signed with users shall be applied.</p>

      <h2>5 Processors of personal data</h2>
      <p>The processors of personal data are</p>
      <ul>
        <li>CSC - IT Center for Science Ltd. and its contractors (development, maintenance and storage of the service).</li>
        <li>National Library (publishing metadata of educational resources)</li>
      </ul>
      <p>In addition metadata of educational resources (including information on author and other personal data) can be disclosed in accordance with valid legislation to other services publishing information about educational resources such as learning management systems and data banks.</p>

      <h2>6 Transfer of personal data to third countries or to international organizations</h2>
      <p>Upon any transfer of open educational resources, their metadata (incl. author details) and information about the material are transferred to, e.g., international organizations or operators in the sector both within and outside the European Union (EU) or the European Economic Area (EEA). Other personal data is not disclosed outside the EU or the EEA.</p>

      <h2>7 Storage periods for personal data</h2>
      <p>Materials, comments and other content included in the Open Educational Resources Service, and personal data related to the processing of these, are stored and deleted in accordance with the service’s terms of use, unless otherwise provided in legislation concerning filing or other regulations.</p>

      <h2>8 Data subject’s rights</h2>
      <p>Data subjects have the right to be informed, by the controller, of whether their personal data is processed.</p>
      <p>Data subjects also have the right to request:</p>
      <ul>
        <li>personal data concerning them</li>
        <li>rectification or deletion of inaccurate or outdated data from the controller</li>
        <li>restriction of the processing of personal data.</li>
      </ul>
      <p>If a data subject finds that the processing of their personal data is not lawful, the data subject has the right to lodge a complaint with the Data Protection Ombudsman.</p>

      <h2>9 Source(s) of personal data</h2>
      <p>Information collected by the service, data banks, and metadata submitted by persons who store material (including authorinformation).</p>

      <h2>10 Protection of the processing of personal data</h2>
      <p>The Ministry of Education and Culture, as the controller, has implemented the necessary technical and organizational measures, and also requires this from processors of personal data.</p>
    </ng-container>

    <ng-container *ngSwitchCase="'sv'">
      <h1>Dataskyddsbeskrivnig</h1>

      <p>2.12.2019</p>
      <p>Undervisnings- och kulturministeriets dataskyddsbeskrivning för registrerade</p>
      <p>Personuppgifter som behandlas i tjänsten för öppna lärresurser</p>

      <h2>1 Allmänt</h2>
      <p>Den här dataskyddsbeskrivningen innehåller uppgifter till registrerade (fysiska personer) enligt artikel 13 och 14 i EU:s dataskyddsförordning (EU) 679/2016. Den här beskrivningen ges till registrerade när personuppgifter samlas in.</p>

      <h2>2 Personuppgiftsansvarig och kontaktuppgifter till den personuppgiftsansvarige</h2>
      <p>Undervisnings- och kulturministeriet<br>
        Registratorskontorets besöksadress: Riddaregatan 2 b, Helsingfors<br>
        Postadress: PB 29, 00023 STATSRÅDET<br>
        E-postadress: kirjaamo@minedu.fi<br>
        Tfn 0295 16001 (växel)</p>

      <h2>3 Kontaktuppgifter till dataskyddsombudet</h2>
      <p>Undervisnings- och kulturministeriets dataskyddsombud<br>
        E-postadress: okmtietosuojavastaava@minedu.fi<br>
        Postadress: Undervisnings- och kulturministeriet, PB 29, 00023 STATSRÅDET</p>

      <h2>4 Ändamålet med personuppgifter, personuppgiftsgrupper och de rättsliga grunderna för behandlingen av personuppgifter</h2>
      <h3>Personuppgifterna används för att:</h3>
      <ul>
        <li>Publicera och hitta information om undervisningsmaterialet</li>
        <li>Behandla uppgifter om registrerade användare, administration av logginformation och användning, användarstatistik och administration av cookies som behövs för användning av tjänsten.</li>
        <li>Statistikföring, analys och administration avseende användning och utveckling av tjänsten</li>
        <li>Administration av logginformation om oregistrerade användare, användarstatistik och administration av cookies som behövs för användning av tjänsten.</li>
      </ul>
      <h3>Personuppgiftsgrupper som behandlas:</h3>
      <ul>
        <li>Uppgifter om registrerade användare såsom namn, titel, e-postadress, födelsetid, kundnummer, användarhistorik och användaruppgifter avseende inköp och/eller tjänsterna.</li>
        <li>Personuppgifter om skaparen av ett undervisningsmaterial, som nämns i materialet, och andra personuppgifter som ingår i något undervisningsmaterial.</li>
        <li>Uppgifter för IT-administrationen, såsom uppgifter om apparaterna som hänför sig till de tjänster som erbjuds. I dessa ingår teknisk identifiering, användar-ID, platsinformation, kontaktuppgifter, uppgifter om kommunikation, metadata och tekniska incidenter relaterade till tjänsterna som erbjuds, inklusive logginformation om systemet och applikationerna.</li>
      </ul>
      <h3>Rättsliga grunder för behandlingen av personuppgifter:</h3>
      <ul>
        <li>Lagen om statsrådet (175/2003)</li>
        <li>Reglementet för statsrådet (262/2003)</li>
        <li>Statsrådets förordning om undervisnings- och kulturministeriet (310/2010)</li>
      </ul>
      <p>Gällande bedömningen av lagenligheten tillämpas det allmänna intresset och verkställandet av avtalen som ingås med användarna på behandlingen av personuppgifter förknippade med undervisningsmaterial och på publiceringen av personuppgifter på webbplatsen aoe.fi.</p>

      <h2>5 De som behandlar personuppgifter</h2>
      <p>De som behandlar personuppgifter är</p>
      <ul>
        <li>CSC-Tieteen tietotekniikan keskus Oy och deras underleverantörer (enligt avtal: utveckling, administration och uppbevaring av tjänsten).</li>
        <li>National Biblioteket (publicering av metadata om undervisningsmaterialet)</li>
      </ul>
      <p>Metadata om undervisningsmaterialet (inklusive uppgifter om den som skapat materialet och andra personuppgifter) kan dessutom överlåtas i enlighet med gällande lagstiftning till tjänsten som publicerar uppgifter om undervisningsmaterialet liksom lärplatformar eller databanker.</p>

      <h2>6 Överföring av personuppgifter till tredje länder eller internationella organisationer</h2>
      <p>Vid överföring av öppet undervisningsmaterial överförs deras metadata (inklusive uppgifter om den som skapat materialet) och uppgifter om materialet till exempel till internationella organisationer eller aktörer inom branschen såväl inom som utanför EU/ETA-området. Andra personuppgifter överlåts inte utanför EU/ETA-området.</p>

      <h2>7 Personuppgifternas uppbevaringstid</h2>
      <p>Material, kommentarer och annat innehåll i tjänsten för öppna lärresurser, samt personuppgifter med anknytning till behandlingen av dessa, uppbevaras och raderas i enlighet med användarvillkoren, såvida inte bestämmelserna i lagstiftningen eller i förordningarna om arkivering avviker från dem.</p>

      <h2>8 Den registrerades rättigheter</h2>
      <p>Den registrerade har rätt att av den personuppgiftsansvarige ta reda på om hans eller hennes personuppgifter behandlas.</p>
      <p>Den registrerade har också rätt att begära:</p>
      <ul>
        <li>personuppgifter om sig själv</li>
        <li>att den personuppgiftsansvarige rättar eller raderar felaktiga eller föråldrade uppgifter</li>
        <li>att behandlingen av personuppgifterna begränsas</li>
      </ul>
      <p>Om den registrerade anser att behandlingen av personuppgifter inte är lagenlig, har den registrerade rätt att anföra klagomål hos dataskyddsombudet.</p>

      <h2>9 Personuppgifternas källa/källor</h2>
      <p>Uppgifter som tjänsten samlar in, databanker och metadata publicerad av de som lagrar material (inklusive uppgifter om den som skapat materialet).</p>

      <h2>10 Skydd av behandlingen av personuppgifter</h2>
      <p>I egenskap av personuppgiftsansvarig har undervisnings- och kulturministeriet vidtagit nödvändiga tekniska och organisatoriska åtgärder och kräver detta också av dem som behandlar personuppgifter.</p>
    </ng-container>
  </ng-container>
</article>
