<ng-container [ngSwitch]="lang">
  <ng-container *ngSwitchDefault>
    <p>Julkaistu 28.11.2019</p>
    <p>Opetus- ja kulttuuriministeriön tietosuojailmoitus rekisteröidylle</p>
    <p>Avointen oppimateriaalien palvelussa käsiteltävät henkilötiedot</p>

    <h2>1. Yleistä</h2>
    <p>Tämä tietosuojailmoitus sisältää EU:n tietosuoja-asetuksen (EU) 679/2016 13 ja 14 artiklanmukaiset tiedot rekisteröidylle (luonnolliselle henkilölle). Tämä ilmoitus annetaan rekisteröidylle henkilötietoja kerättäessä.</p>

    <h2>2. Rekisterinpitäjä ja rekisterinpitäjän yhteystiedot</h2>
    <p>Opetus- ja kulttuuriministeriö<br>
      Kirjaamon käyntiosoite: Ritarikatu 2 b, Helsinki<br>
      Postiosoite: PL 29, 00023 VALTIONEUVOSTO<br>
      Sähköpostiosoite: kirjaamo@minedu.fi<br>
      Puh. 0295 16001 (keskus)</p>

    <h2>3. Tietosuojavastaavan yhteystiedot</h2>
    <p>Opetus- ja kulttuuriministeriön tietosuojavastaava<br>
      Sähköpostiosoite: okmtietosuojavastaava@minedu.fi<br>
      Postiosoite: Opetus- ja kulttuuriministeriö, PL 29, 00023 VALTIONEUVOSTO</p>

    <h2>4. Henkilötietojen käsittelyn tarkoitukset, henkilötietoryhmät jaoikeusperusteet</h2>
    <h3>Henkilötietojen käyttötarkoitukset ovat:</h3>
    <ul>
      <li>Oppimateriaalien tietojen julkaiseminen ja  oppimateriaalien hakeminen</li>
      <li>Rekisteröityjen käyttäjien tietojen sekä kirjautumis- ja käyttölokitietojen hallinta, käyttäjätilastointi ja palvelun käytössä tarvittavien evästeiden hallinta</li>
      <li>Palvelun käyttöön ja kehittämiseen liittyvä tilastointi, analytiikka ja hallinta</li>
      <li>Palvelun rekisteröitymättömien käyttäjien käyttölokitietojen hallinta, käyttäjätilastointi sekä palvelun käytössä tarvittavien evästeiden hallinta.</li>
    </ul>
    <h3>Käsiteltävät henkilötietoryhmät:</h3>
    <ul>
      <li>Rekisteröityjen käyttäjien tiedot kuten nimi, titteli, sähköpostiosoite, syntymäaika, asiakasnumero, osto- ja/tai palvelujen käyttöhistoria ja -tiedot.</li>
      <li>Oppimateriaaleissa mainitut laatijan henkilötiedot sekä oppimateriaaleihin niiden laatijoiden toimesta sisällytetyt muut henkilötiedot.</li>
      <li>IT-hallintatiedot kuten laitteistojen tiedot liittyen tarjottuihin palveluihin, mukaan lukien tekniset tunnisteet, käyttäjänimet, sijainti, yhteystiedot, viestintätiedot ja metatieto ja tekniset tapahtumat jotka liittyvät tarjottuihin palveluihin mukaan lukien järjestelmä- ja sovelluslokitiedot.</li>
    </ul>
    <h3>Henkilötietojen käsittelyn oikeusperusteet:</h3>
    <ul>
      <li>Laki valtioneuvostosta (175/2003)</li>
      <li>Valtioneuvoston ohjesääntö (262/2003)</li>
      <li>Valtioneuvoston asetus opetus- ja kulttuuriministeriöstä (310/2010)</li>
    </ul>
    <p>Oppimateriaaleihin liittyvien henkilötietojen käsittelyyn ja  niiden julkaisemiseen aoe.fi-sivustolla sovelletaan lainmukaisuuden arvioinnissa yleistä etua ja käyttäjien kanssa tehtävien sopimusten täytäntöönpanoa.</p>

    <h2>5. Henkilötietojen käsittelijät</h2>
    <p>Henkilötietojen käsittelijöitä ovat</p>
    <ul>
      <li>CSC-Tieteen tietotekniikan keskus Oy ja sen alihankkijat (sopimukseen perustuen: palvelun kehitys, ylläpito ja säilytys).</li>
      <li>Kansalliskirjasto (oppimateriaalien metatietojen esittäminen).</li>
    </ul>
    <p>Lisäksi oppimateriaalien metatietoja (ml. tekijätiedot ja muut niihin tallennetut henkilötiedot) voidaan luovuttaa yksittäistapauksissa voimassaolevan lainsäädännön mukaisesti toisille oppimateriaalien tietoja esitteleville palveluille kuten oppimisalustoille tai tietovarannoille.</p>

    <h2>6. Henkilötietojen siirtäminen kolmansiin maihin tai kansainvälisille järjestöille</h2>
    <p>Avoimia oppimateriaaleja siirrettäessä siirretään niiden metatiedot (ml. tekijätiedot) ja aineiston tiedot esimerkiksi kansainvälisille järjestöille tai alan toimijoille niin EU/ETA-alueella kuin niiden ulkopuolella. Muita henkilötietoja ei luovuteta EU/ETA-alueen ulkopuolelle.</p>

    <h2>7. Henkilötietojen säilyttämisajat</h2>
    <p>Avointen oppimateriaalien palveluun sisältyvät materiaalit, kommentit ja muu sisältö ja näiden käsittelyyn liittyvät henkilötiedot säilytetään ja poistetaan palvelun käyttöehtojen mukaisesti, ellei arkistointia koskevasta lainsäädännöstä tai muista säädöksistä muuta johdu.</p>

    <h2>8. Rekisteröidyn oikeudet</h2>
    <p>Rekisteröidyllä on oikeus saada rekisterinpitäjältä tieto siitä, käsitelläänkö hänenhenkilötietojaan.</p>
    <p>Rekisteröidyllä on myös oikeus pyytää:</p>
    <ul>
      <li>itseään koskevat henkilötiedot</li>
      <li>rekisterinpitäjää oikaisemaan tai poistamaan virheelliset tai vanhentuneet tiedot</li>
      <li>henkilötietojen käsittelyn rajoittamista</li>
    </ul>
    <p>Mikäli rekisteröity katsoo, ettei hänen henkilötietojensa käsittely ole lainmukaista, rekisteröidyllä on oikeus tehdä asiasta valitus tietosuojavaltuutetulle.</p>

    <h2>9. Henkilötietojen lähde/lähteet</h2>
    <p>Palvelun keräämät tiedot, tietopankit sekä aineiston tallentajien tallentamat metatiedot (ml. tekijäryhmätiedot).</p>

    <h2>10. Henkilötietojen käsittelyn suojaaminen</h2>
    <p>Opetus- ja kulttuuriministeriö rekisterinpitäjänä on toteuttanut tarvittavat tekniset ja organisatoriset toimet sekä vaatii sitä myös henkilötietojen käsittelijöiltä.</p>
  </ng-container>

  <!--<ng-container *ngSwitchCase="'en'"></ng-container>-->

  <!--<ng-container *ngSwitchCase="'sv'"></ng-container>-->
</ng-container>
