<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ 'userMaterials.title' | translate }}</h1>
      </div>

      <div class="col-auto">
        <a class="btn btn-link text-blue" [routerLink]="['/lisaa-oppimateriaali', 1]">{{ 'userMaterials.createNew' | translate }}</a>
      </div>
    </div>

    <div class="row mb-3" *ngIf="unpublishedMaterials?.length > 0">
      <div class="col-12">
        <h2>{{ 'userMaterials.unpublished.title' | translate }}</h2>
      </div>

      <div class="col-md-6 col-lg-4 mb-3" *ngFor="let material of unpublishedMaterials">
        <div class="card-educational-material unpublished">
          <h3 *ngIf="material.name; else noName">{{ material.name[lang] }}</h3>

          <ng-template #noName>
            <h3>{{ 'userMaterials.unpublished.unnamed' | translate }} #{{ material.id }}</h3>
          </ng-template>
        </div>

        <a [routerLink]="['/muokkaa-oppimateriaalia', material.id]" class="btn btn-blue btn-block">
          {{ 'userMaterials.edit' | translate }}
        </a>
      </div>
    </div>

    <div class="row mb-3" *ngIf="publishedMaterials?.length > 0; else noPublishedMaterials">
      <div class="col-12">
        <h2>{{ 'userMaterials.published.title' | translate }}</h2>
      </div>

      <div class="col-md-6 col-lg-4 mb-3" *ngFor="let material of publishedMaterials">
        <alert *ngIf="material.expires" [type]="expireAlertType(material.expires)">
          <ng-container [ngSwitch]="expireAlertType(material.expires)">
            <ng-container *ngSwitchCase="'expired'">
              {{ 'userMaterials.expired' | translate:{ date: material.expires | date:'d.M.yyyy' } }}
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ 'userMaterials.expires' | translate:{ date: material.expires | date:'d.M.yyyy' } }}
            </ng-container>
          </ng-container>
        </alert>

        <app-educational-material-card [educationalMaterial]="material"></app-educational-material-card>

        <a [routerLink]="['/muokkaa-oppimateriaalia', material.id]" class="btn btn-blue btn-block">
          {{ 'userMaterials.edit' | translate }}
        </a>
      </div>
    </div>

    <ng-template #noPublishedMaterials>
      <p>{{ 'userMaterials.noMaterials' | translate }}</p>
    </ng-template>

    <div class="row mb-3" *ngIf="privateCollections && privateCollections.length > 0">
      <div class="col-12">
        <h2>{{ 'userCollections.private.title' | translate }}</h2>
      </div>

      <div class="col-md-6 col-lg-4 mb-3" *ngFor="let collection of privateCollections">
        <div class="card-collection private">
          <a [routerLink]="['/kokoelma', collection.id]">
            <div class="row no-gutters">
              <div class="col-sm-4 col-md-12 col-lg-5 text-center text-sm-left text-md-center text-lg-left mb-3 mb-lg-0">
                <img
                  [src]="collection.thumbnail ? collection.thumbnail : 'assets/img/thumbnails/kokoelma.png'"
                  class="img-fluid"
                  [alt]="'demo.educationalMaterial.cover.alt' | translate"
                >
              </div>

              <div class="col-sm-8 col-md-12 col-lg-7 px-sm-3">
                <h3>
                  {{ collection.name }}
                </h3>
              </div>
            </div>
          </a>
        </div>

        <a [routerLink]="['/kokoelma', collection.id, 'muokkaa']" class="btn btn-blue btn-block">
          {{ 'userMaterials.edit' | translate }}
        </a>
      </div>
    </div>

    <div class="row mb-3" *ngIf="publicCollections && publicCollections.length > 0">
      <div class="col-12">
        <h2>{{ 'userCollections.published.title' | translate }}</h2>
      </div>

      <!--<a [routerLink]="['/kokoelma', collection.id]"></a>-->

      <div class="col-md-6 col-lg-4 mb-3" *ngFor="let collection of publicCollections">
        <div class="card-collection">
          <a [routerLink]="['/kokoelma', collection.id]">
            <div class="row no-gutters">
              <div class="col-sm-4 col-md-12 col-lg-5 text-center text-sm-left text-md-center text-lg-left mb-3 mb-lg-0">
                <img
                  [src]="collection.thumbnail ? collection.thumbnail : 'assets/img/thumbnails/kokoelma.png'"
                  class="img-fluid"
                  [alt]="'demo.educationalMaterial.cover.alt' | translate"
                >
              </div>

              <div class="col-sm-8 col-md-12 col-lg-7 px-sm-3">
                <h3>
                  {{ collection.name }}
                </h3>
              </div>
            </div>
          </a>
        </div>

        <a [routerLink]="['/kokoelma', collection.id, 'muokkaa']" class="btn btn-blue btn-block">
          {{ 'userMaterials.edit' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
