<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="material">
  <div class="form-group">
    <label for="educationalLevels">
      {{ 'forms.educationalResource.educationalDetails.educationalLevels.label' | translate }}*
    </label>

    <button
      type="button"
      class="btn btn-link"
      [tooltip]="'forms.educationalResource.educationalDetails.educationalLevels.tooltip' | translate"
    ><img src="assets/img/icons/ic_help.svg" alt=""></button>

    <ng-select
      [items]="educationalLevels"
      [multiple]="true"
      [closeOnSelect]="false"
      bindLabel="value"
      groupBy="children"
      id="educationalLevels"
      formControlName="educationalLevels"
      (change)="educationalLevelsChange($event)"
    >
      <ng-template ng-optgroup-tmp let-item="item">
        {{ item.value }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{ item.value }}
      </ng-template>
    </ng-select>

    <div *ngIf="submitted && educationalLevelsCtrl.errors" class="alert alert-warning" role="alert">
      <div *ngIf="educationalLevelsCtrl.errors.required">
        {{ 'forms.common.required' | translate }}:
        {{ 'forms.educationalResource.educationalDetails.educationalLevels.label' | translate }}
      </div>
    </div>
  </div><!--/educational levels-->

  <ng-container *ngIf="hasEarlyChildhoodEducation">
    <h3>
      {{ 'forms.educationalResource.educationalDetails.earlyChildhoodEducation.title' | translate }}
    </h3>

    <div class="form-group">
      <label for="earlyChildhoodEducationSubjects">
        {{ 'forms.educationalResource.educationalDetails.earlyChildhoodEducation.inputs.subjects.label' | translate }}
      </label>

      <button
        type="button"
        class="btn btn-link"
        [tooltip]="'forms.educationalResource.educationalDetails.earlyChildhoodEducation.inputs.subjects.tooltip' | translate"
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <ng-select
        [items]="[]"
        [multiple]="true"
        [addTag]="addEarlyChildhoodEducationSubject"
        bindLabel="targetName"
        id="earlyChildhoodEducationSubjects"
        formControlName="earlyChildhoodEducationSubjects"
      ></ng-select>
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="suitsAllEarlyChildhoodSubjects"
          formControlName="suitsAllEarlyChildhoodSubjects"
        >

        <label class="custom-control-label" for="suitsAllEarlyChildhoodSubjects">
          {{ 'forms.educationalResource.educationalDetails.common.suitsAllSubjects' | translate }}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="earlyChildhoodEducationObjectives">
        {{ 'forms.educationalResource.educationalDetails.earlyChildhoodEducation.inputs.objectives.label' | translate }}
      </label>

      <button
        type="button"
        class="btn btn-link"
        [tooltip]="'forms.educationalResource.educationalDetails.earlyChildhoodEducation.inputs.objectives.tooltip' | translate"
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <ng-select
        [items]="[]"
        [multiple]="true"
        [addTag]="addEarlyChildhoodEducationObjective"
        bindLabel="targetName"
        id="earlyChildhoodEducationObjectives"
        formControlName="earlyChildhoodEducationObjectives"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="earlyChildhoodEducationFramework">
        {{ 'forms.educationalResource.educationalDetails.earlyChildhoodEducation.inputs.framework.label' | translate }}
      </label>

      <button
        type="button"
        class="btn btn-link"
        [tooltip]="'forms.educationalResource.educationalDetails.earlyChildhoodEducation.inputs.framework.tooltip' | translate"
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <input
        type="text"
        class="form-control"
        id="earlyChildhoodEducationFramework"
        formControlName="earlyChildhoodEducationFramework"
      >
    </div>
  </ng-container><!--/early childhood education-->

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previous()"
      >{{ 'forms.common.previous' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="abort()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
