ServerName aoe-local
#SSLEngine on
#SSLCertificateFile /vagrant/aoetest.com.cert
#SSLCertificateKeyFile /opt/sources/aoetest.com.key
Listen 3000
<VirtualHost *:3000>
  ServerName aoe-local
        SSLEngine on
#  SSLCertificateFile /vagrant/aoetest.com.cert
#SSLCertificateKeyFile /vagrant/aoetest.com.key
        ErrorLog /var/log/httpd/justus-backend.log
  <Location /secure/redirect>
    ProxyPass http://localhost:3001
    ProxyPassReverse http://localhost:3001
  </Location>
#   <Location /api>
#    ProxyPass http://localhost:3001
#    ProxyPassReverse http://localhost:3001
#  </Location>
#  <Location />
#    ProxyPass http://localhost:3001/
#    ProxyPassReverse http://localhost:3001/
#  </Location> 
#SSLCertificateFile /opt/sources/aoe-local.com.crt
#SSLCertificateKeyFile /opt/sources/aoe-local.com.key
</VirtualHost>