@import "mixins";
@import "variables";

.collection-material {
  margin-bottom: 2rem;

  h2,
  .h2 {
    &.title {
      @include font-size(21);
    }
  }

  h3,
  .h3 {
    &.title {
      @include font-size(18);

      a {
        color: #373737;
      }
    }
  }

  .title {
    font-weight: 500;
    margin-bottom: .5rem;

    a {
      color: $primary-theme-color;
    }
  }

  .authors {
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  .list-files {
    background-color: #eee;
    padding: .5rem;

    h3 {
      @include font-size(16);
      font-weight: 400;
    }

    .btn-group-vertical {
      width: 100%;
    }

    .btn-file {
      color: $input-color;
      font-weight: 400;
      text-align: left;
      word-break: break-all;

      &.active {
        background-color: #fff;
      }
    }
  }
}

.collection-authors {
  color: $primary-theme-color;
  font-weight: 700;
  margin-bottom: 0;
}

.datetimes {
  margin-bottom: 1rem;

  .datetime-item {
    strong {
      margin-right: .25rem;
    }

    time {
      margin-right: .5rem;
    }
  }
}
