<div class="py-4 px-0">
  <div class="container">
    <tabset type="pills" #formTabs>
      <tab heading="Tiedostot" id="files">
        <app-tabs-files></app-tabs-files>
      </tab>

      <tab heading="Perustiedot" id="basicDetails">
        <app-tabs-basic-details></app-tabs-basic-details>
      </tab>

      <tab heading="Koulutustiedot" id="educationalDetails">
        <app-tabs-educational-details></app-tabs-educational-details>
      </tab>

      <tab heading="Tarkemmat tiedot" id="extendedDetails">
        <app-tabs-extended-details></app-tabs-extended-details>
      </tab>

      <tab heading="Hyödynnetyt materiaalit" id="basedOnDetails">
        <app-tabs-based-on-details></app-tabs-based-on-details>
      </tab>
    </tabset>
  </div>
</div>
