<div class="py-4 px-0">
  <div class="container">
    <tabset type="pills" #formTabs>
      <tab heading="Tiedostot" id="files">
        <app-tabs-files></app-tabs-files>
      </tab>

      <tab heading="Perustiedot" id="basicDetails">
        <app-tabs-basic-details></app-tabs-basic-details>
      </tab>

      <tab heading="Koulutustiedot" id="educationalDetails">3</tab>

      <tab heading="Tarkemmat tiedot" id="extendedDetails">4</tab>

      <tab heading="Hyödynnetyt materiaalit" id="basedOnDetails">5</tab>
    </tabset>
  </div>
</div>
