<div class="py-4 px-0">
  <div class="container">
    <div class="form-tabs">
      <tabset type="pills" #formTabs>
        <tab heading="Tiedostot" id="files">
          <app-tabs-files [tabs]="formTabsRef"></app-tabs-files>
        </tab>

        <tab heading="Perustiedot" id="basicDetails">
          <app-tabs-basic-details [tabs]="formTabsRef"></app-tabs-basic-details>
        </tab>

        <tab heading="Koulutustiedot" id="educationalDetails">
          <app-tabs-educational-details [tabs]="formTabsRef"></app-tabs-educational-details>
        </tab>

        <tab heading="Tarkemmat tiedot" id="extendedDetails">
          <app-tabs-extended-details [tabs]="formTabsRef"></app-tabs-extended-details>
        </tab>

        <tab heading="Lisenssitiedot" id="license">
          <app-tabs-license [tabs]="formTabsRef"></app-tabs-license>
        </tab>

        <tab heading="Hyödynnetyt materiaalit" id="basedOnDetails">
          <app-tabs-based-on-details [tabs]="formTabsRef"></app-tabs-based-on-details>
        </tab>
      </tabset>
    </div>
  </div>
</div>
