<div class="py-4 px-0" id="material-view">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <button class="btn btn-link" (click)="goBack()">&lsaquo; {{ 'common.goBack' | translate }}</button>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-6">
        <h1>{{ demoMaterial.name }}</h1>
      </div>

      <div class="col-lg-6 text-lg-right">
        <div class="material-actions">
          <a href="javascript:void(0)" class="btn btn-link disabled">
            <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
            {{ 'demo.material.edit' | translate }}
          </a>
          <a href="javascript:void(0)" class="btn btn-link disabled">
            <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
            {{ 'demo.material.delete' | translate }}
          </a>
          <a href="javascript:void(0)" class="btn btn-link disabled">
            <i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>
            {{ 'demo.material.addToCollection' | translate }}
          </a>
          <a href="javascript:void(0)" class="btn btn-link">
            <i class="fa fa-fw fa-download" aria-hidden="true"></i>
            {{ 'demo.material.download' | translate }}
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <div class="material-sidebar-left">
          <div class="row">
            <div class="col-12 col-sm-auto text-center text-sm-left">
              <img src="https://via.placeholder.com/207x277" alt="" class="img-fluid mb-4">
            </div>

            <div class="col">
              <ul class="list-unstyled">
                <li *ngFor="let learningResourceType of demoMaterial.learningResourceType">
                  <i class="fa fa-fw fa-briefcase" aria-hidden="true"></i>
                  {{ learningResourceType }}
                </li>
                <li class="text-muted">
                  <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                  0 {{ 'demo.material.viewCount' | translate }}
                </li>
                <li class="text-muted">
                  <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                  0 {{ 'demo.material.downloadCount' | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8">
        <div class="material-content">
          <p>{{ demoMaterial.description }}</p>
          <span>{{ demoMaterial.author }}</span>

          <pre>-- preview --</pre>

          <div class="row">
            <div class="col-12 col-md-4">
              <h4>{{ 'demo.material.eduLevel' | translate }}</h4>

              <div class="tags">
                <a href="javascript:void(0)" class="btn btn-light disabled"
                   *ngFor="let audience of demoMaterial.educationalLevel">
                  {{ audience | lowercase }}
                </a>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <h4>{{ 'demo.material.eduSubject' | translate }}</h4>

              <div class="tags">
                <a href="javascript:void(0)" class="btn btn-light disabled"
                   *ngFor="let subject of demoMaterial.educationalSubject">
                  {{ subject | lowercase }}
                </a>
              </div>
            </div>

            <div class="col-12 col-md-2">
              <h4>{{ 'demo.material.inLanguage' | translate }}</h4>
              {{ demoMaterial.inLanguage }}
            </div>

            <div class="col-12 col-md-2">
              <h4>{{ 'demo.material.timeRequired' | translate }}</h4>
              {{ demoMaterial.timeRequired }}
            </div>
          </div>

          <h2>{{ 'demo.material.otherFiles' | translate }}</h2>

          <ul class="list-unstyled">
            <li>
              <i class="fa fa-fw fa-file" aria-hidden="true"></i>
              tiedosto.txt
            </li>
            <li>
              <i class="fa fa-fw fa-file" aria-hidden="true"></i>
              tiedosto.pdf
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-lg-2">
        <div class="material-sidebar-right">
          <h2>{{ 'demo.material.userMetadata' | translate }}</h2>

          <h4>{{ 'demo.material.eduLevel' | translate }}</h4>

          <div class="tags">
            <a href="javascript:void(0)" class="btn btn-dark disabled"
               *ngFor="let audience of demoMaterial.educationalLevel">
              {{ audience | lowercase }} &times;
            </a>
          </div>

          <h4>{{ 'demo.material.eduSubject' | translate }}</h4>

          <div class="tags">
            <a href="javascript:void(0)" class="btn btn-dark disabled"
               *ngFor="let subject of demoMaterial.educationalSubject">
              {{ subject | lowercase }} &times;
            </a>
          </div>

          <h2>{{ 'demo.material.userReviews' | translate }}</h2>

          <p><strong>{{ 'demo.material.rating' | translate }} (3)</strong></p>

          <div class="rating">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
          </div>

          <a href="javascript:void(0)" class="btn btn-link disabled">+ {{ 'demo.material.addReview' | translate }}</a>

          <p><strong>{{ 'demo.material.comments' | translate }} (10)</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
