<div class="py-4 px-0" id="material-view">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <a href="#">&lsaquo; {{ 'common.goBack' | translate }}</a>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <h1>{{ demoMaterial.name }}</h1>
      </div>

      <div class="col-md-6 text-md-right">
        <a href="#" class="btn btn-link disabled">{{ 'demo.material.edit' | translate }}</a>
        <a href="#" class="btn btn-link disabled">{{ 'demo.material.delete' | translate }}</a>
        <a href="#" class="btn btn-link disabled">{{ 'demo.material.addToCollection' | translate }}</a>
        <a href="#" class="btn btn-link">{{ 'demo.material.download' | translate }}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="material-sidebar-left">
          <img src="https://via.placeholder.com/207x277" alt="" class="img-fluid mb-4">

          <ul class="list-unstyled">
            <li *ngFor="let learningResourceType of demoMaterial.learningResourceType">
              {{ learningResourceType }}
            </li>
            <li class="text-muted">0 <span>{{ 'demo.material.viewCount' | translate }}</span></li>
            <li class="text-muted">0 <span>{{ 'demo.material.downloadCount' | translate }}</span></li>
          </ul>
        </div>
      </div>

      <div class="col-md-8">
        <div class="material-content">
          <p>{{ demoMaterial.description }}</p>
          <span>{{ demoMaterial.author }}</span>

          <pre>-- preview --</pre>

          <div class="row">
            <div class="col-md-4">
              <h4>{{ 'demo.material.eduLevel' | translate }}</h4>

              <div class="tags">
                <a href="#" class="badge badge-light"
                   *ngFor="let audience of demoMaterial.educationalLevel">
                  {{ audience | lowercase }}
                </a>
              </div>
            </div>

            <div class="col-md-4">
              <h4>{{ 'demo.material.eduSubject' | translate }}</h4>

              <div class="tags">
                <a href="#" class="badge badge-light"
                   *ngFor="let subject of demoMaterial.educationalSubject">
                  {{ subject | lowercase }}
                </a>
              </div>
            </div>

            <div class="col-md-2">
              <h4>{{ 'demo.material.inLanguage' | translate }}</h4>
              {{ demoMaterial.inLanguage }}
            </div>

            <div class="col-md-2">
              <h4>{{ 'demo.material.timeRequired' | translate }}</h4>
              {{ demoMaterial.timeRequired }}
            </div>
          </div>

          <h2>{{ 'demo.material.otherFiles' | translate }}</h2>

          <ul class="list-unstyled">
            <li>tiedosto.txt</li>
            <li>tiedosto.pdf</li>
          </ul>
        </div>
      </div>

      <div class="col-md-2">
        <div class="material-sidebar-right">
          <h2>{{ 'demo.material.userMetadata' | translate }}</h2>

          <h4>{{ 'demo.material.eduLevel' | translate }}</h4>

          <div class="tags">
            <a href="#" class="badge badge-dark"
               *ngFor="let audience of demoMaterial.educationalLevel">
              {{ audience | lowercase }} &times;
            </a>
          </div>

          <h4>{{ 'demo.material.eduSubject' | translate }}</h4>

          <div class="tags">
            <a href="#" class="badge badge-dark"
               *ngFor="let subject of demoMaterial.educationalSubject">
              {{ subject | lowercase }} &times;
            </a>
          </div>

          <h2>{{ 'demo.material.userReviews' | translate }}</h2>

          <p><strong>{{ 'demo.material.rating' | translate }} (3)</strong></p>

          <div class="rating">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
          </div>

          <a href="#" class="btn btn-link disabled">+ {{ 'demo.material.addReview' | translate }}</a>

          <p><strong>{{ 'demo.material.comments' | translate }} (10)</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
