<h2>Oppimateriaalien käyttömäärät</h2>
<form [formGroup]="activityForm" (ngSubmit)="onSubmitUserActivity()">
  <div class="form-row">
    <div class="form-group col-sm-4">
      <!-- Activity Type Select -->
      <label for="activity">Toiminto *</label>
      <ng-select
        [items]="activityOptions"
        [multiple]="true"
        [closeOnSelect]="false"
        bindLabel="label.fi"
        bindValue="value"
        labelForId="activity"
        id="activity"
        appendTo="body"
        formControlName="activity"></ng-select>
      <ng-container *ngIf="activityCtrl?.invalid && (activityCtrl.dirty || activityCtrl.touched)">
        <div *ngIf="activityCtrl.errors?.required">
          <small class="text-danger">Valitse tarkasteltava toiminto</small>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-4">
      <!-- Interval Type Select -->
      <label for="interval">Jaksotus *</label>
      <ng-select
        [items]="intervals"
        bindLabel="label.fi"
        bindValue="value"
        labelForId="interval"
        id="interval"
        appendTo="body"
        formControlName="interval"></ng-select>
      <ng-container *ngIf="intervalCtrl?.invalid && (intervalCtrl.dirty || intervalCtrl.touched)">
        <div *ngIf="intervalCtrl.errors?.required">
          <small class="text-danger">Valitse jaksotuksen pituus</small>
        </div>
      </ng-container>
    </div>
    <div class="form-group col-sm-4">
      <!-- Date Since Picker -->
      <label for="dateSince">Tarkastelu alkaa *</label>
      <input
        type="text"
        class="form-control custom-readonly"
        id="dateSince"
        formControlName="dateSince"
        bsDatepicker
        [maxDate]="dateUntilCtrl.value"
        [bsConfig]="{ dateInputFormat: 'D.M.YYYY', selectFromOtherMonth: true }" />
      <ng-container *ngIf="dateSinceCtrl?.invalid && (dateSinceCtrl.dirty || dateSinceCtrl.touched)">
        <div *ngIf="dateSinceCtrl.errors?.required">
          <small class="text-danger">Valitse tarkastelun alkamispäivä</small>
        </div>
      </ng-container>
    </div>
    <div class="form-group col-sm-4">
      <!-- Date Until Picker -->
      <label for="dateUntil">Tarkastelu päättyy *</label>
      <input
        type="text"
        class="form-control"
        id="dateUntil"
        formControlName="dateUntil"
        bsDatepicker
        [minDate]="dateSinceCtrl.value"
        [maxDate]="today"
        [bsConfig]="{ dateInputFormat: 'D.M.YYYY', selectFromOtherMonth: true }" />
      <ng-container *ngIf="dateUntilCtrl?.invalid && (dateUntilCtrl.dirty || dateUntilCtrl.touched)">
        <div *ngIf="dateUntilCtrl.errors?.required">
          <small class="text-danger">Valitse tarkastelun päättymispäivä</small>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <label for="organizations">Organisaatiot</label>
      <ng-select
        [items]="(koodistoService.organizations$ | async)"
        [multiple]="true"
        [closeOnSelect]="false"
        [virtualScroll]="true"
        bindLabel="value"
        groupBy="children"
        id="organizations"
        labelForId="organizations"
        formControlName="organizations">
        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value">
            <span class="ng-value-label">{{ items.length }} valintaa</span>
          </div>
        </ng-template>
        <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ item.value }}
          <small *ngIf="item.parent">
            <br />
            {{ item.parent }}
          </small>
        </ng-template>
      </ng-select>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label for="educationalLevels">Opetusasteet</label>
      <ng-select
        [items]="(educationalLevels$ | async)"
        [multiple]="true"
        [closeOnSelect]="false"
        bindLabel="value"
        groupBy="children"
        id="educationalLevels"
        labelForId="educationalLevels"
        formControlName="educationalLevels">
        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value">
            <span class="ng-value-label">{{ items.length }} valintaa</span>
          </div>
        </ng-template>
        <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
        <ng-template ng-option-tmp let-item="item">{{ item.value }}</ng-template>
      </ng-select>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label for="educationalSubjects">Oppiaineet</label>
      <ng-select
        [items]="(subjectFilter$ | async)"
        [multiple]="true"
        [closeOnSelect]="false"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        bindLabel="value"
        groupBy="children"
        id="educationalSubjects"
        labelForId="educationalSubjects"
        formControlName="educationalSubjects">
        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value">
            <span class="ng-value-label">{{ items.length }} valintaa</span>
          </div>
        </ng-template>
        <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ item.value }}
          <small *ngIf="item.parent">
            <br />
            {{ item.parent }}
          </small>
        </ng-template>
      </ng-select>
    </div>
  </div>
  <button type="submit" [disabled]="activityForm.invalid" class="btn btn-blue">Hae tiedot</button>
  &nbsp;&nbsp;
  <button (click)="onReset($event)" class="btn btn-cancel">Tyhjennä</button>
</form>
<br />
<app-line-chart [options]="userActivityChart"></app-line-chart>
<br />
<h2>Oppimateriaalien julkaisumäärät</h2>
<form [formGroup]="publishedMaterialsForm">
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <label for="publishedStartDate">Tarkastelu alkaa</label>
      <input
        type="text"
        class="form-control"
        id="publishedStartDate"
        formControlName="publishedStartDate"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }" />
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label for="publishedEndDate">Tarkastelu päättyy</label>
      <input
        type="text"
        class="form-control"
        id="publishedEndDate"
        formControlName="publishedEndDate"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <label for="category">Valitse luokitus</label>
      <ng-select
        [items]="categories"
        bindLabel="name"
        bindValue="name"
        labelForId="category"
        id="category"
        appendTo="body"
        (change)="categoryChange($event?.value)"
        formControlName="category"></ng-select>
      <ng-container *ngIf="publishedCategoryCtrl.invalid && publishedSubmitted">
        <div *ngIf="publishedCategoryCtrl.errors.required">
          <small class="text-danger">Pakollinen tieto</small>
        </div>
      </ng-container>
    </div>
    <div *ngIf="category === 'educationalLevels'" class="form-group col-sm-6 col-md-4">
      <label for="publishedEducationalLevels">Opetusasteet</label>
      <ng-select
        [items]="(educationalLevels$ | async)"
        [multiple]="true"
        [closeOnSelect]="false"
        bindLabel="value"
        groupBy="children"
        id="publishedEducationalLevels"
        labelForId="publishedEducationalLevels"
        formControlName="publishedEducationalLevels">
        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value">
            <span class="ng-value-label">{{ items.length }} valintaa</span>
          </div>
        </ng-template>
        <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
        <ng-template ng-option-tmp let-item="item">{{ item.value }}</ng-template>
      </ng-select>
      <ng-container
        *ngIf="(!publishedEducationalLevelsCtrl.value || publishedEducationalLevelsCtrl.value.length === 0) && publishedSubmitted">
        <div>
          <small class="text-danger">Pakollinen tieto</small>
        </div>
      </ng-container>
    </div>
    <div *ngIf="category === 'educationalSubjects'" class="form-group col-sm-6 col-md-4">
      <label for="publishedEducationalSubjects">Oppiaineet</label>
      <ng-select
        [items]="(subjectFilter$ | async)"
        [multiple]="true"
        [closeOnSelect]="false"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        bindLabel="value"
        groupBy="children"
        id="publishedEducationalSubjects"
        labelForId="publishedEducationalSubjects"
        formControlName="publishedEducationalSubjects">
        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value">
            <span class="ng-value-label">{{ items.length }} valintaa</span>
          </div>
        </ng-template>
        <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ item.value }}
          <small *ngIf="item.parent">
            <br />
            {{ item.parent }}
          </small>
        </ng-template>
      </ng-select>
      <ng-container
        *ngIf="(!publishedEducationalSubjectsCtrl.value || publishedEducationalSubjectsCtrl.value.length === 0) && publishedSubmitted">
        <div>
          <small class="text-danger">Pakollinen tieto</small>
        </div>
      </ng-container>
    </div>
    <div *ngIf="category === 'organizations'" class="form-group col-sm-6 col-md-4">
      <label for="publishedOrganizations">Organisaatio</label>
      <ng-select
        [items]="(organizations$ | async)"
        [multiple]="true"
        [closeOnSelect]="false"
        [virtualScroll]="true"
        bindLabel="value"
        groupBy="children"
        id="publishedOrganizations"
        labelForId="publishedOrganizations"
        formControlName="publishedOrganizations">
        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value">
            <span class="ng-value-label">{{ items.length }} valintaa</span>
          </div>
        </ng-template>
        <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ item.value }}
          <small *ngIf="item.parent">
            <br />
            {{ item.parent }}
          </small>
        </ng-template>
      </ng-select>
      <ng-container
        *ngIf="(!publishedOrganizationsCtrl.value || publishedOrganizationsCtrl.value.length === 0) && publishedSubmitted">
        <div>
          <small class="text-danger">Pakollinen tieto</small>
        </div>
      </ng-container>
    </div>
  </div>
  <button type="button" (click)="onSubmitPublishedMaterials()" class="btn btn-blue">Hae tiedot</button>
</form>
<br />
<app-line-chart [options]="materialTotalsChart"></app-line-chart>
<br />
<h2>Vanhentuneiden oppimateriaalien määrät</h2>
<form [id]="expiredMaterialsForm" [formGroup]="expiredMaterialsForm">
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <label for="expiredEducationalLevels">Opetusasteet</label>
      <ng-select
        [items]="(educationalLevels$ | async)"
        [multiple]="true"
        [closeOnSelect]="false"
        bindLabel="value"
        groupBy="children"
        id="expiredEducationalLevels"
        labelForId="expiredEducationalLevels"
        formControlName="educationalLevels">
        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value">
            <span class="ng-value-label">{{ items.length }} valintaa</span>
          </div>
        </ng-template>
        <ng-template ng-optgroup-tmp let-item="item">{{ item.value }}</ng-template>
        <ng-template ng-option-tmp let-item="item">{{ item.value }}</ng-template>
      </ng-select>
      <ng-container *ngIf="expiredEducationalLevelsCtrl.invalid && expiredSubmitted">
        <div *ngIf="expiredEducationalLevelsCtrl.errors.required">
          <small class="text-danger">Pakollinen tieto</small>
        </div>
      </ng-container>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label for="expiredBefore">Vanhentunut ennen</label>
      <input
        type="text"
        class="form-control"
        id="expiredBefore"
        formControlName="expiredBefore"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }" />
      <ng-container *ngIf="expiredBeforeCtrl.invalid && expiredSubmitted">
        <div *ngIf="expiredBeforeCtrl.errors.required">
          <small class="text-danger">Pakollinen tieto</small>
        </div>
      </ng-container>
    </div>
  </div>
  <button type="button" (click)="onSubmitExpiredMaterials()" class="btn btn-blue">Hae tiedot</button>
</form>
<br />
<app-line-chart [options]="expiredMaterialsChart"></app-line-chart>
<br />
