<div class="material-info">
    <h1 class="materials-title">{{ materialName }}</h1>
    <ul class="list-unstyled materials-authors">
        <li *ngFor="let author of educationalMaterial?.authors">
            <ng-container *ngIf="author.authorname !== ''">
                {{ author.authorname }}
                <ng-container *ngIf="author.organization">({{ author.organization }})</ng-container>
            </ng-container>
            <ng-container *ngIf="author.authorname === ''">{{ author.organization }}</ng-container>
        </li>
    </ul>
    <a [href]="getLicense(educationalMaterial?.license?.key)?.link" target="_blank" rel="noopener noreferrer">
        {{ getLicense(educationalMaterial?.license?.key)?.value }}
    </a>
</div>

<div class="file-list" *ngIf="materials?.length > 0; else notFound">
    <div class="row no-gutters">
        <div class="col-3">
            <ng-container *ngIf="materialLanguages.length > 1">
                <ng-container *ngIf="materialLanguages.length <= 3; else notFound">
                    <div class="btn-group mb-3" role="tablist" aria-labelledby="selectLanguageTitle">
                        <button
                            type="button"
                            class="btn btn-gray"
                            *ngFor="let materialLang of materialLanguages"
                            [ngClass]="materialLang === selectedLanguage ? 'active' : ''"
                            [attr.aria-selected]="materialLang === selectedLanguage"
                            [attr.aria-controls]="'fileList-' + materialLang"
                            [id]="'langSelector-' + materialLang"
                            role="tab"
                            (click)="setSelectedLanguage(materialLang)">
                            {{ materialLang }}
                            <span class="sr-only">({{ getLanguageValue(materialLang) }})</span>
                        </button>
                    </div>
                </ng-container>
            </ng-container>

            <div
                class="btn-group-vertical"
                role="group"
                *ngIf="materials | materialLanguage: selectedLanguage as filteredMaterials"
                [id]="'fileList-' + selectedLanguage"
                role="tabpanel"
                [attr.aria-labelledby]="'langSelector-' + selectedLanguage">
                <div class="btn-group-vertical" role="tablist" aria-labelledby="selectMaterial">
                    <ng-container *ngFor="let material of filteredMaterials">
                        <button
                            type="button"
                            class="btn btn-file text-dark"
                            [ngClass]="material === previewMaterial ? 'active' : ''"
                            [attr.aria-selected]="material === previewMaterial"
                            [attr.aria-controls]="'filePreview-' + material.id"
                            [id]="'fileSelector-' + material.id"
                            role="tab"
                            (click)="setPreviewMaterial(material)">
                            {{ material.displayName[lang] }}
                        </button>
                    </ng-container>
                </div>
                <!--
                <ng-container *ngFor="let material of materials">
                    <button
                        type="button"
                        class="btn btn-file text-dark"
                        [ngClass]="material === previewMaterial ? 'active' : ''"
                        (click)="setPreviewMaterial(material)">
                        {{ material.displayName[lang] }}
                    </button>
                </ng-container>-->
            </div>
        </div>

        <div class="col-9">
            <div class="file-content">
                <app-educational-material-preview
                    [material]="previewMaterial"
                    *ngIf="!previewMaterial.link"></app-educational-material-preview>

                <a
                    *ngIf="previewMaterial.link"
                    [href]="previewMaterial.link"
                    class="btn btn-secondary"
                    target="_blank"
                    rel="noopener">
                    {{ "demo.educationalMaterial.preview.openInNewTab" | translate }}
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #notFound>
    <alert type="warning">
        <strong>404</strong>
    </alert>
</ng-template>
