<ul class="nav navbar-nav">
  <li class="nav-item">
    <button
      class="btn nav-link"
      type="button"
      (click)="login()"
      *ngIf="!hasUserdata; else loggedIn"
    >
      {{ 'common.login' | translate }}
    </button>
    <ng-template #loggedIn>
      <button
        class="btn nav-link"
        type="button"
        (click)="logout()"
        *ngIf="hasUserdata"
      >
        {{ authSvc.getUserdata()?.userdata.name }} - {{ 'common.logout' | translate }}
      </button>
    </ng-template>
  </li>
</ul>
