@use 'mixins';

.search-result {
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  h1 {
    color: #373737;
    margin-bottom: 1.5rem;
    @include mixins.resize(20);
  }

  .tags {
    margin-bottom: 0.5rem;
  }
}
