{
  "root": true,
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "createDefaultProgram": true,
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": ["./tsconfig.json"]
      },
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:prettier/recommended",
        "prettier"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-namespace": "error",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-var-requires": "error"
      }
    }
  ],
  "parser": "@typescript-eslint/parser"
}
