<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <article>
          <ng-container [ngSwitch]="lang">
            <ng-container *ngSwitchDefault>
              <h1>Saavutettavuusseloste</h1>

              <p>Saavutettavuudella tarkoitetaan, että verkkosivut ja mobiilisovellukset sekä niiden sisällöt ovat sellaisia, että kuka tahansa voisi niitä käyttää ja ymmärtää mitä niissä sanotaan.</p>
              <p>Avointen oppimateriaalien palvelua (aoe.fi) koskee <a href="https://www.saavutettavuusvaatimukset.fi/lait-ja-standardit/" target="_blank" rel="noopener">laki digitaalisten palvelujen tarjoamisesta</a>, joka pohjautuu <a href="https://vm.fi/saavutettavuusdirektiivi" target="_blank" rel="noopener">EU:n saavutettavuusdirektiiviin</a>. Lain mukaan kaikilla tulee olla tasavertaiset mahdollisuudet käyttää digitaalisia palveluita.</p>
              <p>AOE.fi-sivusto on julkaistu vuonna 2019 ja saavutettavuus on itsearvioitu syyskuussa 2019, jolloin myös tämä seloste on tehty. Asiantuntija-arvio sivuston saavutettavuudesta hankitaan joulukuussa 2019 ja saavutettavuutta arvioidaan jatkuvasti uusia ominaisuuksia kehitettäessä.</p>
              <p>Tämän verkkosivuston tulee noudattaa WCAG 2.1 –kriteeristön AA-tasoa. Saavutettavuus on huomioita luotaessa sivuston navigaatiota, värimaailmaa ja toiminnallisuuksia. Kunkin sivustolla julkaistun oppimateriaalin saavutettavuudesta vastaa materiaalin tekijät. Oppimateriaaleihin voidaan merkitä miten nämä vastaavat eri saavutettavuushaasteisiin tai mikäli materiaalit ovat jotenkin esteisiä. Saavutettavien materiaalien löytäminen helpottuu alkuvuodesta 2020, jolloin materiaaleja voi hakea sivustolta.</p>

              <h2>Anna palautetta saavutettavuudesta</h2>

              <p>Aoe.fi on kehitettävä palvelu, jonka takia pyydämme kärsivällisyyttä mikäli joitain vikoja esiintyy. Pyrimme jatkuvasti parantamaan lähestyttävyyttä eri kohderyhmille ja kuulemme mieluusti miten parantaa saavutettavuutta kohdallanne. Palvelun tiimiin saa yhteyden lähettämällä sähköpostia osoitteeseen <a href="mailto:oppimateriaalivaranto@csc.fi">oppimateriaalivaranto@csc.fi</a>. Sähköposti saavuttaa palvelun kehitystiimin, joka informoi asiasta palvelun omistajia.</p>
              <p>Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan kahden viikon aikana, voit tehdä ilmoituksen Etelä-Suomen aluehallintovirastoon. Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti, miten ilmoituksen voi tehdä ja miten asia käsitellään.</p>
              <p>Valvontaviranomaisen yhteystiedot:</p>
              <p>Etelä-Suomen aluehallintovirasto<br>
                Saavutettavuuden valvonnan yksikkö<br>
                <a href="http://www.saavutettavuusvaatimukset.fi/" target="_blank" rel="noopener">www.saavutettavuusvaatimukset.fi</a><br>
                saavutettavuus(at)avi.fi<br>
                puhelinnumero vaihde 0295 016 000</p>
            </ng-container>
          </ng-container>
        </article>
      </div>
    </div><!--/.row-->
  </div>
</div>
