<div class="py-4 px-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <article>
          <ng-container [ngSwitch]="lang">
            <ng-container *ngSwitchDefault>
              <h1>Saavutettavuusseloste</h1>
              <p>Saavutettavuudella tarkoitetaan, että verkkosivut ja mobiilisovellukset sekä niiden sisällöt ovat sellaisia, että kuka tahansa voisi niitä käyttää ja ymmärtää mitä niissä sanotaan.</p>
              <p>Avointen oppimateriaalien kirjastoa (aoe.fi) koskee <a href="https://www.saavutettavuusvaatimukset.fi/lait-ja-standardit/" target="_blank" rel="noopener">laki digitaalisten palvelujen tarjoamisesta</a>, joka pohjautuu <a href="https://vm.fi/saavutettavuusdirektiivi" target="_blank" rel="noopener">EU:n saavutettavuusdirektiiviin</a>. Lain mukaan kaikilla tulee olla tasavertaiset mahdollisuudet käyttää digitaalisia palveluita.</p>
              <p><a routerLink="/etusivu">AOE.fi</a>-sivusto on julkaistu vuonna 2019 ja saavutettavuus on arvioitu ulkopuolisen konsultin (Avaava oy) toimesta helmikuussa 2020, jolloin myös tämä seloste on päivitetty. Saavutettavuutta arvioidaan jatkuvasti uusia ominaisuuksia kehitettäessä.</p>
              <p>Tämän verkkosivuston tulee noudattaa WCAG 2.1 –kriteeristön AA-tasoa. Saavutettavuus on huomioita luotaessa sivuston navigaatiota, värimaailmaa ja toiminnallisuuksia.</p>

              <h2>Aoe.fi-sivuston saavutettavuuden tila</h2>
              <p>Aoe.fi-sivusto täyttää osin lain edellyttämät vaatimukset.</p>

              <h2>Ei-saavutettava sisältö</h2>
              <p>Merkittävimmät puutteet saavutettavuudessa liittyvät epäyhtenäiseen otsikkohierarkiaan ja videoiden ja äänitiedostojen hallintaan. Epäyhtenäisellä otsikkohierarkialla tarkoitetaan sitä, että osalla sivuista otsikkohierarkia hyppää osan ala-otsikoista yli niin ettei käyttäjälle muodostu selkeää kuvaa sivun rakenteesta ruudulukijalla, jonka lisäksi joiltain sivuilta puuttuu uniikki sivuotsikko. Tämä saavutettavuuspuute on on otettu huomioon ja se on lisätty korjattavaksi palvelun kehitysjonoon.</p>
              <p>Videoiden ja äänitiedostojen hallinnassa esiintyy ongelmia osalla selaimista joidenkin ruudunlukijoiden kanssa. Ongelma koskee videoisssa Firefox ja paikoin Chrome -selaimia ja äänitiedostoissa Chrome ja Safari -selaimia. Videoita ja äänitiedostoja pystyy käyttämään ja ne pystyy pysäyttämään, mutta hallinnantyökalut kuten eteen- ja taaksepäin kelaaminen saattavat ajoin kadota. Käytämme videoiden ja äänitiedostojen toistamiseen selaimen omaa kykyä lukea tiedostoja. Emme pysty vaikuttamaan siihen kuinka hyvin selaimet ottavat saavutettavuuden huomioon, mutta selvitämme onko video- ja äänitiedostojen toistamiseen saavutettavampaa mallia. Kaikki palvelussa olevat video- ja äänitiedostot pystyy latamaan omalle koneelleen ja käyttämään sitä kautta suosimillaan ääni- ja videotiedostojen soittimilla. Samoin tekstitiedostot pystyy lataamaan konelleen ja lukemaan niitä valitsemillaan sovelluksilla. Osa materiaaleista voi olla saavutettavampia näin.</p>
              <p>Sivustolla on lisäksi joitain pienempiä puutteita saavutettavuudessa. Näitä ovat oppimateriaalien rakenteen välittyminen ruudunlukijoille tarkoituksenmukaisesti välilehtinä, näppäimistökohdistimen näkyminen kaikissa tilanteissa samalla tavalla sekä ruudunlukijalle välittyvä tieto että haitari on sulkeutunut. Nämä saavutettavuuspuutteet on otettu huomioon ja niiden korjaaminen on suunniteltu ja aikataulutettu.</p>

              <h2>Oppimateriaalien saavutettavuus</h2>
              <p>Kunkin sivustolla julkaistun oppimateriaalin saavutettavuudesta vastaa materiaalin tekijät. Oppimateriaaleihin voidaan merkitä miten nämä vastaavat eri saavutettavuushaasteisiin tai mikäli materiaalit ovat jotenkin esteisiä. <a routerLink="/etusivu">Aoe.fi</a>-sivusto myös antaa ohjeita miten huomioida saavutettavuus tehdessä oppimateriaaleja.</p>

              <h2>Anna palautetta saavutettavuudesta</h2>
              <p>Avointen oppimateriaalien kirjastoa kehitetään ketterästi ja monet käyttökokemusta parantavat ominaisuudet ovat vielä tuloilla. Pyrimme jatkuvasti parantamaan lähestyttävyyttä eri kohderyhmille ja kuulemme mieluusti miten parantaa saavutettavuutta kohdallanne. Palvelun tiimiin saa yhteyden lähettämällä sähköpostia osoitteeseen <a href="mailto:oppimateriaalivaranto@csc.fi">oppimateriaalivaranto@csc.fi</a>. Sähköposti saavuttaa palvelun kehitystiimin, joka informoi asiasta palvelun omistajia.</p>
              <p>Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan kahden viikon aikana, voit tehdä ilmoituksen Etelä-Suomen aluehallintovirastoon. Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti, miten ilmoituksen voi tehdä ja miten asia käsitellään.</p>
              <p>Valvontaviranomaisen yhteystiedot:</p>
              <p>Etelä-Suomen aluehallintovirasto<br>
                Saavutettavuuden valvonnan yksikkö<br>
                <a href="http://www.saavutettavuusvaatimukset.fi/" target="_blank" rel="noopener">www.saavutettavuusvaatimukset.fi</a><br>
                saavutettavuus(at)avi.fi<br>
                puhelinnumero vaihde 0295 016 000</p>
            </ng-container>
          </ng-container>
        </article>
      </div>
    </div><!--/.row-->
  </div>
</div>
