<form [formGroup]="extendedDetailsForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <label for="accessibilityFeatures">Saavutettavuuden ominaisuudet</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Voit tähän valita mikäli oppimateriaalin tekemisessä on huomioitu saavutettavuus lisäämällä siihen jotain saavutettavuutta tukevia ominaisuuksia kuten tekstitys, navgointia helpottava rakenne tai selkokielisyys. Lisätietoa saavutettavuudesta ohjeistus-osioissa."
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <ng-select
        [items]="accessibilityFeatures$"
        [multiple]="true"
        bindLabel="value"
        id="accessibilityFeatures"
        formControlName="accessibilityFeatures"
      ></ng-select>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="accessibilityHazards">Saavutettavuuden esteet</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Voit tähän valita mikäli oppimateriaalissa on jotain ominaisuuksia jotka voivat olla estäviä osalle henkilöistä, esimerkiksi mikäli materiaalissa on voimakasta välähtelyä. Kenttään voi myös merkitä, mikäli tälläisiä haittoja ei ole valitsemalla esimerkiksi ei äänihaittaa. Lisätietoa saavutettavuudesta ohjeistus-osioissa."
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <ng-select
        [items]="accessibilityHazards$"
        [multiple]="true"
        bindLabel="value"
        id="accessibilityHazards"
        formControlName="accessibilityHazards"
      ></ng-select>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="typicalAgeRangeMin">Kohderyhmän ikä</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Ikäryhmä, jolle oppimateriaali on tarkoitettu, esim. 7-9, 18-90."
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <div class="form-row" formGroupName="typicalAgeRange">
        <div class="col">
          <input
            type="number"
            id="typicalAgeRangeMin"
            class="form-control"
            formControlName="typicalAgeRangeMin"
          >
        </div>

        <div class="col-auto">
          &ndash;
        </div>

        <div class="col">
          <input
            type="number"
            id="typicalAgeRangeMax"
            class="form-control"
            formControlName="typicalAgeRangeMax"
          >
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="timeRequired">{{ 'forms.educationalResource.basicDetails.timeRequired' | translate }}</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Arvio ajasta, joka keskimäärin kuluu oppimateriaalin opiskeluun."
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <input
        type="text"
        class="form-control"
        id="timeRequired"
        formControlName="timeRequired"
      >
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="publisher">{{ 'forms.educationalResource.basicDetails.publisher' | translate }}</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Mikäli oppimateriaalilla on julkaisija (esimerkiksi järjestö tai koulu), voit tähän täydentää julkaisijan virallisen nimen."
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <input
        type="text"
        class="form-control"
        id="publisher"
        formControlName="publisher"
      >
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="publisher">Oppimateriaali vanhenee</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Merkitse tähän mikäli on selkeästi nähtävissä että oppimateriaalisi ei ole enää ajankohtainen tai relevantti tietyn ajankohdan jälkeen."
      ><img src="assets/img/icons/ic_help.svg" alt=""></button>

      <input
        type="text"
        class="form-control"
        id="expires"
        formControlName="expires"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
      >
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="prerequisites">Aiempi osaaminen</label>

      <ng-select
        [items]="[]"
        [multiple]="true"
        [addTag]="addCustomItem"
        bindLabel="value"
        appendTo="body"
        id="prerequisites"
        formControlName="prerequisites"
      ></ng-select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >Edellinen</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="resetForm()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="extendedDetailsForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
