<form [formGroup]="extendedDetailsForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <label for="educationalRoles">Kohderyhmä</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Valitse tästä kenelle materiaali on tarkoitettu, mikä on materiaalin pääasiallinen kohderyhmä. Esimerkiksi onko materiaali tarkoitettu toisten opettajien hyödynnettäväksi, onko se tarkoitettu oppijoille opiskeltavaksi tai esimerkiksi huoltajalle auttamaan oppimisen tukemisessa."
      >(?)</button>

      <ng-select
        [items]="educationalRoles$ | async"
        [multiple]="true"
        bindLabel="value"
        id="educationalRoles"
        placeholder="Valitse kohderyhmä"
        formControlName="educationalRoles"
      ></ng-select>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="educationalUse">Käyttö opetuksessa</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Teoksen käyttötarkoitus koulutuksen kontekstissa. Esim. ryhmätyö, itseopiskelu, oppitunnin osa."
      >(?)</button>

      <ng-select
        [items]="educationalUse$ | async"
        [multiple]="true"
        bindLabel="value"
        id="educationalUse"
        placeholder="Valitse opetuksen käyttökohde"
        formControlName="educationalUse"
      ></ng-select>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="accessibilityFeatures">Saavutettavuuden ominaisuudet</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Voit tähän valita mikäli oppimateriaalin tekemisessä on huomioitu saavutettavuus lisäämällä siihen jotain saavutettavuutta tukevia ominaisuuksia kuten tekstitys, navgointia helpottava rakenne tai selkokielisyys. Lisätietoa saavutettavuudesta ohjeistus-osioissa."
      >(?)</button>

      <ng-select
        [items]="accessibilityFeatures$ | async"
        [multiple]="true"
        bindLabel="value"
        id="accessibilityFeatures"
        placeholder="Valitse tukitoiminto"
        formControlName="accessibilityFeatures"
      ></ng-select>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="accessibilityHazards">Saavutettavuuden esteet</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Voit tähän valita mikäli oppimateriaalissa on jotain ominaisuuksia jotka voivat olla estäviä osalle henkilöistä, esimerkiksi mikäli materiaalissa on voimakasta välähtelyä. Kenttään voi myös merkitä, mikäli tälläisiä haittoja ei ole valitsemalla esimerkiksi ei äänihaittaa. Lisätietoa saavutettavuudesta ohjeistus-osioissa."
      >(?)</button>

      <ng-select
        [items]="accessibilityHazards$ | async"
        [multiple]="true"
        bindLabel="value"
        id="accessibilityHazards"
        placeholder="Valitse este"
        formControlName="accessibilityHazards"
      ></ng-select>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="typicalAgeRangeMin">Kohderyhmän ikä</label>

      <button
        type="button"
        class="btn btn-link"
        tooltip="Ikäryhmä, jolle oppimateriaali on tarkoitettu, esim. 7-9, 18-90."
      >(?)</button>

      <div class="form-row">
        <div class="col">
          <input
            type="number"
            id="typicalAgeRangeMin"
            class="form-control"
            placeholder="15"
            formControlName="typicalAgeRangeMin"
          >
        </div>

        <div class="col-auto">
          &ndash;
        </div>

        <div class="col">
          <input
            type="number"
            id="typicalAgeRangeMax"
            class="form-control"
            placeholder="18"
            formControlName="typicalAgeRangeMax"
          >
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="inLanguage">Kieli</label>

      <ng-select
        [items]="languages$ | async"
        [multiple]="true"
        bindLabel="value"
        id="inLanguage"
        placeholder="Valitse kieli"
        formControlName="inLanguage"
      ></ng-select>
    </div>
  </div>

  <!-- @todo: Move to its own tab -->
  <h3>Lisenssi</h3>

  <p>Jotta oppimateriaalin voi tallentaa avointen oppimateriaalien palveluun, on sen oltava lisensoitu jollain Creative Commons -lisenssillä. Creative Commons -lisenssit kertovat millaisia käyttöoikeuksia annat muille ihmisille: Voivatko he tehdä oman oppimateriaalin sinun materiaalisi pohjalta? Saavatko he käyttää oppimateriaalisi osaa omassa materiaalissaan? Saako materiaaliasi päivittää tai kääntää eri kielelle tai muuttaa pistekirjoitukseksi? Saako oppimateriaaliasi käyttää kaupallisessa koulutuksessa?</p>

  <p>Avointen oppimateriaalien palvelu suosittelee valitsemaan Creative Commons Nimeä 4.0 (valitse kyllä ja kyllä) tai Creative Commons Nimeä-JaaSamoin (valitse kyllä, vain samalla lisenssillä ja kyllä)-lisenssit. Kummatkin näistä takaavat että sinut mainitaan oppimateriaalin tekijänä ja että muut käyttäjät saavat vapaasti käyttää oppimateriaaliasi osana oppimis-, opetus- ja koulutustarpeitaan. Ne mahdollistavat myös sen että muut ihmiset voivat luoda omia muokkauksia oppimateriaalisi pohjalta, taaten näin sen että oppimateriaalisi voi jatkaa päivittymistä ja eloaan senkin jälkeen kun et itse enää ole kiinnostunut pitämään sitä ajan tasalla. Creative Commons Nimeä-JaaSamoin takaa myös sen että kaikki muokkaukset ja uudelleentyöstöt, jotka materiaalisi pohjalta tehdään, jaetaan samalla avoimella lisenssillä.</p>

  <p>Kaupallisen käytön kieltäminen voi olla houkuttelevaa erityisesti jos oppimateriaalien avoin jakaminen on uusia asia. Kaupallisen käytön määrittely on kuitenkin erittäin haastavaa. Creative Commons EiKaupallinen esimerkiksi estää oppimateriaalin tai sen osan jakamisen mainosrahoitteisella verkkosivulla tai vaikkapa blogissa. Oppimateriaalin käyttäminen yrityksille, yksityishenkilöille tai yhteisöille suunnatussa maksullisessa koulutuksessa tai muussa vastaavassa tilaisuudessa on myös tässä lisenssissä kiellettyä. Valitse siis ei kaupalliseen vain harkinnan jälkeen. Hyvänä vaihtoehtona kaupallisen käytön kieltämiselle on kyllä, jaa samoin. Tämä Creative Commons Nimeä-JaaSamoin edellyttää, että materiaalistasi tehdyt johdannaismateriaalit on jaettava samoin avoimen käytön mahdollistavalla lisenssillä.</p>

  <p>Creative Commons EiMuutoksia -lisenssiehtoa ei suositella käytettäväksi avoimissa oppimateriaaleissa. Lisenssi estää oppimateriaalin kaikenlaisen päivittämisen ja johdannaismateriaalien tekemisen. Oppimateriaalia ei voi myöskään esimerkiksi kääntää tai muuttaa pistekirjoitukseksi. Creative Commons EiMuutoksia soveltuukin parhaiten taideteosten ja vastaavien töiden lisensointiin.</p>

  <p>Valitsemalla avoimen lisenssin ja tallentamalla oppimateriaalin avointen oppimateriaalin palveluun vakuutat, että sinulla on oikeus julkaista materiaali avoimesti. Varmistathan, että jaat avoimesti vain materiaalia johon sinulla on oikeus: eli materiaalia jonka olet tehnyt täysin itse tai jonka avoimeen julkaisuun ja lisensointiin olet saanut luvan muilta tekijöiltä.</p>

  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4">
      <small class="form-text" id="commercialUseText">Salli teoksen kaupallinen käyttö?</small>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="allowCommercial"
          class="custom-control-input"
          aria-describedby="commercialUseText"
          value="yes"
          formControlName="licenseCommercialUse"
        >

        <label class="custom-control-label" for="allowCommercial">Kyllä</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="noCommercial"
          class="custom-control-input"
          aria-describedby="commercialUseText"
          value="no"
          formControlName="licenseCommercialUse"
        >

        <label class="custom-control-label" for="noCommercial">Ei</label>
      </div>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <small class="form-text" id="sharingText">Salli teoksen muunnelmien jakaminen?</small>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="allowSharing"
          class="custom-control-input"
          aria-describedby="sharingText"
          value="yes"
          formControlName="licenseSharing"
        >

        <label class="custom-control-label" for="allowSharing">Kyllä</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="disallowSharing"
          class="custom-control-input"
          aria-describedby="sharingText"
          value="no"
          formControlName="licenseSharing"
        >

        <label class="custom-control-label" for="disallowSharing">Ei</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="shareAlike"
          class="custom-control-input"
          aria-describedby="sharingText"
          value="shareAlike"
          formControlName="licenseSharing"
        >

        <label class="custom-control-label" for="shareAlike">Kyllä, vain samalla lisenssillä</label>
      </div>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <small class="form-text">Valittu lisenssi</small>

      <span class="form-text">{{ selectedLicense?.value }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >Edellinen</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="extendedDetailsForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
