<div class="py-4 px-0">
  <div class="container">
    <h1>{{ 'forms.collection.title' | translate }}</h1>

    <ul class="list-inline material-form-tabs">
      <li class="list-inline-item">
        <a
          [routerLink]="['/kokoelma', collectionId, 'muokkaa', 1]"
          routerLinkActive="active"
        >Välilehti</a>
      </li>

      <li class="list-inline-item divider">
        <img src="assets/img/icons/ic_arrow_right_black.svg" alt="divider arrow">
      </li>

      <li class="list-inline-item">
        <a
          [routerLink]="['/kokoelma', collectionId, 'muokkaa', 2]"
          routerLinkActive="active"
        >Välilehti</a>
      </li>

      <li class="list-inline-item divider">
        <img src="assets/img/icons/ic_arrow_right_black.svg" alt="divider arrow">
      </li>

      <li class="list-inline-item">
        <a
          [routerLink]="['/kokoelma', collectionId, 'muokkaa', 3]"
          routerLinkActive="active"
        >Välilehti</a>
      </li>

      <li class="list-inline-item divider">
        <img src="assets/img/icons/ic_arrow_right_black.svg" alt="divider arrow">
      </li>

      <li class="list-inline-item">
        <a
          [routerLink]="['/kokoelma', collectionId, 'muokkaa', 4]"
          routerLinkActive="active"
        >Välilehti</a>
      </li>
    </ul>


    <pre *ngIf="collection">{{ collection | json }}</pre>
  </div>
</div>

<ng-template #confirmAbort>
  <div class="modal-body text-center">
    <p>{{ 'forms.collection.abort.text' | translate }}</p>

    <button
      type="button"
      class="btn btn-blue"
      (click)="abort()"
    >{{ 'forms.collection.abort.confirm' | translate }}</button>

    <button
      type="button"
      class="btn btn-outline-blue"
      (click)="confirmAbortModalRef.hide()"
    >{{ 'forms.collection.abort.cancel' | translate }}</button>
  </div>
</ng-template>
