<div class="modal-header">
  <h1 class="modal-title pull-left">Arvioi oppimateriaali</h1>

  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ratingContent">
        {{ 'demo.educationalMaterial.userReviews.ratingContent' | translate }} (1-5)
      </label>

      <input
        type="number"
        class="form-control"
        id="ratingContent"
        formControlName="ratingContent"
        min="1"
        max="5"
        step="1"
        [ngClass]="{ 'is-invalid': ratingContentCtrl.errors }"
      >

      <div *ngIf="ratingContentCtrl.errors" class="invalid-feedback">
        <div *ngIf="ratingContentCtrl.errors.min">
          {{ 'forms.common.min' | translate }} {{ ratingContentCtrl.errors.min.min }}
        </div>

        <div *ngIf="ratingContentCtrl.errors.max">
          {{ 'forms.common.max' | translate }} {{ ratingContentCtrl.errors.max.max }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="ratingVisual">
        {{ 'demo.educationalMaterial.userReviews.ratingVisual' | translate }} (1-5)
      </label>

      <input
        type="number"
        class="form-control"
        id="ratingVisual"
        formControlName="ratingVisual"
        min="1"
        max="5"
        step="1"
        [ngClass]="{ 'is-invalid': ratingVisualCtrl.errors }"
      >

      <div *ngIf="ratingVisualCtrl.errors" class="invalid-feedback">
        <div *ngIf="ratingVisualCtrl.errors.min">
          {{ 'forms.common.min' | translate }} {{ ratingVisualCtrl.errors.min.min }}
        </div>

        <div *ngIf="ratingVisualCtrl.errors.max">
          {{ 'forms.common.max' | translate }} {{ ratingVisualCtrl.errors.max.max }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="feedbackPositive">
        {{ 'demo.educationalMaterial.userReviews.feedbackPositive' | translate }}
      </label>

      <textarea
        class="form-control"
        id="feedbackPositive"
        formControlName="feedbackPositive"
        [ngClass]="{ 'is-invalid': feedbackPositiveCtrl.errors }"
      ></textarea>

      <div *ngIf="feedbackPositiveCtrl.errors" class="invalid-feedback">
        <div *ngIf="feedbackPositiveCtrl.errors.maxlength">
          {{ feedbackPositiveCtrl.errors.maxlength.actualLength }}
          / {{ feedbackPositiveCtrl.errors.maxlength.requiredLength }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="feedbackSuggest">
        {{ 'demo.educationalMaterial.userReviews.feedbackSuggest' | translate }}
      </label>

      <textarea
        class="form-control"
        id="feedbackSuggest"
        formControlName="feedbackSuggest"
        [ngClass]="{ 'is-invalid': feedbackSuggestCtrl.errors }"
      ></textarea>

      <div *ngIf="feedbackSuggestCtrl.errors" class="invalid-feedback">
        <div *ngIf="feedbackSuggestCtrl.errors.maxlength">
          {{ feedbackSuggestCtrl.errors.maxlength.actualLength }}
          / {{ feedbackSuggestCtrl.errors.maxlength.requiredLength }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="feedbackPurpose">
        {{ 'demo.educationalMaterial.userReviews.feedbackPurpose' | translate }}
      </label>

      <textarea
        class="form-control"
        id="feedbackPurpose"
        formControlName="feedbackPurpose"
        [ngClass]="{ 'is-invalid': feedbackPurposeCtrl.errors }"
      ></textarea>

      <div *ngIf="feedbackPurposeCtrl.errors" class="invalid-feedback">
        <div *ngIf="feedbackPurposeCtrl.errors.maxlength">
          {{ feedbackPurposeCtrl.errors.maxlength.actualLength }}
          / {{ feedbackPurposeCtrl.errors.maxlength.requiredLength }}
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-gray"
      [attr.aria-label]="'forms.common.cancel' | translate"
      (click)="bsModalRef.hide()"
    >{{ 'forms.common.cancel' | translate }}</button>

    <button
      type="submit"
      class="btn btn-blue"
    >{{ 'forms.common.save' | translate }}</button>
  </form>
</div>
