<form [formGroup]="basicDetailsForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-2">
      <div class="material-image-upload d-flex flex-column justify-content-center">
        <img src="assets/img/icons/ic_camera.svg" alt="Kamera ikoni">
        <a href="#">{{ 'forms.educationalResource.basicDetails.uploadImage' | translate }}</a>
      </div>
    </div>

    <div class="col-md-10">
      <ng-container *ngFor="let author of authors.controls; let i = index;">
        <div class="form-row" formArrayName="authors">
          <ng-container [formGroupName]="i">
            <div class="form-group col">
              <label for="{{ 'author' + i }}">{{ 'forms.educationalResource.basicDetails.author' | translate }}*</label>

              <button
                type="button"
                class="btn btn-link"
                tooltip="Oppimateriaalin tekijä tai tekijät. Syötä tekijöiden nimet muodossa Sukunimi, Etunimi."
              ><img src="assets/img/icons/ic_help.svg" alt=""></button>

              <input
                type="text"
                class="form-control"
                id="{{ 'author' + i }}"
                placeholder="Sukunimi, Etunimi"
                formControlName="author"
              >
            </div>

            <div class="form-group col">
              <label for="{{ 'organisation ' + i }}">{{ 'forms.educationalResource.basicDetails.organisation' | translate }}</label>

              <button
                type="button"
                class="btn btn-link"
                tooltip="Voit tähän täydentää mitä organisaatiota, esimerkiksi koulua tai hanketta, edustat. Kenttä ei ole pakollinen."
              ><img src="assets/img/icons/ic_help.svg" alt=""></button>

              <ng-select
                [items]="organisations$"
                bindLabel="value"
                id="{{ 'organisation ' + i }}"
                formControlName="organisation"
              ></ng-select>
            </div>

            <div class="form-group align-self-end col-auto" *ngIf="i !== 0">
              <button type="button" class="btn btn-danger" (click)="removeAuthor(i)">Poista</button>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <div class="form-group">
        <button type="button" class="btn btn-gray" (click)="addAuthor()">Lisää toinen tekijä</button>
      </div>

      <div class="form-group">
        <label for="keywords">Asiasanat*</label>

        <button
          type="button"
          class="btn btn-link"
          tooltip="Lisää tähän mitä tarkempia aiheita oppimateriaalisi käsittelee ja/tai millä tavoin aihetta käsitellään. Esimerkiksi flipped learning, ilmastonmuutos, uskontososiologia."
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>

        <ng-select
          [items]="keywordsBuffer"
          [virtualScroll]="true"
          [loading]="loading"
          [multiple]="true"
          bindLabel="value"
          id="keywords"
          [typeahead]="input$"
          (scrollToEnd)="fetchMore(keywords.filterValue)"
          formControlName="keywords"
          #keywords
        ></ng-select>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-6 col-md-4">
          <label for="learningResourceType">{{ 'forms.educationalResource.basicDetails.materialType' | translate }}*</label>

          <button
            type="button"
            class="btn btn-link"
            tooltip="Valitse tästä minkä tyyppinen aineisto oppimateriaalisi on. Voit valita useamman tyypin mikäli oppimateriaali koostuu erilaisista osista."
          ><img src="assets/img/icons/ic_help.svg" alt=""></button>

          <ng-select
            [items]="learningResourceTypes$"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="value"
            id="learningResourceType"
            formControlName="learningResourceType"
          ></ng-select>
        </div>

        <div class="form-group col-sm-6 col-md-4">
          <label for="educationalRoles">Kohderyhmä</label>

          <button
            type="button"
            class="btn btn-link"
            tooltip="Valitse tästä kenelle materiaali on tarkoitettu, mikä on materiaalin pääasiallinen kohderyhmä. Esimerkiksi onko materiaali tarkoitettu toisten opettajien hyödynnettäväksi, onko se tarkoitettu oppijoille opiskeltavaksi tai esimerkiksi huoltajalle auttamaan oppimisen tukemisessa."
          ><img src="assets/img/icons/ic_help.svg" alt=""></button>

          <ng-select
            [items]="educationalRoles$"
            [multiple]="true"
            bindLabel="value"
            id="educationalRoles"
            formControlName="educationalRoles"
          ></ng-select>
        </div>

        <div class="form-group col-sm-6 col-md-4">
          <label for="educationalUse">Käyttö opetuksessa</label>

          <button
            type="button"
            class="btn btn-link"
            tooltip="Teoksen käyttötarkoitus koulutuksen kontekstissa. Esim. ryhmätyö, itseopiskelu, oppitunnin osa."
          ><img src="assets/img/icons/ic_help.svg" alt=""></button>

          <ng-select
            [items]="educationalUse$"
            [multiple]="true"
            bindLabel="value"
            id="educationalUse"
            formControlName="educationalUse"
          ></ng-select>
        </div>
      </div>

      <div class="form-group" formGroupName="description">
        <label for="description">{{ 'forms.educationalResource.basicDetails.description' | translate }}</label>

        <button
          type="button"
          class="btn btn-link"
          tooltip="Kirjoita tiivis vapaamuotoinen kuvaus oppimateriaalista: mitä se sisältää, mistä se kertoo, mihin tarkoitukseen se on tehty."
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>

        <div class="form-row">
          <div class="col-sm">
            <textarea
              class="form-control"
              id="description"
              rows="10"
              formControlName="fi"
            ></textarea>
          </div>

          <div class="col-auto">
            <button type="button" class="btn btn-gray" (click)="openModal(langVersions)">{{ 'forms.educationalResource.basicDetails.langVersions' | translate }}</button>

            <button
              type="button"
              class="btn btn-link"
              tooltip="Kieliversiot-painikkeesta voit halutessasi lisätä nimille ja kuvaukselle suomen, ruotsin tai englanninkielisen käännöksen, jotta näillä kielillä palvelua käyttävät saavat kokonaisen kuvan millainen materiaalisi on."
            ><img src="assets/img/icons/ic_help.svg" alt=""></button>
          </div>
        </div>

        <ng-template #langVersions>
          <div class="modal-header">
            <h5 class="modal-title">Kieliversiot: {{ 'forms.educationalResource.basicDetails.description' | translate }}</h5>

            <button type="button" class="close" aria-label="Sulje" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <h4>Kieliversioiden lisääminen</h4>

            <div class="form-group">
              <label for="descriptionEn">Kuvaus englanniksi</label>

              <textarea
                class="form-control"
                id="descriptionEn"
                rows="10"
                formControlName="en"
              ></textarea>
            </div>

            <div class="form-group">
              <label for="descriptionSv">Kuvaus ruotsiksi</label>

              <textarea
                class="form-control"
                id="descriptionSv"
                rows="10"
                formControlName="sv"
              ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-gray" aria-label="Peruuta" (click)="modalRef.hide()">Peruuta</button>
            <button type="button" class="btn btn-blue" (click)="modalRef.hide()">Tallenna muutokset</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-gray"
        (click)="previousTab()"
      >Edellinen</button>
    </div>

    <div class="col-auto">
      <button
        type="reset"
        class="btn btn-cancel"
        (click)="resetForm()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
        [disabled]="basicDetailsForm.invalid"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
