@import "mixins";

.block-header {
  background-color: #f9f9f9;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
}

.results-count {
  @include font-size(14);
  font-weight: 500;
}

.search-result {
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  h1 {
    color: #373737;
    @include font-size(20);
    margin-bottom: 1.5rem;
  }
}
