@use 'sass:math';

$phone: 320px;
$tablet: 500px;
$laptop: 1200px;
$desktop: 1400px;
$large-display: 1920px;

@mixin resize($size) {
  $result: $size;

  @media only screen and (min-width: 1921px) {
    $result: $size * 1.2;
    font-size: $result;
  }

  @media only screen and (max-width: $large-display) {
    $result: $size * 1.2;
    font-size: $result;
  }

  @media only screen and (max-width: $desktop) {
    $result: $size * 1.1;
    font-size: $result;
  }

  @media only screen and (max-width: $laptop) {
    $result: $size * 1;
    font-size: $result;
  }

  @media only screen and (max-width: $tablet) {
    $result: $size * 1.1;
    font-size: $result;
  }

  @media only screen and (max-width: $phone) {
    $result: $size * 1.3;
    font-size: $result;
  }
}
