// If you want to override variables do it here
@import 'variables';

// Import styles
@import '../../node_modules/@coreui/coreui/scss/coreui';
@import 'ng-select';

// Import mixins
@import 'mixins';

// Bootstrap overrides (needed by custom styles and ngx-toastr)
@import 'bootstrap-variables';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// If you want to add something do it here
@import 'custom';

@import 'ngx-toastr/toastr-bs4-alert';
