// If you want to override variables do it here
@import 'variables';

// Import styles
@import '../../node_modules/@coreui/coreui/scss/coreui';
@import 'ng-select';

// Import mixins
@import 'mixins';

// If you want to add something do it here
@import 'custom';

@import 'ngx-toastr/toastr-bs4-alert';
