<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label class="sr-only" for="keywords">{{ 'search.inputs.keywords.label' | translate }}</label>
    <input
      type="search"
      class="form-control"
      id="keywords"
      [placeholder]="'search.inputs.keywords.placeholder' | translate"
      formControlName="keywords"
    >

    <div class="input-group-append">
      <button
        type="submit"
        class="btn btn-blue"
        id="button-search"
      >
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="sr-only">
          {{ 'search.inputs.submit.sr-text' | translate }}
        </span>
      </button>
    </div>
  </div>
</form>
