<form>
  <div class="form-row">
    <div class="col">
      <label class="sr-only" for="searchKeywords">
        {{ 'search.inputs.keywords.label' | translate }}
      </label>

      <input
        type="search"
        class="form-control mb-2 mr-sm-2"
        id="searchKeywords"
        [placeholder]="'search.inputs.keywords.placeholder' | translate">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-blue mb-2">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="sr-only">
          {{ 'search.inputs.submit.sr-text' | translate }}
        </span>
      </button>
    </div>
  </div>
</form>
