@use 'mixins';
@use 'variables';

.collection-material {
  margin-bottom: 2rem;

  h2,
  .h2 {
    &.title {
      @include mixins.resize(21);
    }
  }

  h3,
  .h3 {
    &.title {
      @include mixins.resize(18);

      a {
        color: #373737;
      }
    }
  }

  .title {
    font-weight: 500;
    margin-bottom: 0.5rem;

    a {
      color: variables.$primary-theme-color;
    }
  }

  .authors {
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  .list-files {
    background-color: #eee;
    padding: 0.5rem;

    h3 {
      font-weight: 400;
      @include mixins.resize(16);
    }

    .btn-group-vertical {
      width: 100%;
    }

    .btn-file {
      color: variables.$input-color;
      font-weight: 400;
      text-align: left;
      word-break: break-all;

      &.active {
        background-color: #fff;
      }
    }
  }
}

.collection-authors {
  color: variables.$primary-theme-color;
  font-weight: 700;
  margin-bottom: 0;
}

.datetimes {
  margin-bottom: 1rem;

  .datetime-item {
    strong {
      margin-right: 0.25rem;
    }

    time {
      margin-right: 0.5rem;
    }
  }
}
