@use 'mixins';

$border-color: #e0e0e0;

h2 {
  font-weight: 400;
  @include mixins.resize(22);
}

.version-history {
  vertical-align: inherit;
}

.dropdown-menu {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

#toggle-version-history {
  padding: 0 0.25rem;
  @include mixins.resize(16);
}

.lang-selector-button {
  font-family: Consolas, monospace, Courier;
}

.metadata {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  .metadata-group {
    margin-bottom: 1rem;
  }
}

.list-files {
  h2 {
    font-weight: 400;
    @include mixins.resize(16);
  }
}

.ratings {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  @include mixins.resize(14);

  h2 {
    color: #373737;
  }

  h3 {
    color: #373737;
    @include mixins.resize(18);
  }
}

.references {
  .reference {
    border-bottom: 1px solid $border-color;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
