<h1>Arkistoi materiaali</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="materialId">Oppimateriaalin ID</label>

    <input
      type="text"
      class="form-control"
      id="materialId"
      formControlName="materialId"
      inputmode="numeric"
      [ngClass]="{ 'is-invalid': materialIdCtrl.invalid && submitted }"
      (keyup)="getMaterialInfo($event)"
    >

    <div
      *ngIf="materialIdCtrl.invalid && submitted"
      class="invalid-feedback"
    >
      <div *ngIf="materialIdCtrl.errors.required">
        Pakollinen tieto
      </div>

      <div *ngIf="materialIdCtrl.errors.pattern">
        Vain numerot ovat sallittuja
      </div>
    </div>

    <div *ngIf="materialInfo" class="mt-3">
      <small class="mb-2">Materiaalin tiedot</small>

      <div class="border p-2">
        <ul class="list-unstyled">
          <li *ngFor="let name of materialInfo.name">
            {{ name.materialname }} ({{ name.language }})
          </li>
        </ul>

        <p class="mb-0">{{ materialInfo.owner.firstname }} {{ materialInfo.owner.lastname }}</p>
      </div>
    </div>

    <div *ngIf="materialIdCtrl.valid && !materialInfo" class="mt-3">
      <p>Syötetyllä ID:llä ei löytynyt oppimateriaalia.</p>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-blue"
  >Arkistoi materiaali</button>
</form>
