<article>
  <ng-container [ngSwitch]="lang">
    <ng-container *ngSwitchDefault>
      <h1>Arkistoitu oppimateriaali (ID: {{ materialId }})</h1>
      <p>
        Tämä materiaali on arkistoitu. Lisätietoa saat palvelun ylläpitäjiltä
        ottamalla yhteyttä osoitteeseen aoe@oph.fi ja kysymällä materiaalista
        sen id:n kera.
      </p>
    </ng-container>

    <ng-container *ngSwitchCase="'en'">
      <h1>Archived learning resource (ID: {{ materialId }})</h1>
      <p>
        This material has been archived. For more information contact admins
        through aoe@oph.fi.
      </p>
    </ng-container>

    <ng-container *ngSwitchCase="'sv'">
      <h1>Arkiverad lärresurs (ID: {{ materialId }})</h1>
      <p>
        Detta material har arkiverats. För mer information kontakta
        administratörer via aoe@oph.fi.
      </p>
    </ng-container>
  </ng-container>
</article>
