<em>Voimassa 1.9.2019 alkaen</em>

<p>Kiitos että käytät Avointen oppimateriaalien palvelua. Käyttämällä Avointen oppimateriaalien palvelua, hyväksyt samalla nämä ehdot. Perehdy niihin siis huolellisesti.</p>
<p>Avointen oppimateriaalien palvelu varaa oikeuden muuttaa näitä ehtoja. Avointen oppimateriaalien palvelu ilmoittaa käyttäjille olosuhteisiin soveltuvalla tavalla, esimerkiksi palvelun käyttäjätiedotteissa tai sähköpostitse, jos se tekee olennaisia muutoksia näihin ehtoihin.</p>

<h2>1. Palvelu on tarkoitettu jatkuvaan oppimiseen ja kaikille koulutusasteille</h2>
<p>Avointen oppimateriaalien palvelu on tarkoitettu kaikille kansalaisille. Käyttäjät voivat käyttää Avointen oppimateriaalien palvelua vain sovittuun tarkoitukseen: opetukseen, oppimiseen, kasvatukseen, koulutukseen ja näiden kehittämiseen.</p>
<p>Käyttäjät ovat vastuussa siitä, että palvelujen käyttö noudattaa lakeja, kaikkia soveltuvia määräyksiä ja lisenssiehtoja.</p>

<h3>1.2. Palveluun tallennettujen materiaalien tulee olla avoimia</h3>
<p>Palvelun tallennustoiminnallisuutta voi käyttää vain avointen oppimateriaalien tallentamiseen. Avoimella oppimateriaalilla tarkoitetaan tässä opetukseen, kasvatukseen tai oppimiseen kohdennettuja digitaalisia tai muita materiaaleja, jotka on lisensoitu avoimella lisenssillä, joka antaa muille oikeuden maksuttomaan pääsyyn, käyttöön, muokkaukseen ja uudelleen jakamiseen olemattomin tai vähin rajoituksin.</p>
<p>Käyttäjät ovat vastuussa siitä että heidän tallentamansa oppimateriaalit noudattavat tekijänoikeuksia, lakeja ja kaikkia soveltuvia määräyksiä sekä lisenssiehtoja. Käyttäjällä on oltava oikeus julkaista avoimesti lisensoituna oppimateriaali, jonka hän tallentaa palveluun.</p>

<h2>2. Avointen oppimateriaalien lisääminen vaatii tunnistautumisen palveluun</h2>
<p>Avointen oppimateriaalien palvelussa olevia oppimateriaaleja voi etsiä ja käyttää ilman tunnistautumista. Oppimateriaalien lisääminen, oppimateriaalien arviointi ja kommentointi, oppimateriaalikokoelmien tekeminen sekä omien tietojen tarkastelu vaatii kuitenkin tunnistautumisen.</p>
<p>Avointen oppimateriaalien palveluun voi tunnistautua käyttäen MpassIDtä, Hakaa tai Suomi.fi-tunnistautumista. Tunnistautuessa käyttäjästä välittyvät kotiorganisaatiolta nimi, tunniste ja Hakan ja MpassIDn tapauksessa organisaatio. Lisätietoa palvelun tietosuojaselosteesta (linkki).</p>
<p>Käyttäjä voi myös lisätä sähköpostiosoitteensa palveluun. Lisäämällä sähköpostiosoitteensa käyttäjä voi saada haluamiaan ilmotuksia saapuneista arvioista ja kommenteista, uusista oppimateriaaleista ja tulla lisätyksi muokkausoikeudelliseksi käyttäjäksi toisen henkilön tallentamaan oppimateriaaliin. Tämän lisäksi avointen oppimateriaalien palvelu voi ilmoittaa käyttäjälle muutoksista näihin ehtoihin, käyttökatkoista, palvelutiedoista ja muista tärkeistä asioista.</p>
<p>Avointen oppimateriaalien palvelulla on oikeus julkaista yleistiedot käyttäjästä. Nämä yleistiedot kattavat käyttäjän organisaation, suosiman oppiaineen ja resurssien käytön. Tämän lisäksi käyttäjä hyväksyy oppimateriaalia tallentaessaan antamien kuvailutietojen pysyvän julkaisun, mukaan lukien tekijän nimi ja tallennetut oppimateriaalit.</p>

<h2>3. Käyttäjänä olet vastuussa palvelun käytöstä ja tallentamastasi sisällöstä</h2>
<p>Avointen oppimateriaalin palvelun käyttäjän olet vastuussa palvelun käytöstä ja palveluun tallentamastasi sisällöstä ml. oppimateriaalit, kommentit ja muu sisältö.</p>
<p>Käyttäjä on vastuussa siitä, että sisältö, joka on tallennettu Avointen oppimateriaalien palveluun, on kaikkien soveltuvien lakien, määräysten ja näiden ehtojen mukainen. Käyttäjä on velvollinen noudattamaan tekijänoikeuksia tallentamissaan oppimateriaaleissa ja pidäyttäytymään loukkaavasta sisällöstä.</p>
<p>Jos sisältö koostuu henkilötiedoista, arkaluonteisista henkilötiedoista tai muusta luottamuksellisesta tiedosta, käyttäjä on velvollinen varmistamaan, että tiedot on anonymisoitu luotettavasti tai että hänellä on lupa julkaista näitä henkilötietoja.</p>
<p>Käyttäjä antaa Avointen oppimateriaalien palvelulle oikeuden käsitellä sisältöä palvelun tuottamistarkoituksissa, joita ovat esimerkiksi automaattinen monitorointi, tietoturvahaavoittuvuuksien havainnointi, tunkeutumisen havainnointi ja esto, varmuuskopioiden ottaminen, sisällön kopiointi tai siirto sekä virheiden jäljitys.</p>
<p>Palvelun käytöllä ei ole vaikutuksia sisällön omistusoikeuksiin.</p>

<h2>4. Palvelutason kuvaus ja vastuunrajoitus</h2>
<p>Avointen oppimateriaalien palvelu pyrkii siihen että palvelussa sijaitsevat oppimateriaalit ovat käytettävissä jatkuvasti ja luotettavasti. Vikatilanteissa palvelu vastaa palvelupyyntöihin vuorokauden sisällä arkipäivät mukaanlukien.</p>
<p>Avointen oppimateriaalien palvelu säilyttää oppimateriaalin sekä kopion siitä eri tallennusalustalla. Tämän lisäksi palvelu suosittelee, että käyttäjä säilyttää itse ajan tasalla olevaa kopiota sellaisesta sisällöstä, jonka säilyminen on tärkeää.</p>
<p>Avointen oppimateriaalien palvelu ei takaa, että palvelu toimii virheettömästi ja keskeytyksettä. Avointen oppimateriaalien palvelu kuitenkin pyrkii noudattamaan alan parhaita käytäntöjä ja turvallisuustoimenpiteitä.</p>
<p>Käyttäjät käyttävät palvelua omalla vastuullaan eikä Avointen oppimateriaalien palvelu ole vastuussa mistään syntyneistä vahingoista.</p>
<p>Avointen oppimateriaalien palvelu pidättää oikeuden muuttaa tai lopettaa kunkin toiminnallisuuden milloin tahansa.</p>

<h2>5. Oppimateriaalien ja käyttäjätietojen poistaminen</h2>
<p>Käyttäjä sitoutuu tallentamaan oppimateriaalinsa pysyvästi palveluun. Avointen oppimateriaalien palvelussa oppimateriaali voidaan poistaa mikäli se sisältää loukkaavaa tai oikeuksia rikkovaa sisältöä. Käyttäjä ei kuitenkaan voi itse poistaa jo tallennettua oppimateriaalia. Oppimateriaalin vanhentuessa oppimateriaali sijoitetaan arkistoon, niin ettei se enää suoraan tule hakutulokseksi, mutta on edelleen käytettävissä. Vanhentuminen määrittyy kuvailutietojen perusteella.</p>
<p>Mikäli käyttäjä vaihtaa organisaatiota ja/tai tunnistautumiskeinoa, on hänen huomioitava että hänen aiemmalla tunnisteella luodut oppimateriaalit eivät ole uutta tunnistautumista hyödyntäen käytettävissä.</p>
<p>Avointen oppimateriaalien palvelu sulkee tai keskeyttää käyttäjätunnuksen käytön ilmoittamatta:</p>
<ul>
  <li>palveluiden luvattoman käytön vuoksi;</li>
  <li>jos Avointen oppimateriaalien palvelulla on perusteltu syy epäillä, että palveluja käytetään näiden ehtojen vastaisesti.</li>
</ul>
<p>Voit poistaa käyttäjään liittyvät tietosi ml. kommentit, arviot ja kertyneen analytiikan ilmoittamalla Avointen oppimateriaalien palvelulle alla olevien yhteystietojen kautta. Tätä sisältöä ei voi palauttaa kun käyttäjätunnus on poistettu. Poistaminen ei koske tallentamiasi oppimateriaaleja ja niiden metatietoja.</p>
<p>Avointen oppimateriaalien palvelu säilyttää ja käyttää yleistä käyttäjätietoa raportointi- ja tilastotarkoituksiin, vastatakseen lainmukaisista velvoitteista, erimielisyyksien selvittämiseksi ja sopimusten noudattamiseksi.</p>

<h2>6. Ota yhteyttä Avointen oppimateriaalien palveluun</h2>
<p>Käyttäjät voivat ottaa yhteyttä Avointen oppimateriaalien palveluun sähköpostitse oppimateriaalivaranto@csc.fi.</p>
<p>Otamme mielellämme vastaan käyttäjien palautetta näistä käyttöehdoista ja muista palveluihimme liittyvistä asioista.</p>
