<article>
  <ng-container [ngSwitch]="lang">
    <ng-container *ngSwitchDefault>
      <h1>Käyttöehdot</h1>

      <em>Voimassa 28.11.2019 alkaen</em>
      <p>Kiitos että käytät avointen oppimateriaalien palvelua. Käyttämällä avointen oppimateriaalien palvelua, hyväksyt samalla nämä ehdot ja sitoudut noudattamaan niitä.</p>
      <p>Perehdy niihin siis huolellisesti!</p>
      <p>Opetus- ja kulttuuriministeriö varaa oikeuden muuttaa näitä ehtoja. Opetus- ja kulttuuriministeriö ilmoittaa kohtuullisessa ajassa ennen muutosten käyttöönottoa käyttäjille olosuhteisiin soveltuvalla tavalla, esimerkiksi palvelun käyttäjätiedotteissa tai sähköpostitse, jos se tekee olennaisia muutoksia näihin ehtoihin.</p>

      <h2>1. Palvelu on tarkoitettu jatkuvaan oppimiseen ja kaikille koulutusasteille</h2>
      <p>Avointen oppimateriaalien palvelu on tarkoitettu kaikille. Käyttäjät voivat käyttää avointen oppimateriaalien palvelua vain sovittuun tarkoitukseen: opetukseen, oppimiseen, osaamiseen, kasvatukseen, koulutukseen ja näiden kehittämiseen.</p>

      <h2>2. Käyttäjänä olet vastuussa tallentamistasi materiaaleista</h2>
      <p>Palvelun tallennustoiminnallisuutta voi käyttää vain avointen oppimateriaalien tallentamiseen. Avoimella oppimateriaalilla tarkoitetaan tässä materiaaleja jotka täyttävät seuraavat ehdot:</p>
      <ul>
        <li>materiaalit ovat opetukseen, oppimiseen, osaamiseen, kasvatukseen tai koulutukseen kohdennettuja digitaalisia materiaaleja</li>
        <li>materiaalit on lisensoitu avoimella lisenssillä, joka antaa muille oikeuden maksuttomaan pääsyyn, käyttöön, muokkaukseen ja uudelleen jakamiseen olemattomin tai vähin rajoituksin</li>
      </ul>
      <p>Edellä tarkoitettuja materiaaleja ovat esimerkiksi pedagogiset videot, oppimiseen tarkoitetut pelit, tehtävät ja tekstimateriaalit sekä opettajan materiaalit. Kiellettyjä sisältöjä ovat yhdenvertaisuutta ja tasa-arvoa loukkaavat tai muuten lain tai hyvän tavan vastaiset sisällöt, virheelliset tai harhaanjohtavat sisällöt sekä muuhun kuin opetukseen tai oppimiseen tarkoitetut sisällöt.</p>
      <p>Avointen oppimateriaalien palvelussa oppimateriaalit tulee lisensoida valitsemallasi CC-lisenssillä. Palveluun tallennettavat oppimateriaalia kuvailevat tiedot (ns. metatiedot) lisensoidaan CC0-lisenssillä. Katso lisätietoja avoimesta lisensoinnista Lisätiedot-osiosta.</p>
      <p>Käyttäjät ovat vastuussa siitä, että heidän tallentamansa sisällöt noudattavat tekijänoikeuslakia (404/1961) ja muuta tekijänoikeuksia koskevaa lainsäädäntöä, sekä materiaaleja sekä sen osiakoskevia Creative Commons tai muita lisenssiehtoja. Käyttäjällä on oltava oikeus julkaista palveluun tallentama materiaali avoimesti lisensoituna. Käyttäjä on velvollinen hankkimaantarvittavat oikeudet mahdollisilta kolmansilta osapuolilta julkaistakseen oppimateriaalin palvelussa. Mikäli epäillään, että materiaalin tallentaminen tai käyttäminen loukkaa kolmannen osapuolen tekijänoikeuksia, on opetus- ja kulttuuriministeriöllä oikeus lopettaa välittömästi materiaalin jakaminen kunnes asia on selvitetty.</p>
      <p>Jos oppimateriaali sisältää henkilötietoja käyttäjä on velvollinen varmistamaan, että tiedot on anonymisoitu luotettavasti tai että hänellä on lupa julkaista näitä henkilötietoja. Materiaalit eivät saa sisältää arkaluonteisia tai voimassa olevaan tietosuojasääntelynmukaisia erityiseen henkilötietoryhmään kuuluvia tietoja.</p>

      <h2>3. Käyttäjänä olet vastuussa palvelun käytöstä ja tallentamistasi kommenteista</h2>
      <p>Avointen oppimateriaalin palvelun käyttäjänä olet vastuussa palvelun käytöstä ja siitä, että palveluun tallentamasi sisältö, ml. oppimateriaalit, kommentit ja muu sisältö, on näiden käyttöehtojen tai mahdollisten palveluosioiden erityisehtojen mukaista. Opetus- ja kulttuuriministeriö ei vastaa miltään osin käyttäjän palvelua käyttäessään aiheuttamista vahingoista tai mahdollisista tekijänoikeusloukkauksista aiheutuvista hyvitys- ja vahingonkorvausvelvollisuuksista. Opetus- ja kulttuuriministeriö ei myöskään vastaa palvelun käytöstä aiheutuneista vahingoista.</p>
      <p>Käyttäjä vastaa siitä, että hänen julkaisema kommentti ei ole lain tai hyvien tapojen, eikä näidenkäyttöehtojen tai mahdollisten palveluosioiden erityisehtojen vastainen. Kommenteissa ei saa olla muuta henkilötietoa kuin kommentoitavan oppimateriaalin tekijän nimi.</p>
      <p>Käyttäjä antaa opetus- ja kulttuuriministeriölle oikeuden käsitellä sisältöä, ml. tallentamiasi oppimateriaaleja, kommentteja ja käyttäjätietoja, palvelun tuottamistarkoituksissa, joita ovat esimerkiksi automaattinen monitorointi, tietoturvahaavoittuvuuksien havainnointi, tunkeutumisen havainnointi ja esto, varmuuskopioiden ottaminen, sisällön kopiointi tai siirto sekä virheiden jäljitys.</p>

      <h2>4. Palvelutason kuvaus ja vastuunrajoitus</h2>
      <p>Avointen oppimateriaalien palvelu pyrkii siihen että palvelussa sijaitsevat oppimateriaalit ovat käytettävissä jatkuvasti ja luotettavasti. Vikatilanteissa palvelupyyntö otetaan käsittelyyn 1-3 työpäivän kuluessa.</p>
      <p>Avointen oppimateriaalien palvelussa säilytetään oppimateriaali sekä kopio siitä eri tallennusalustalla, mutta opetus- ja kulttuuriministeriö ei takaa oppimateriaalin pitkäaikaista säilymistä.</p>
      <p>Opetus- ja kulttuuriministeriö ei takaa, että palvelu toimii virheettömästi ja keskeytyksettä. Avointen oppimateriaalien palvelussa noudatetaan alan parhaita käytäntöjä ja turvallisuustoimenpiteitä.</p>
      <p>Opetus- ja kulttuuriministeriö pidättää oikeuden muuttaa, siirtää tai lopettaa kunkintoiminnallisuuden milloin tahansa.</p>

      <h2>5. Käyttäjätiedot ja niiden poistaminen</h2>
      <p>Avointen oppimateriaalien palvelussa olevia oppimateriaaleja voi etsiä ja käyttää ilman tunnistautumista. Esimerkiksi oppimateriaalien lisääminen ja omien tietojen tarkastelu vaatii kuitenkin tunnistautumisen. Tunnistautuessa sinusta tallentuu myös tietoja palveluun. Lisätietoa tietojen käsittelystä palvelun tietosuojailmoituksesta.</p>
      <p>Opetus- ja kulttuuriministeriö voi harkintansa mukaan sulkea tai keskeyttää käyttäjätunnuksenkäytön ilmoittamatta:</p>
      <ul>
        <li>palveluiden luvattoman käytön vuoksi;</li>
        <li>jos opetus- ja kulttuuriministeriöllä on perusteltu syy epäillä, että palveluja käytetään näiden ehtojen vastaisesti.</li>
      </ul>
      <p>Voit poistaa käyttäjään liittyvät tietosi ml. kommentit, arviot ja kertyneen analytiikan lähettämälläpyynnön opetus- ja  kulttuuriministeriölle <a href="mailto:oppimateriaalivaranto@csc.fi">oppimateriaalivaranto@csc.fi</a> -osoitteeseen. Käyttäjään liittyviä poistettuja tietoja ei voi palauttaa sen jälkeen, kun käyttäjätunnus on poistettu. Poistaminen ei koske tallentamiasi oppimateriaaleja ja niiden metatietoja. Opetus- ja kulttuuriministeriön pidättää kuitenkin oikeuden säilyttää niitä sisältöjä ja henkilötietoja joita tarvitaan kolmansienosapuolien oikeuksien turvaamiseksi esimerkiksi tekijänoikeusloukkauksien osoittamiseksi.</p>
      <p>Opetus- ja kulttuuriministeriöllä on oikeus julkaista yleistiedot käyttäjästä palvelun käyttöraportoinnin yhteydessä. Nämä yleistiedot kattavat käyttäjän organisaation, suosiman oppiaineen ja tallennustilan käyttömäärän.</p>

      <h3>5.1. Oppimateriaalien poistaminen</h3>
      <p>Käyttäjä sitoutuu tallentamaan oppimateriaalinsa pysyvästi palveluun. <strong>Opetus- ja kulttuuriministeriöllä on oikeus poistaa sisältö, jonka se katsoo olevan näiden käyttöehtojen vastaista.</strong> Käyttäjä ei kuitenkaan voi itse poistaa jo tallennettua oppimateriaalia. Oppimateriaalin vanhentuessa oppimateriaali sijoitetaan arkistoon, niin ettei se enää suoraan ole haettavissa, muttaon edelleen käytettävissä. Materiaalien vanhentumisajankohdan voi kuvailutiedoissa määritellä, ei aktiivisessa käytössä oleva materiaali arkistoidaan automaattisesti erikseen määriteltävän ajanjälkeen.</p>
      <p>Lisäämällä sähköpostiosoitteensa käyttäjä voi saada haluamiaan ilmoituksia saapuneista arvioista jakommenteista, uusista oppimateriaaleista ja tulla lisätyksi muokkausoikeudelliseksi käyttäjäksi toisen henkilön tallentamaan oppimateriaaliin. Tämän lisäksi opetus- ja kulttuuriministeriö voi ilmoittaa käyttäjälle muutoksista näihin ehtoihin, käyttökatkoista, palvelutiedoista ja muistatärkeistä asioista.</p>
      <p>Mikäli käyttäjä vaihtaa organisaatiota ja haluaa säilyttää käyttöoikeuden materiaaleihinsa ja muihin tietoihinsa, on hänen</p>
      <ul>
        <li>ennen organisaation muuttumista lisättävä tuleva sähköpostiosoitteensa käyttäjätietoihinsa</li>
        <li>vaihdon jälkeen otettava yhteys uudesta sähköpostiosoitteesta avointen oppimateriaalien palveluun.</li>
      </ul>

      <h2>6. Jos jotain menee pieleen</h2>
      <p>Jos huomaat palvelussa tai jossain siinä sijaitsevassa materiaalissa näiden käyttöehtojen vastaista sisältöä, ota yhteys palvelun ylläpitoon <a href="mailto:oppimateriaalivaranto@csc.fi">oppimateriaalivaranto@csc.fi</a>. Ylläpitäjä välittää viestin palvelun omistajalle ja poistaa materiaalin selvityksen ajaksi jakelusta. Otamme mielellämme vastaan käyttäjien palautetta näistä käyttöehdoista ja muista palveluihimme liittyvistä asioista osoitteeseen <a href="mailto:oppimateriaalivaranto@csc.fi">oppimateriaalivaranto@csc.fi</a>.</p>
      <p>Palvelun käyttöön liittyvät mahdolliset erimielisyydet käsitellään osapuolten kesken ja tarvittaessa Helsingin käräjäoikeudessa.</p>
    </ng-container>

    <!--<ng-container *ngSwitchCase="'en'"></ng-container>-->

    <!--<ng-container *ngSwitchCase="'sv'"></ng-container>-->
  </ng-container>
</article>
