@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

// Custom styles
$form-border-color: #DEDEDE;
$input-label-color: #464646;
$navbar-bg-hover: #1D661F;

$footer-bg-color: #616161;

$media-body-color: #696868;

$btn-light: #EAEAEA;
$btn-light-hover: darken($btn-light, 15%);
$btn-dark: #9A937D;
$btn-dark-hover: darken($btn-dark, 15%);

$panel-body-color: #6D6D6D;

$comment-odd-bg-color: #f2f2f2;

body {
  font-size: 16px;
}

.font-weight-medium {
  font-weight: 500;
}

.font-navbar {
  @include font-size(15);
  font-weight: 500;
}

.app-footer {
  background: $gray-800;
  color: #fff;
}

.base-heading-style {
  font-weight: 400;
  @include font-size(24);
}

// Forms
label {
  &:not(.custom-file-label) {
    color: $input-label-color;
    @include font-size(12);
  }
}

.form-control {
  border-radius: 2px;
  @include font-size(16);
}

.custom-file-label {
  border-radius: 2px;
}

// Search form
.search-form {
  #searchQuery {
    background-color: rgba(#000, .33);
    border-color: rgba(#000, .33);
    color: $white;

    &::placeholder {
      color: $white;
    }
  }
}

// Hint text
.hint-text-select {
  color: rgba(0, 0, 0, 0.3799999952316284);
  @include font-size(16);
}

.hint-text::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  @include font-size(16);
}

.hint-text::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  @include font-size(16);
}

.hint-text:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  @include font-size(16);
}

.hint-text:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  @include font-size(16);
}

// Typography
h1 {
  color: $primary-theme-color;
  @include font-size(20);
  margin-bottom: 1rem;
}

h2 {
  color: $primary-theme-color;
  @include font-size(24);
  margin-bottom: 24px;
}

// Navigation
#main-navigation {
  padding: 0 1rem;

  .navbar-brand {
    color: $white;
  }

  .nav-link {
    color: $white;
    @include font-size(15);
    font-weight: 500;
    padding: 1.5rem 2rem;

    &.active,
    &:active,
    &:hover {
      background-color: $navbar-bg-hover;
    }
  }

  .nav-languages {
    .nav-link {
      border-radius: 0;
      padding: .25rem .5rem;
    }
  }
}

.nav-multistep-form {
  @include font-size(18);

  .nav-link {
    color: #757575;
    padding: 0;

    &.active {
      color: $primary-theme-color;
      font-weight: 500;
    }
  }

  .nav-separator {
    @include font-size(24);
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.content-wrapper {
  padding: 1.5rem 0;
}

// Footer
.app-footer {
  background-color: $footer-bg-color;
  display: block;
  padding-bottom: 1rem;
  padding-top: 1rem;

  h2 {
    color: $white;
    @include font-size(30);
    margin-bottom: 1rem;
  }

  .nav-link {
    color: $white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.logos {
  padding-bottom: .75rem;
  padding-top: .75rem;

  img {
    margin-bottom: .75rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }

  span {
    color: #373737;
    display: block;
    @include font-size(12);
  }
}

// Tags
.tags {
  .btn {
    @include font-size(14);
    font-weight: 400;
    margin-bottom: .25rem;
    margin-right: .25rem;
    padding: .25rem .5rem;
    text-align: left;
  }

  .btn-light {
    background-color: $btn-light;
    border-color: $btn-light;

    &:focus,
    &:hover {
      background-color: $btn-light-hover;
    }
  }

  .btn-dark {
    background-color: $btn-dark;
    border-color: $btn-dark;

    &:focus,
    &:hover {
      background-color: $btn-dark-hover;
    }
  }
}

// Temp
.btn {
  &.disabled {
    opacity: 1;
  }
}

// Oppimateriaali card
.card-educational-material {
  background-color: map_get($theme-colors, 'light');
  margin-bottom: 1rem;
  padding: 1rem 1rem .5rem;

  .header {
    border-bottom: 2px solid;
    border-color: $body-bg;
    color: $media-body-color;
    display: block;
    padding-bottom: .25rem;

    &:hover {
      color: rgba($media-body-color, .75);
      text-decoration: none;

      h5 {
        color: rgba($body-color, .75);
      }
    }

    h5 {
      color: $body-color;
      margin-top: 0;
    }
  }

  .tags {
    border-bottom: 2px solid;
    border-color: $body-bg;
    padding-top: .25rem;

    .btn {
      border-radius: 0;
    }
  }

  .details {
    padding-top: .5rem;

    .comments {
      background-image: url(assets/img/icons/ic_comments.svg);
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      font-weight: 700;
      height: 28px;
      margin-right: .5rem;
      text-align: center;
      width: 28px;
    }

    .rating {
      margin-right: 1rem;

      img {
        &:not(:last-of-type) {
          margin-right: .125rem;
        }
      }
    }

    .license {
      font-weight: 700;
      vertical-align: middle;
    }
  }
}

.bg-light {
  .card-educational-material {
    background-color: $white;

    .header {
      border-color: map_get($theme-colors, 'light');
    }

    .tags {
      border-color: map_get($theme-colors, 'light');
    }
  }
}

// Oppimateriaali SingleView
#material-view {
  h4 {
    @include font-size(14);
  }
}

.material-actions {
  a {
    color: $blue;
    font-size: 1rem;

    &:focus,
    &:hover {
      color: $blue-hover;
      text-decoration: none;
    }
  }
}

.material-content {
  h2 {
    color: $black;
    margin-bottom: .5rem;
  }

  .license {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .list-files {
    .btn {
      padding: 0;
    }
  }
}

.material-metadata {
  [class^="col"] {
    margin-bottom: 1rem;
  }

  .panel-group {
    .panel-heading {
      border-bottom: 0;
    }

    .accordion-toggle {
      padding: 0;
    }

    .panel-body {
      color: $body-color;
      padding: 0;
    }
  }
}

.material-sidebar-left {
  .list-unstyled {
    li {
      &:not(:last-child) {
        margin-bottom: .25rem;
      }
    }
  }
}

.material-sidebar-right {
  h2 {
    background-color: $primary-theme-color;
    color: $white;
    display: block;
    @include font-size(18);
    font-weight: 400;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
  }

  h3 {
    @include font-size(14);
    font-weight: 700;
  }

  .rating {
    margin-bottom: 1rem;

    img {
      &:last-of-type {
        margin-right: .5rem;
      }
    }
  }
}

.material-description {
  margin-bottom: 1rem;
}

.material-comments {
  .material-comments-item {
    border: 1px solid $border-color;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include font-size(14);
    margin-bottom: 1rem;
    padding: .75rem 1rem;

    &:nth-child(even) {
      border-top-right-radius: 1rem;
    }

    &:nth-child(odd) {
      background-color: $comment-odd-bg-color;
      border-color: $comment-odd-bg-color;
      border-top-left-radius: 1rem;
    }

    h4 {
      @include font-size(14);
      font-weight: 700;
    }

    p {
      line-height: 1.25;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .material-comments-item-datetime {
      display: inline-block;
      margin-bottom: .25rem;
    }
  }
}

// Learning resource types
.learning-resource-type-icon {
  margin-right: .5rem;
  max-height: 1.125rem;
  max-width: 1.125rem;
}

// FAQ
.panel-group {
  .panel {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .panel-heading {
    background-color: transparent;
    padding: 0;
  }

  .accordion-toggle {
    cursor: pointer;
    font-weight: 700;
    padding: .75rem 1.25rem;

    .fa {
      color: $blue;
    }
  }

  .panel-body {
    color: $panel-body-color;

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Home
#home-search-block {
  background-image: url(../assets/img/AdobeStock_210031646.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

// Media queries

// CoreUI overrides
@include media-breakpoint-down(md) {
  .app-body {
    margin-top: 0;
  }
}

@media (min-width: map_get($grid-breakpoints, 'md')) {
  h1 {
    @include font-size(32);
    margin-bottom: 2rem;
  }
}

@media (min-width: map_get($grid-breakpoints, 'lg')) {
  h1 {
    margin-bottom: 3rem;
  }
}
