@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


// Custom styles


$form-border-color: #DEDEDE;
$input-label-color: #464646;
$navbar-bg-hover: #1D661F;

$media-body-color: #696868;

$badge-light-bg: #EAEAEA;
$badge-light-bg-hover: darken($badge-light-bg, 15%);
$badge-dark-bg: #9A937D;
$badge-dark-bg-hover: darken($badge-dark-bg, 15%);

body {
  font-size: 16px;
}

/*@media (min-width: 1920px) {
  .container {
    max-width: 1860px;
  }
}*/

.font-weight-medium {
  font-weight: 500;
}


.font-navbar {
  font-size: 15px;
  font-weight: 500;
}


.app-footer {
  background: $gray-800;
  color: #fff;

}

.base-heading-style {
  font-weight: 400;
  font-size:24px;
}


// Forms

.form-group {
  label {
    color: $input-label-color;
    font-size: 12px;
  }
  .form-control {
    border-radius: 2px;
  }
}

.hint-text-select {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

.hint-text::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

.hint-text::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}
.hint-text:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

.hint-text:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

// Typography

h1 {
  color: $primary-theme-color;
  font-size: 34px;
}

h2 {
  color: $primary-theme-color;
  font-size: 24px;
  margin-bottom: 24px;
}

// Navigation
#main-navigation {
  padding: 0 1rem;

  .navbar-brand {
    color: $white;
  }

  .nav-link {
    color: $white;
    font-size: .9375rem;
    font-weight: 500;
    padding: 1.5rem 2rem;

    &.active,
    &:active,
    &:hover {
      background-color: $navbar-bg-hover;
    }
  }

  .nav-languages {
    .nav-link {
      padding: .25rem;
    }
  }
}

// Tags
.tags {
  .badge {
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: .25rem;
    padding: .5rem;

    &:not(:last-child) {
      margin-right: .25rem;
    }
  }

  .badge-light {
    background-color: $badge-light-bg;

    &:focus,
    &:hover {
      background-color: $badge-light-bg-hover;
    }
  }

  .badge-dark {
    background-color: $badge-dark-bg;

    &:focus,
    &:hover {
      background-color: $badge-dark-bg-hover;
    }
  }
}

// Oppimateriaali card
.card-oppimateriaali {
  background-color: map_get($theme-colors, 'light');
  margin-bottom: 1rem;
  padding: 1rem;

  .media {
    border-bottom: 2px solid;
    border-color: $body-bg;
    padding-bottom: .25rem;

    .media-body {
      color: $media-body-color;

      h5 {
        color: $body-color;
        margin-top: 0;
      }
    }
  }

  .tags {
    border-bottom: 2px solid;
    border-color: $body-bg;
    padding-top: .25rem;

    .badge {
      border-radius: 0;
    }
  }

  .details {
    padding-top: .25rem;

    .comments {
      background-image: url(assets/img/icons/ic_comments.svg);
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      display: inline-block;
      font-weight: 700;
      height: 28px;
      margin-right: .5rem;
      text-align: center;
      vertical-align: text-top;
      width: 28px;
    }

    .rating {
      margin-right: 1rem;
      vertical-align: top;
    }

    .license {
      font-weight: 700;
    }
  }
}

.bg-light {
  .card-oppimateriaali {
    background-color: $white;

    .media {
      border-color: map_get($theme-colors, 'light');
    }

    .tags {
      border-color: map_get($theme-colors, 'light');
    }
  }
}

// Oppimateriaali SingleView
#material-view {
  h4 {
    font-size: .875rem;
  }

  .tags {
    margin-bottom: 1rem;
  }
}

.material-content {
  h2 {
    color: $black;
    margin-bottom: .5rem;
  }
}

.material-sidebar-left {
}

.material-sidebar-right {
  h2 {
    background-color: $primary-theme-color;
    color: $white;
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
  }
}
