@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


// Custom styles


$form-border-color: #DEDEDE;
$input-label-color: #464646;

body {
  font-size: 16px;
}


.app {
  max-width: 1920px;
  margin: 0 auto;
}

.font-weigh-medium {
  font-weight: 500;
}


.font-navbar {
  font-size: 15px;
  font-weight: 500;
  //line-height: 18px;
}


.app-footer {
  background: $gray-800;
  color: #fff;

}

.base-heading-style {
  font-weight: 400;
  font-size:24px;
}


// Forms

.form-group {
  label {
    color: $input-label-color;
    font-size: 12px;
  }
  .form-control {
    border-radius: 2px;
  }
}

.hint-text-select {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

.hint-text::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

.hint-text::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}
.hint-text:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

.hint-text:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3799999952316284);
  font-size: 16px;
}

// Typography

h1 {
  color: $primary-theme-color;
  font-size: 34px;
}

h2 {
  color: $primary-theme-color;
  font-size: 24px;
  margin-bottom: 24px;
}



