
// Bootstrap variables override

$primary-theme-color: #1D891F;
$secondary-theme-color: #1D7D1F;
$blue: #1F79BF;

$theme-colors: (
  primary:  $primary-theme-color,
  secondary: $secondary-theme-color,
  blue: $blue,
  light: #f9f9f9
);

$body-bg: #fff;

$font-family-sans-serif: 'Roboto', sans-serif;

// Forms
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1rem;
