
// Bootstrap variables override

$primary-theme-color: #1D891F;
$secondary-theme-color: #1D7D1F;
$blue: #1F79BF;
$blue-hover: darken($blue, 15%);
$light: #f9f9f9;
$gray: #757575;
$dark: #2f353a;

$theme-colors: (
  primary:  $primary-theme-color,
  secondary: $secondary-theme-color,
  blue: $blue,
  light: $light,
  gray: $gray,
  dark: $dark
);

$body-bg: #fff;

$font-family-sans-serif: 'Roboto', sans-serif;

// Forms
$input-btn-padding-y: .5rem;
$input-btn-padding-x: .75rem;
$input-padding-y: .5rem;
$input-padding-x: .5rem;
$input-color: #373737;

$custom-file-text: (
  en: "Browse",
  fi: "Valitse",
  sv: "Browse"
);

// Buttons
$btn-font-weight: 700;

// Components
$border-radius: .125rem;
$border-color: #e0e0e0;

// Links
$link-color: $blue;
$link-hover-color: $blue-hover;
