
// Bootstrap variables override

$primary-theme-color: #1D891F;
$secondary-theme-color: #1D7D1F;
$blue: #1F79BF;
$blue-hover: darken($blue, 15%);
$light: #e9e9e9;
$gray: #757575;
$dark: #2f353a;

$theme-colors: (
  primary:  $primary-theme-color,
  secondary: $secondary-theme-color,
  blue: $blue,
  light: $light,
  gray: $gray,
  dark: $dark
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 3),
      6: ($spacer * 4),
      7: ($spacer * 5)
    ),
    $spacers
);

$body-bg: #fff;

$font-family-sans-serif: 'Roboto', sans-serif;

// Forms
$input-btn-padding-y: .5rem;
$input-btn-padding-x: .75rem;
$input-padding-y: .5rem;
$input-padding-x: .5rem;
$input-color: #373737;

$custom-file-text: (
  en: "Browse",
  fi: "Valitse",
  sv: "Välja"
);

// Buttons
$btn-font-weight: 700;

// Components
$border-radius: .125rem;
$border-color: #e0e0e0;

// Links
$link-color: $blue;
$link-hover-color: $blue-hover;
