<nav *ngIf="!embedded" class="navbar navbar-expand-lg navbar-dark bg-primary" id="main-navigation">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/etusivu">
      <img [src]="brand[translate.currentLang].img" [alt]="brand[translate.currentLang].alt" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      [attr.aria-label]="'navigation.toggler.aria.label' | translate">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/etusivu" routerLinkActive="active">{{ "navigation.home" | translate }}</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/kokoelmat" routerLinkActive="active">
            {{ "navigation.collections" | translate }}
          </a>
        </li>
        <li
          class="nav-item"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          *ngIf="authService.hasUserData()">
          <a class="nav-link" routerLink="/omat-oppimateriaalit" routerLinkActive="active">
            {{ "navigation.myMaterials" | translate }}
          </a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/lisatietoa" routerLinkActive="active">{{ "navigation.info" | translate }}</a>
        </li>
      </ul>

      <nav
        class="nav ml-auto nav-languages flex-lg-row"
        [attr.aria-label]="'navigation.langSelector.label' | translate">
        <ng-container *ngFor="let lang of translate.getLangs()">
          <button
            class="btn btn-link nav-link"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            (click)="changeLanguage(lang)"
            [ngClass]="translate.currentLang === lang ? 'active' : ''"
            [lang]="lang">
            <span class="sr-only">{{ languages.get(lang)["srText"] }}</span>
            <span aria-hidden="true">{{ languages.get(lang).label }}</span>
          </button>
        </ng-container>
      </nav>

      <app-nav-login></app-nav-login>
    </div>
  </div>
</nav>

<div *ngIf="alerts && !embedded" class="alerts">
  <alert *ngIf="alerts.allas" [type]="alerts.allas.alertType">
    <div class="container">{{ alerts.allas.message[translate.currentLang] }}</div>
  </alert>

  <alert *ngIf="alerts.login" [type]="alerts.login.alertType">
    <div class="container">{{ alerts.login.message[translate.currentLang] }}</div>
  </alert>
</div>

<!-- Service Notifications -->
<ng-container *ngIf="!embedded">
  <div
    *ngFor="let notification of serviceNotifications$ | async"
    class="alert alert-{{ notification.type === 'ERROR' ? 'danger' : 'warning' }} mb-0"
    role="alert">
    <div class="container">
      <span class="service-notification" [innerHTML]="notification.text"></span>
    </div>
  </div>
</ng-container>

<div *ngIf="!embedded" class="app-body">
  <!-- Main content -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

<footer *ngIf="!embedded" class="app-footer">
  <div class="container">
    <h2 class="text-center">{{ "footer.name" | translate }}</h2>
    <div class="row justify-content-md-center text-md-center">
      <div class="col-sm-6 col-md">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="/kayttoehdot">{{ "navigation.termsOfUse" | translate }}</a>
          </li>
          <li class="nav-item">
            <a routerLink="/tietosuojailmoitus">{{ "navigation.privacyPolicy" | translate }}</a>
          </li>
          <li class="nav-item">
            <a routerLink="/saavutettavuusseloste">{{ "navigation.accessibilityPolicy" | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-auto">
        <ul class="nav flex-column center-item">
          <li class="nav-item">
            {{ "footer.feedback" | translate }}:
            <a href="mailto:aoe@oph.fi">aoe@oph.fi</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="https://twitter.com/AOE_Suomi">{{ "footer.twitter" | translate }}</a>
          </li>
          <li class="nav-item">
            <a href="https://finna.fi/">Finna.fi</a>
          </li>
          <li class="nav-item">
            <a href="https://wiki.eduuni.fi/pages/viewrecentblogposts.action?key=CscOppimateriaalivaranto">
              {{ "footer.blog" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div *ngIf="!embedded" class="logos">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <img
          [src]="logos.okm[translate.currentLang].src"
          [alt]="logos.okm[translate.currentLang].alt"
          class="img-fluid" />
      </div>

      <div class="col-auto text-center">
        <img src="assets/img/logos/csc.png" alt="CSC" class="img-fluid" />
        <span>{{ "footer.developer" | translate }}</span>
      </div>

      <div class="col-auto">
        <img
          [src]="logos.oph[translate.currentLang].src"
          [alt]="logos.oph[translate.currentLang].alt"
          class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<app-cookie-notice *ngIf="showNotice && !embedded" (hideCookieNotice)="hideCookieNotice()"></app-cookie-notice>

<div *ngIf="embedded">
  The website has been embedded and blocked due to suspicious activity.
  <br />
  <br />
  Check that you are visiting the original site https://aoe.fi.
</div>
