<div class="card-oppimateriaali">
  <div class="media">
    <img src="https://via.placeholder.com/100x135" class="mr-3" alt="...">
    <div class="media-body">
      <a href="#"><h5>Lorem ipsum dolor sit amet consectetur adipiscing</h5></a>
      Lorem ipsum dolor sit amet consectetur adipiscing...
    </div>
  </div>

  <div class="tags">
    <a href="#" class="badge badge-light">elämänkatsomustieto</a>
    <a href="#" class="badge badge-light">uskonto</a>
    <a href="#" class="badge badge-light">uskonto</a>
    <a href="#" class="badge badge-light">uskonto</a>
    <a href="#" class="badge badge-light">elämänkatsomustieto</a>
    <a href="#" class="badge badge-light">uskonto</a>
    <a href="#" class="badge badge-light">elämänkatsomustieto</a>
  </div>

  <div class="tags">
    <a href="#" class="badge badge-light">yläaste</a>
    <a href="#" class="badge badge-light">lukio</a>
  </div>

  <div class="details">
    <span class="comments">2</span>
    <span class="rating">
          <img src="assets/img/icons/ic_star.svg" alt="...">
          <img src="assets/img/icons/ic_star.svg" alt="...">
          <img src="assets/img/icons/ic_star.svg" alt="...">
          <img src="assets/img/icons/ic_star.svg" alt="...">
          <img src="assets/img/icons/ic_star.svg" alt="...">
        </span>
    <span class="license">CC-BY</span>
    <span class="type pull-right">video</span>
  </div>
</div>
