<div class="py-4 px-0" id="material-view">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <button class="btn btn-link" (click)="goBack()">&lsaquo; {{ 'common.goBack' | translate }}</button>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-6">
        <h1>{{ educationalMaterial.name }}</h1>
      </div>

      <div class="col-lg-6 text-lg-right">
        <div class="material-actions">
          <!--<a href="#" class="btn btn-link disabled">
            <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
            {{ 'demo.educationalMaterial.edit' | translate }}
          </a>
          <a href="#" class="btn btn-link disabled">
            <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
            {{ 'demo.educationalMaterial.delete' | translate }}
          </a>
          <a href="#" class="btn btn-link disabled">
            <i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>
            {{ 'demo.educationalMaterial.addToCollection' | translate }}
          </a>-->
          <a href="#" class="btn btn-link">
            <i class="fa fa-fw fa-download" aria-hidden="true"></i>
            {{ 'demo.educationalMaterial.download' | translate }}
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="material-sidebar-left">
          <div class="row">
            <div class="col-12 col-sm-auto text-center text-sm-left">
              <img [attr.src]="educationalMaterial.img ? educationalMaterial.img : 'assets/img/material.png'" class="img-fluid mb-4" alt="...">
            </div>

            <div class="col">
              <ul class="list-unstyled">
                <li *ngFor="let learningResourceType of educationalMaterial.learningResourceType">
                  <img src="assets/img/icons/learning-resource-types/{{ lrtSvc.getLearningResourceTypeIcon(learningResourceType) }}" alt="">
                  {{ lrtSvc.getLearningResourceTypeValue(learningResourceType) }}
                </li>
                <li class="text-muted">
                  <i class="fa fa-fw fa-download" aria-hidden="true"></i>
                  0 {{ 'demo.educationalMaterial.viewCount' | translate }}
                </li>
                <li class="text-muted">
                  <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                  0 {{ 'demo.educationalMaterial.downloadCount' | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-9">
        <div class="material-content">
          <div class="material-description">
            <p>{{ educationalMaterial.description }}</p>
            <span *ngFor="let author of educationalMaterial.author">{{ author.firstName }} {{ author.lastName }}</span>
          </div>

          <div class="mb-4">
            <app-educational-material-preview [mainMaterial]="mainMaterial"></app-educational-material-preview>
          </div>

          <div class="row">
            <div class="col-12 col-md-4">
              <h4>{{ 'demo.educationalMaterial.eduLevel' | translate }}</h4>

              <div class="tags">
                <a href="#" class="btn btn-light"
                   *ngFor="let educationalLevel of educationalMaterial.educationalLevel">
                  {{ educationalLevel.value }}
                </a>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <h4>{{ 'demo.educationalMaterial.eduSubject' | translate }}</h4>

              <div class="tags">
                <a href="#" class="btn btn-light">{{ 'demo.educationalMaterial.subject' | translate }}</a>
              </div>
            </div>

            <div class="col-12 col-md-2">
              <h4>{{ 'demo.educationalMaterial.inLanguage' | translate }}</h4>
              {{ educationalMaterial.inLanguage.value }}
            </div>

            <div class="col-12 col-md-2">
              <h4>{{ 'demo.educationalMaterial.timeRequired' | translate }}</h4>
              {{ educationalMaterial.timeRequired.value }}
            </div>
          </div>

          <div class="row" *ngIf="educationalMaterial.materials.length > 0">
            <div class="col">
              <h2>{{ 'demo.educationalMaterial.otherFiles' | translate }}</h2>

              <ul class="list-unstyled">
                <li *ngFor="let material of educationalMaterial.materials">
                  <i class="fa fa-fw fa-file" aria-hidden="true"></i>
                  {{ material?.file?.originalFilename }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="col-12 col-lg-3">
        <div class="material-sidebar-right">
          <h2>{{ 'demo.educationalMaterial.userMetadata' | translate }}</h2>

          &lt;!&ndash; @todo: replace with component &ndash;&gt;
          <h3>{{ 'demo.educationalMaterial.eduLevel' | translate }}</h3>

          &lt;!&ndash;<div class="tags">
            <a href="#" class="btn btn-dark"
               *ngFor="let educationalLevel of educationalMaterial.educationalLevel">
              {{ educationalLevel.value | lowercase }} &times;
            </a>
          </div>&ndash;&gt;

          &lt;!&ndash; @todo: replace with component &ndash;&gt;
          <h3>{{ 'demo.educationalMaterial.eduSubject' | translate }}</h3>

          &lt;!&ndash;<div class="tags">
            <a href="#" class="btn btn-dark disabled"
               *ngFor="let subject of educationalMaterial.educationalSubject">
              {{ subject | lowercase }} &times;
            </a>
          </div>&ndash;&gt;

          <h2>{{ 'demo.educationalMaterial.userReviews' | translate }}</h2>

          &lt;!&ndash; @todo: replace with component &ndash;&gt;
          <div class="rating">
            <h3>{{ 'demo.educationalMaterial.rating' | translate }} (0)</h3>

            &lt;!&ndash;<img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">
            <img src="assets/img/icons/ic_star.svg" alt="...">

            <a href="#" class="text-blue">&#43; {{ 'demo.educationalMaterial.addReview' | translate }}</a>&ndash;&gt;
          </div>

          &lt;!&ndash; @todo: replace with component &ndash;&gt;
          <div class="material-comments">
            <h3>{{ 'demo.educationalMaterial.comments' | translate }} (0)</h3>

            &lt;!&ndash;<div class="material-comments-item">
              <h4>Anne Virtanen</h4>
              <span class="material-comments-item-datetime">21.2.2018 08:11</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum, eros eu pharetra… dignissim, neque erat porta enim, at fringilla sem nulla ut sem.</p>
            </div>

            <div class="material-comments-item">
              <h4>Anne Virtanen</h4>
              <span class="material-comments-item-datetime">21.2.2018 08:11</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum, eros eu pharetra… dignissim, neque erat porta enim, at fringilla sem nulla ut sem.</p>
            </div>

            <a href="#" class="text-blue">{{ 'demo.educationalMaterial.showAllComments' | translate }}</a>&ndash;&gt;
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
