<div class="content-wrapper bg-light">
  <div class="container">
    <div class="row">
      <div class="col justify-content-center">
        <div class="text-center">
          <h2>{{ 'demo.materialList.title' | translate }}</h2>
        </div>
      </div>
    </div><!--/.row-->

    <div class="row">
      <div class="col-md-4" *ngFor="let demoMaterial of demoMaterials">
        <app-oppimateriaali-card
          [demoMaterial]="demoMaterial">
        </app-oppimateriaali-card>
      </div>
    </div><!--/.row-->
  </div>
</div>
