<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="material">
  <div class="form-group">
    <div class="form-row align-items-end">
      <div class="col" formGroupName="name">
        <label for="name">{{ 'forms.educationalResource.files.materialName.label.' + lang | translate }}*</label>

        <button
          type="button"
          class="btn btn-link"
          [tooltip]="'forms.educationalResource.files.materialName.tooltip' | translate"
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>

        <input
          type="text"
          class="form-control"
          id="name"
          [formControlName]="lang"
          [ngClass]="{ 'is-invalid': submitted && nameCtrl.errors }"
        >

        <div *ngIf="submitted && nameCtrl.errors" class="invalid-feedback">
          <div *ngIf="nameCtrl.errors.required">{{ 'forms.common.required' | translate }}</div>
        </div>
      </div>

      <div class="col-auto">
        <button
          type="button"
          class="btn btn-gray"
          (click)="openTranslationsModal(nameI18n)"
        >{{ 'forms.common.translations.label' | translate }}</button>

        <button
          type="button"
          class="btn btn-link"
          [tooltip]="'forms.common.translations.tooltip' | translate"
        ><img src="assets/img/icons/ic_help.svg" alt=""></button>
      </div>
    </div>

    <ng-template #nameI18n>
      <div class="modal-header">
        <h5 class="modal-title">{{ 'forms.educationalResource.files.materialName.modal.title' | translate }}</h5>

        <button type="button" class="close" [attr.aria-label]="'forms.common.close' | translate" (click)="translationsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" formGroupName="name">
        <h4>{{ 'forms.educationalResource.files.materialName.modal.subtitle' | translate }}</h4>

        <div class="form-group">
          <label for="name2">{{ 'forms.educationalResource.files.materialName.label.' + otherLangs[0] | translate }}</label>

          <input
            type="text"
            class="form-control"
            id="name2"
            [formControlName]="otherLangs[0]"
          >
        </div>

        <div class="form-group">
          <label for="name3">{{ 'forms.educationalResource.files.materialName.label.' + otherLangs[1] | translate }}</label>

          <input
            type="text"
            class="form-control"
            id="name3"
            [formControlName]="otherLangs[1]"
          >
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-gray" [attr.aria-label]="'forms.common.cancel' | translate" (click)="translationsModalRef.hide()">{{ 'forms.common.cancel' | translate }}</button>
        <button type="button" class="btn btn-blue" (click)="translationsModalRef.hide()">{{ 'forms.common.saveChanges' | translate }}</button>
      </div>
    </ng-template>
  </div>

  <ng-container *ngIf="material.files?.length > 0">
    <h3>{{ 'forms.educationalResource.files.uploadedFiles.title' | translate }}</h3>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'forms.educationalResource.files.uploadedFiles.fileOrLink' | translate }}</th>
        <th scope="col">{{ 'forms.educationalResource.files.uploadedFiles.language' | translate }}</th>
        <th scope="col">{{ 'forms.educationalResource.files.uploadedFiles.actions' | translate }}</th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let file of material.files">
        <tr>
          <th scope="row">{{ file.priority + 1 }}</th>
          <td>{{ file.file }}{{ file.link }}</td>
          <td>{{ file.language }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile(+file.id)">
              {{ 'forms.common.delete' | translate }}
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-cancel"
        (click)="cancel()"
      >{{ 'forms.common.abort' | translate }}</button>
    </div>

    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-blue"
      >{{ 'forms.common.next' | translate }}</button>
    </div>
  </div>
</form>
