name: Build
on:
  workflow_call:

concurrency: build-${{ github.ref }}

env:
  DOCKER_BUILDKIT: "1" # BuildKit is enabled by default starting in Docker v23, Ubuntu 22.04 has an older version

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    name: 01-build.sh
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Send build status "in progress"
        if: github.ref == 'refs/heads/main'
        uses: ./.github/actions/build_status
        with:
          task: build-image
          status: inProgress
          api_key: ${{ secrets.RADIATOR_AUTH_TOKEN }}


      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run 01-build.sh
        run: ./deploy-scripts/01-build.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TRUST_STORE_PASSWORD: ${{ secrets.TRUST_STORE_PASSWORD }}
  lint:
    name: 02-lint.sh
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Run 02-lint.sh
        run: ./deploy-scripts/02-lint.sh

  push_image:
    name: 03-push-image.sh
    if: github.ref == 'refs/heads/main'
    needs: [ lint, build, run-tests ]
    permissions:
      packages: write
      id-token: write
      contents: read
    runs-on: 'ubuntu-24.04'
    steps:
      - name: Fetch history for all branches and tags
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
      - name: Push image
        uses: ./.github/actions/push_image
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          aws-arn: ${{ secrets.AWS_AOE_UTILITY_ROLE_ARN }}
  run-tests:
    name: 02-1-run-tests.sh
    needs: build
    permissions:
      packages: write
      id-token: write
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4
        with:
          role-to-assume: ${{ secrets.AWS_AOE_UTILITY_ROLE_ARN }}
          role-session-name: aoe-runner-run-tests
          aws-region: eu-west-1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Run 02-1-run-tests.sh
        run: ./deploy-scripts/02-1-run-tests.sh

      - name: Upload Playwright results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: playwright-blob
          path: playwright-results/blob-report
          retention-days: 1
  build_status_completed:
    name: Send build status
    needs: [push_image]
    if: ${{ always() && github.ref == 'refs/heads/main' }}
    continue-on-error: true
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: ./.github/actions/build_status
        with:
          task: build-image
          status: ${{ needs.push_image.result == 'success' && 'success' || 'failure' }}
          api_key: ${{ secrets.RADIATOR_AUTH_TOKEN }}

