name: Deploy QA

on:
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to deploy
        required: false
        default: green-dev

concurrency: deploy-qa

env:
  DOCKER_BUILDKIT: "1"

defaults:
  run:
    shell: bash

jobs:
  deploy_qa:
    name: 05-deploy-qa.sh
    permissions:
      packages: read
      id-token: write
      contents: write
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout all branches and tags with full history
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0

      - name: Send build status "in progress"
        uses: ./.github/actions/build_status
        with:
          task: deploy-qa
          status: inProgress
          api_key: ${{ secrets.RADIATOR_AUTH_TOKEN }}

      - name: Configure qa AWS credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4
        with:
          role-to-assume: ${{ secrets.AWS_AOE_QA_ROLE_ARN }}
          role-session-name: aoe-runner-deploy-qa
          aws-region: eu-west-1

      - name: Run CDK Deploy
        run: ./deploy-scripts/05-deploy-qa.sh deploy

      - name: Tag deploy
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag --force green-qa
          git push --force origin green-qa

  deployment_status_completed:
    name: Send deployment status
    needs: [deploy_qa]
    if: always()
    continue-on-error: true
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: ./.github/actions/build_status
        with:
          task: deploy-qa
          status: ${{ needs.deploy_qa.result == 'success' && 'success' || 'failure' }}
          api_key: ${{ secrets.RADIATOR_AUTH_TOKEN }}
