<div class="material-preview" [ngSwitch]="material?.file?.format">
  <app-video-preview *ngSwitchCase="'video'" [material]="material"></app-video-preview>

  <app-audio-preview *ngSwitchCase="'audio'" [material]="material"></app-audio-preview>

  <app-pdf-preview *ngSwitchCase="'pdf'" [material]="material"></app-pdf-preview>

  <app-html-preview *ngSwitchCase="'html'" [material]="material"></app-html-preview>

  <!--<app-office-preview *ngSwitchCase="'word' || 'powerpoint'" [material]="material"></app-office-preview>-->

  <app-image-preview *ngSwitchCase="'image'" [material]="material"></app-image-preview>

  <em *ngSwitchDefault>{{ 'demo.educationalMaterial.preview.noSupportedFile' | translate }}</em>
</div>
